<div style="width: 90%; border: 1px solid #d6b36a; margin: 0 auto; text-align:center;padding: 20px 50px;">
	<center><img style="width: 250px;margin: 20px;" src="http://c8b0600.online-server.cloud/image/OIAM_Logo.png"></center>
	<p >
		Vous avez reçu une demande d'entretien de la part de <b><%= @entreprise %></b> le <p><%= l @cadre_info.agenda_admin.entretien_date, :format => :long %> UTC</p>.
	</p>
	<p>
		Pour le consulter, veuillez <a href="http://localhost:3000/cadre/suivi-recrutement/<%= @ofc.id %>/mon-progression">cliquer ici.</a>
	</p>
</div>	