<div style="width: 90%; border: 1px solid #d6b36a; margin: 0 auto; text-align:center;padding: 20px 50px;">
	<center><img style="width: 250px;margin: 20px;" src="http://c8b0600.online-server.cloud/image/OIAM_Logo.png"></center>
	<p>
		Vous avez reçu une promesse d'embauche de la part de <b><%= @promise.offre_job.client.entreprise.name %></b> pour le poste de <b><%= @promise.offre_job.intitule_pote %></b>.
	</p>
	<p>
		Pour le consulter, veuillez <a href="http://c8b0600.online-server.cloud/cadre/suivi-recrutement/<%= @promise.id %>/promesse-d-embauche">cliquer ici.</a>
	</p>	
</div>	