<link rel="stylesheet" href="/css/admin_prms.css" />

<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>

  <div class="cp-box">
  	<h1>Messagerie</h1>
  </div>
</div>