<link rel="stylesheet" href="/css/admin_prms.css" />
<link rel="stylesheet" href="/css/admin-client_processed.css" />


<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>
  <div class="cp-box">
    <div class="admincp-box">
      <!-- <h5 class="title">Traitées</h5> -->
      <% @processedHistories.each do |processedHistorie| %>
      <div class="acp-flex">
        <div class="acp-image"><img src='<%= processedHistorie.image %>' /></div>
        <div class="acp-content"><%= processedHistorie.message %></div>
        <div class="acp-link">
          <%= raw processedHistorie.link %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>