<link rel="stylesheet" href="/css/admin_prms.css" />
<link rel="stylesheet" href="/css/admin-client_processed.css" />


<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>
  <div class="cp-box">
    <%  unless @processedHistories.empty? %>
      <div class="admincp-box">
        <!-- <h5 class="title">Traitées</h5> -->
        <% @processedHistories.each do |processedHistorie| %>
        <hr>
        <div class="acp-flex">
          <div class="acp-image"><img src='<%= processedHistorie.image %>' /></div>
          <div class="acp-content"><%= processedHistorie.message %></div>
          <div class="acp-link">
            <%= raw processedHistorie.link %>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    <% else %>
    <p style="font-family: Questrial, sans-serif;" class="d-flex justify-content-lg-center justify-content-md-center justify-content-sm-center">Aucune tâche traitee </p>
    <% end %>
  </div>
</div>