<link rel="stylesheet" href="/css/workshop.css" />
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_cadre/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<div class="box">
				<div class="box-mess">
					<h6>Vous avez refusé la demande d'atelier de coaching de <span class="box-nm">Pierre LEVALLLET</span></h6>
				</div>
			</div>
		</div>
	</div>
</div>