<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div>
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important">ENTRETIEN FIT</h3>
      <h3 class="title t2">Choisissez la suite a donner a ces candidats et rediger votre avis recruteur</h3>
      <div class="fc-item">
        <div class="fc-item-all">

<!--         	CANDIDATS  -->

          <div class="list-candidat">
            <div class="fci-image">
					<img src="/image/cand.jpg" alt="photo profil candidats">
            </div>
            <div class="fci-icon">
              <img class="alreadyFavorite" src="/image/Vector-24.png" alt="logo oiam favorie" />
            </div>
            <div class="fci-infos">
              <p class="name">Pierre LEVALLLET</p>
              <p class="poste">Poste : Directeur Commercial</p>
              <div class="ico-cand">
              	<a href="<%= message_candidats_fit_path %>" class="ico ico1"><i class="fas fa-check-circle fa-lg"></i></a>
              	<a href="#" class="ico ico2"><i class="fas fa-times-circle fa-lg"></i></a>
              </div>
              <div style="padding-top: 15px">
                <p><i class="fas fa-edit fa-lg"></i>Avis visible par les clients</p>
              </div>
            </div>
          </div>

         <!--  ---------------------------- -->

          <div class="list-candidat">
            <div class="fci-image">
					<img src="/image/cand2.jpg" alt="photo profil candidats">
            </div>
            <div class="fci-icon">
              <img class="alreadyFavorite" src="/image/Vector-24.png" alt="logo oiam favorie" />
            </div>
            <div class="fci-infos">
              <p class="name">Jonathan DUROCHE</p>
              <p class="poste">Poste : Responsable Juridique</p>
              <div class="ico-cand">
                <a href="#" class="ico ico1"><i class="fas fa-check-circle fa-lg"></i></a>
                <a href="#" class="ico ico2"><i class="fas fa-times-circle fa-lg"></i></a>
              </div>
              <div style="padding-top: 15px">
                <p><i class="fas fa-edit fa-lg"></i>Avis visible par les clients</p>
              </div>
            </div>
          </div>

          <div class="list-candidat">
            <div class="fci-image">
					<img src="/image/cand3.jpg" alt="photo profil candidats">
            </div>
            <div class="fci-icon">
              <img class="alreadyFavorite" src="/image/Vector-24.png" alt="logo oiam favorie" />
            </div>
            <div class="fci-infos">
              <p class="name">Sophie LOPEZ</p>
              <p class="poste">Poste : Directrice Technique</p>
              <div class="ico-cand">
                <a href="#" class="ico ico1"><i class="fas fa-check-circle fa-lg"></i></a>
                <a href="#" class="ico ico2"><i class="fas fa-times-circle fa-lg"></i></a>
              </div>
              <div style="padding-top: 15px">
                <p><i class="fas fa-edit fa-lg"></i>Avis visible par les clients</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  	</div>
  </div>
</div>