<link rel="stylesheet" href="/css/events.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_cadre/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<h3 class="title" style="color: #d6b36a !important">EVENTS</h3>

			<!-- -------------------- -->
			<div class="box">
				<div class="box-mess">
					<h6><i class="fas fa-map-pin pin"></i>Vous avez un évenement le <span class="box-nm">Jeudi 3 aout 2020</span></h6>
				</div>
				<a href="#" class="event-btn">Voir L'évenement</a>
			</div>
			<!-- ---------------- -->
			<div class="box">
				<div class="box-mess">
					<h6><i class="fas fa-map-pin pin"></i>Vous avez un évenement le <span class="box-nm">Lundi 13 mai 2020</span></h6>
				</div>
				<a href="#" class="event-btn">Voir L'évenement</a>
			</div>
			<div class="box">
				<div class="box-mess">
					<h6><i class="fas fa-map-pin pin"></i>Vous avez un évenement le <span class="box-nm">Mardi 9 avril 2020</span></h6>
				</div>
				<a href="#" class="event-btn">Voir L'évenement</a>
			</div>
		</div>
	</div>
</div>