<% @title="Candidats" %>
<link rel="stylesheet" href="/css/client_profil.css" />
<style>
    * {
      line-height: 1.5;
    }

    .nw-cont {
      width: 100%;
    }

    .cont-filter {
      position: relative;
      width: 400px;
      float: right;
    }
    .filter {
      padding-top: 20px;
      padding-bottom: 20px;
/*      border-bottom: 1px solid rgba(0,0,0,.1);*/
    }

    .filter span {
      align-items: flex-end;
      background: #E3D7BF;
      color: #fff;
      cursor: pointer;
      font-size: 10px;
      padding: 10px 30px;
      text-transform: uppercase;
      border: 1px solid #E3D7BF;
    }

    .filter span:hover {
      background: #fff;
      color: #E3D7BF;
      border: 1px solid #E3D7BF;
    }

    .candd {
      clear: both;
      padding: 20px;
      margin-top: 20px;
      border-top: 1px solid rgba(0,0,0,.1);
      border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .desc-candd {
      margin-top: 30px;
      text-align: center;
    }

    .name {
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }

    .score {
      text-decoration: none;
      text-align: center;
      font-size: 14px;
    }

    .cont-btn {
      margin-top: 40px;
    }

    .cont-btn a {
      color: #fff !important;
      background: #d6b36a !important;
      padding: 10px 40px !important;
      cursor: pointer !important;
      border: 1px solid #d6b36a !important;
    }

    .cont-btn a:hover {
      border: 1px solid #d6b36a !important;
      color: #d6b36a !important;
      background: #fff !important;
    }

    .search-bar {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }

    .search-bar input {
      align-items: flex-end;
      width: 200px;
      padding: 10px;
      outline: none;
      font-size: 12px;
      height: auto;
      margin-left: 14px;
      border: 1px solid #d6b36a;
    }

    .search-bar span {
      align-items: flex-end;
      background: #E3D7BF;
      font-size: 10px;
      text-transform: uppercase;
      padding: 10px 30px;
      color: #fff !important;
      cursor: pointer;
      border: 1px solid #E3D7BF;
      margin-right: 15px;
      text-align: center;
    }

    .search-bar span:hover {
      background: #fff;
      color: #E3D7BF !important;
      border: 1px solid #E3D7BF;
    }


</style>
<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div>
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important;">MES CANDIDATS</h3>
      <div class="fc-item">
        <div class="fc-item-all">

<!--         	CANDIDATS  -->
        <div class="nw-cont">

          <div class="cont-filter">
            <div class="filter">
              <span>En cours</span>
              <span>Traiter</span>
              <span>A traiter</span>
            </div>
              <div class="search-bar">
                <input type="text" name="q" placeholder="Entrer le nom d'un candidat">
                <span>rechercher</span>
              </div>
          </div>



          <div class="cont-candd">

           <!--  CANDIDATS ANAKY RAY NO ETO RY FALY -->
            <div class="candd">
              <div class="row">
              <div class="col-sm-3">
                <img src="/image/profie.png" alt="photo profil candidats", width="120px" />
              </div>
              <div class="col-sm-6">
                <div class="desc-candd">
                  <h4 class="name">Pierre Le Candidats</h4>
                  <h4 class="score">Score OIAM: 5500</h4>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="cont-btn">
                <a href="<%= admin_cadre_show_profile_path %>">Voir</a>
                </div>
              </div>
              </div>
            </div>
              <!-- --------------------------------------------------------------------- -->


          </div>
        </div>
        </div>
      </div>
    </div>
  	</div>
  </div>
</div>
