<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/send_mess_cand.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div style="grid-column: 1">
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important">ENVOYER UN MESSAGE</h3>
      <div class="fc-item" style="display: flex;">
        <div class="fc-item-all">

<!--         	CANDIDATS  -->

          <div class="list-candidat">
            <div class="fci-image">
					<img src="/image/cand.jpg" alt="photo profil candidats">
            </div>
            <div class="fci-icon">
              <img class="alreadyFavorite" src="/image/Vector-24.png" alt="logo oiam favorie" />
            </div>
            <div class="fci-infos">
              <p class="name">Pierre LEVALLLET</p>
              <p class="score">Score OIAM : <span>70</span></p>
              </div>
            </div>
          </div>

         <!--  ---------------------------- -->

         <div class="mess_candidat">
            <textarea class="mess_input" name="message"></textarea>
            <a href="#" class="env-btn">Envoyer</a>

         </div>

        </div>
      </div>
    </div>
  	</div>
  </div>
</div>
