<link rel="stylesheet" href="/css/equipe.css">

<div class="col-12 eq-main">
    <div class="col-md-10 eq-cont ml-auto mr-auto">
      <div class="eq-hd">
                <h1 class="eq-ttl">Notre Équipe</h1>
            </div>

        <div class="eq-box">
            <div class="eq-eq">

                <%
=begin%>
 EMMA 
<%
=end%>
                <div class="eq-box-eq">
                    <div class="eq">
                        <img src="/image/emma1.jpg" alt="Emma" class="eq-img">
                        <div class="eq-all-des">
                            <div class="eq-name">Emmanuelle Vandepitterie</div>
                            <div class="eq-des">CEO</div>
                        </div>
                    </div>
                </div>


                <%
=begin%>
 BRIAN 
<%
=end%>  

                <div class="eq-box-eq">
                    <div class="eq">
                        <img src="/image/brian.jpg" alt="Brian" class="eq-img">
                        <div class="eq-all-des">
                            <div class="eq-name">Brian Lombert</div>
                            <div class="eq-des">CFO</div>
                        </div>
                    </div>
                </div>

                <%
=begin%>
 LOIC 
<%
=end%>

                <div class="eq-box-eq">
                    <div class="eq">
                        <img src="/image/loic.jpg" alt="Loic" class="eq-img">
                        <div class="eq-all-des">
                            <div class="eq-name">Loic Rakotozafy</div>
                            <div class="eq-des">Data Analyst</div>
                        </div>
                    </div>
                </div>


                <%
=begin%>
 ISABELLA 
<%
=end%>


                <div class="eq-box-eq">
                    <div class="eq">
                        <img src="/image/isa.png" alt="Isabelle" class="eq-img">
                        <div class="eq-all-des">
                            <div class="eq-name">Isabelle Deleskiewicz</div>
                            <div class="eq-des">Communication Manager</div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

