<!-- appel equipe.css  -->
<% content_for :head_style do %>
<link rel="stylesheet" href="/css/equipe.css" />
<% end %>
<!-- body html equipe  -->
<div class="bg-uniq">
  <div class="equipe-box">
    <div class="eq-title">
      <p>Notre Équipe</p>
    </div>
    <div class="eq-all">
      <div class="equip1">
        <div class="eq-box-eq box-spec">
          <a id="emmanuel">
            <div class="eq-image">
              <img src="/image/emma1.jpg" alt="Emma photo" />
            </div>
            <div class="eq-content">
              <div class="eq-name">Emmanuelle Vandepitterie</div>
              <div class="eq-des">Chief Executive Officer</div>
            </div>
          </a>
        </div>
        <div class="eq-box-eq">
          <div class="eq-image">
            <img src="/image/loic.jpg" alt="Loic photo" />
          </div>
          <div class="eq-content">
            <div class="eq-name">Loic Rakotozafy</div>
            <div class="eq-des">Chief Scientist Officer</div>
          </div>
        </div>
      </div>
      <div class="equip2">
        <div class="eq-box-eq">
          <div class="eq-image">
            <img src="/image/brian.jpg" alt="Brian photo" />
          </div>
          <div class="eq-content">
            <div class="eq-name">Brian Lombert</div>
            <div class="eq-des">Chief Financial Officer</div>
          </div>
        </div>
        <div class="eq-box-eq">
          <div class="eq-image">
            <img src="/image/isa.png" alt="Isabelle photo" />
          </div>
          <div class="eq-content">
            <div class="eq-name">Isabelle Deleskiewicz</div>
            <div class="eq-des">Communication Manager</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="big-box">
  <div class="emmanuel-profil">
    <div class="closed" title="Fermer">+</div>
    <div class="profil bg-border">
      <div class="photo"></div>
      <div class="title">
        <img src="/image/emma_icon/profil.png" alt="icon_profil" />
        profil
      </div>
      <div class="name content-item">Emmanuelle Vandepitterie</div>
      <div class="post content-item">Chief Executive Officer OIAM</div>
      <div class="localisation content-item"><img src="/image/emma_icon/local.png" alt="localisation" /> Région de Paris, France</div>
    </div>
    <div class="emmanuel-box">
      <div class="about bg-border">
        <div class="title"><img src="/image/emma_icon/infos.png" alt="infos" />à propos</div>
        <div class="content">
          <p>Née à Brest, elle a grandi dans un milieu très modeste, et a commencé à travailler très jeune. Cela lui a permis de développer un sens aigu des affaires et son goût pour la vente. Élève précoce, elle a suivi un parcours scolaire exemplaire. (Juriste / AUDENCIA Nantes).</p>
          <p>Très sensible à la problématique de l’emploi et du recrutement d’élite, elle a voulu proposer aux recruteurs un moyen objectif de sélectionner les meilleurs candidats. Après avoir fait ses classes dans la chasse de tête, elle est aujourd’hui experte du recrutement de Cadres & dirigeants depuis 10 ans.</p>
          <p>Elle décide de lancer ONE IN A MILLION en 2020 afin de répondre à la fois aux besoins des entreprises de recruter des cadres et Dirigeants rapidement et de manière efficace, et également de donner les moyens aux meilleures Exécutives d’être reconnus et chassés pour leurs talents et leurs compétences.</p>
        </div>
      </div>
      <div class="contact bg-border">
        <div class="title">
          <img src="/image/emma_icon/contact.png" alt="contact" />
          Contact
        </div>
        <div class="content">
          <a href="#" target="_blank">
            <img src="/image/social/facebook.png" alt="facebook" />
          </a>
          <a href="#" target="_blank">
            <img src="/image/social/istagram.png" alt="instagram" />
          </a>
          <a href="#" target="_blank">
            <img src="/image/social/trustfolio.png" alt="trustfolio" />
          </a>
          <a href="#" target="_blank">
            <img src="/image/social/linkedin.png" alt="linkedin" />
          </a>
          <a href="#" target="_blank">
            <img src="/image/social/whatsapp.png" alt="whatsapp" />
          </a>
          <a href="#" target="_blank">
            <img src="/image/social/twiter.png" alt="twiter" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- call js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/equipe.js"></script>
