<!-- appel equipe.css  -->
<link rel="stylesheet" href="/css/equipe.css" />
<!-- body html equipe  -->
<div class="bg-uniq">
  <div class="equipe-box">
    <div class="eq-title">
      <p>Notre Équipe</p>
    </div>
    <div class="eq-all">
      <div class="equip1">
        <div class="eq-box-eq box-spec">
          <a href="#">
            <div class="eq-image">
              <img src="/image/emma1.jpg" alt="Emma photo" />
            </div>
            <div class="eq-content">
              <div class="eq-name">Emmanuelle Vandepitterie</div>
              <div class="eq-des">Chief Executive Officer</div>
            </div>
          </a>
        </div>
        <div class="eq-box-eq">
          <div class="eq-image">
            <img src="/image/loic.jpg" alt="Loic photo" />
          </div>
          <div class="eq-content">
            <div class="eq-name">Loic Rakotozafy</div>
            <div class="eq-des">Chief Scientist Officer</div>
          </div>
        </div>
      </div>
      <div class="equip2">
        <div class="eq-box-eq">
          <div class="eq-image">
            <img src="/image/brian.jpg" alt="Brian photo" />
          </div>
          <div class="eq-content">
            <div class="eq-name">Brian Lombert</div>
            <div class="eq-des">Chief Financial Officer</div>
          </div>
        </div>
        <div class="eq-box-eq">
          <div class="eq-image">
            <img src="/image/isa.png" alt="Isabelle photo" />
          </div>
          <div class="eq-content">
            <div class="eq-name">Isabelle Deleskiewicz</div>
            <div class="eq-des">Communication Manager</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
