<!-- appel css  -->
<link rel="stylesheet" href="/css/static_page.css" />
<!-- body html  -->
<div class="box">
  <div class="box-1">
    <div class="box-1-logo">
      <img src="/image/OIAM_Logo.png" alt="logo" />
    </div>
    <p class="box-1-content">
      LA PLATEFORME DE RECRUTEMENT Sélective des meilleurs cadres du marché.
    </p>
    <%= link_to "ENTRER DANS LE SITE", welcome_path,class:"box-1-btn" %>
  </div>
  <div class="box-2">
    <img src="/image/picture_photo_0ae4b3.jpg" alt="landing-photo" />
  </div>
</div>
