<link rel="stylesheet" type="text/css" href="/css/methodology.css">
<aside class="aside">
    <div class="block-left">
      <h2 class="block-title">ÉVALUER L’EXCELLENCE LÀ OÙ ELLE SE TROUVE</h2>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Le test de recrutement prédictif One in a Million est le seul test spécialement dédié à l'évaluation scientifique de la performance d'un Cadre.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Basé sur plus de 85 années de recherche, et inspiré des meilleures techniques de recrutement d'élite du monde, le test OIAM est entièrement digital.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Il s'agit du test le plus exigeant du marché, permettant ainsi de sélectionner la crème de la crème des Executive.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Tous les critères prédictifs évaluant l'excellence et la performance d'un Cadre sont analysés au travers de ce test unique, développé après plus de 10 ans d'expérience en chasse de tête.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Seuls les candidats ayant obtenu les meilleurs scores sont retenus pour les phases de sélection liées à l'expertise métier, validées par un entretien avec l'un de nos experts.</p>
    </div>
    <article class="article">
      <div class="article-content-left">
        <div class="block-right">
          <h2 class="block-article-title">LE RECRUTEMENT PRÉDICTIF À SON PLUS HAUT NIVEAU</h2>
          <p>L’ère des tests de personnalité qui disent oui et amen à toutes les candidatures, mais qui ne vous donnent aucune indication prouvée sur la performance attendue, est révolue.</p>
          <p>L’intelligence artificielle de One in a Million permet d’analyser l’intégralité d’une candidature comme un vrai recruteur, sur des critères scientifiquement pertinents. Elle peut traiter très rapidement des millions de candidatures et reconnaître un cadre de haut niveau, avec une précision incroyable.</p>
          <p>Et parce que nous parlons avant tout de relation humaine, nos recruteurs vous reçoivent en plus en entretien individuel.</p>
        </div>
        <div class="block-image">
          <img src="/image/noun.png" class="block-image">
        </div>
      </div>
      <div class="article-content-left">
        <div class="block-right goRight">
          <h2 class="block-article-title">LA PRISE EN COMPTE DES BONS CRITÈRES POUR UN RECRUTEMENT ... HUMAIN</h2>
          <p>One in a Million a modélisé un profil cible de référence attendu pour les cadres de haut niveau. Les caractéristiques ainsi que les critères prédictifs de la réussite d’un candidat dans un poste Top & Middle Management, indifféremment de son emploi, ont été hiérarchisées et comparées sur des années de recul.</p>
          <p>Nous avons eu à cœur de développer une approche vraiment holistique, profondément humaine, qui prend en compte l’intégralité de ce qui fait l’excellence d’une personne, et non pas seulement un diplôme ou des années d’expérience professionnelle.</p>
          <p>Notre algorithme unique, combiné à un test technique ainsi qu’à un entretien humain permet aux lauréats One in a Million d’être sélectionnés pour leur excellence, de façon complètement objective et non-discriminante.</p>
        </div>
        <div class="block-image">
          <img src="/image/picto1.png" class="block-image goLeft">
        </div>
      </div>
    </article>
    <div class="notice">
      <div class="block-cadre cote-candidat">
        <h2>côté candidat</h2>
        <p>Une fois retenu, vous n’avez plus à faire des CV, des lettres de motivation, puisque votre profil est complètement visible par les recruteurs, qui ont en main toutes les informations nécessaires pour vous faire des propositions parfaitement en phase avec vos recherches.</p>
      </div>
      <div class="block-cadre cote-recruteur">
        <h2>côté recruteur</h2>
        <p>Il ne vous restera plus qu’à vous rencontrer pour vous concentrer sur l’humain, et vos affinités, toutes vos compétences (soft skills et projective skills) ayant d’ores et déjà été validées par votre seule entrée dans la communauté One in a Million.</p>
      </div>
    </div>
    <p class="methode-oiam">La méthode One in a Million a pour but de garantir une objectivité absolue et surtout une validité très forte de notre algorithme de recrutement prédictif.</p>
    <div class="notre-methode">
      <h2 class="block-article-title">LE TEST LE PLUS EXIGEANT DU MARCHÉ, POUR SÉLECTIONNER LA CRÈME DE LA CRÈME DES EXECUTIVE</h2>
      <p>Le test One in a Million regroupe l’ensemble des meilleures techniques de recrutement sur le marché, ayant une forte validité prédictive ainsi qu’une approche humaine et RH qui permet de prendre en compte l’intégralité d’une candidature.</p>
      <p>Pour cela, nous avons discerné les critères de sélection bien acceptés par les candidats et/ou fortement utilisés par les recruteurs, mais non valides scientifiquement, des critères de sélection peu ou pas utilisés par les recruteurs, mais véritablement valides scientifiquement.</p>
      <p>Nous considérons que la personnalité est un élément extrêmement important, mais qu’elle ne peut à elle seule préjuger de l’excellence d’un candidat et de sa réussite en tant que Cadre. One in a Million regroupe donc plusieurs caractéristiques essentielles : l’évaluation des aptitudes, en tenant compte de sa validité prédictive, tout en prenant en compte les autres aspects d’une candidature.</p>
      <p>C’est un test polyvalent qui combine l’évaluation de la personnalité, sous plusieurs angles en comparaison avec les profils de personnalité recherchés par les entreprises pour les postes de cadres, avec l’évaluation des aptitudes (fonctionnement cognitif, aptitudes générales, aptitudes spécifiques...).</p>
    </div>
</aside>
