<link rel="stylesheet" type="text/css" href="/css/methodology.css">
<aside class="aside">
    <div class="block-left">
      <h2 class="block-title">ÉVALUER L’EXCELLENCE LÀ OÙ ELLE SE TROUVE</h2>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Le test de recrutement prédictif One in a Million est le seul test spécialement dédié à l'évaluation scientifique de la performance d'un Cadre.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Basé sur plus de 85 années de recherche, et inspiré des meilleures techniques de recrutement d'élite du monde, le test OIAM est entièrement digital.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Il s'agit du test le plus exigeant du marché, permettant ainsi de sélectionner la crème de la crème des Executive.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Tous les critères prédictifs évaluant l'excellence et la performance d'un Cadre sont analysés au travers de ce test unique, développé après plus de 10 ans d'expérience en chasse de tête.</p>
      <img src="/image/check-gold1.png" class="check-gold1"><p>Seuls les candidats ayant obtenu les meilleurs scores sont retenus pour les phases de sélection liées à l'expertise métier, validées par un entretien avec l'un de nos experts.</p>
    </div>
</aside>