<link rel="stylesheet" type="text/css" href="/css/methodology.css">
<aside class="aside">
  <h2 class="aside-title">ÉVALUER L’EXCELLENCE LÀ OÙ ELLE SE TROUVE</h2>
  <div class="aside-paragraphe">
    <p><img src="/image/check-gold1.png" class="first-image">Le test de recrutement prédictif One in a Million est le seul test spécialement dédié à l'évaluation scientifique de la performance d'un Cadre.</p>
    <p><img src="/image/check-gold1.png" class="second-image">Basé sur plus de 85 années de recherche, et inspiré des meilleures techniques de recrutement d'élite du monde, le test OIAM est entièrement digital.</p>
    <p><img src="/image/check-gold1.png" class="threeth-image">Il s'agit du test le plus exigeant du marché, permettant ainsi de sélectionner la crème de la crème des Executive.</p>
    <p><img src="/image/check-gold1.png" class="fourth-image">Tous les critères prédictifs évaluant l'excellence et la performance d'un Cadre sont analysés au travers de ce test unique, développé après plus de 10 ans d'expérience en chasse de tête.</p>
    <p><img src="/image/check-gold1.png" class="fiveth-image">Seuls les candidats ayant obtenu les meilleurs scores sont retenus pour les phases de sélection liées à l'expertise métier, validées par un entretien avec l'un de nos experts.</p>
  </div>
</aside>

<article class="article">
  <div class="article-left">
    <div class="article-left-paragraphe">
      <h2 class="article-left-title">LE RECRUTEMENT PRÉDICTIF À SON PLUS HAUT NIVEAU</h2>
      <p>L’ère des tests de personnalité qui disent oui et amen à toutes les candidatures, mais qui ne vous donnent aucune indication prouvée sur la performance attendue, est révolue.</p>
      <p>L’intelligence artificielle de One in a Million permet d’analyser l’intégralité d’une candidature comme un vrai recruteur, sur des critères scientifiquement pertinents. Elle peut traiter très rapidement des millions de candidatures et reconnaître un cadre de haut niveau, avec une précision incroyable.</p>
      <p>Et parce que nous parlons avant tout de relation humaine, nos recruteurs vous reçoivent en plus en entretien individuel.</p>
    </div>
    <div class="article-left-picto">
    	<img src="/image/noun.png" class="noun" height="100" width="100">
    </div>
  </div>
  <div class="article-right">
    <div class="article-right-paragraphe">
      <h2 class="article-right-title">LA PRISE EN COMPTE DES BONS CRITÈRES POUR UN RECRUTEMENT ... HUMAIN</h2>
      <p>One in a Million a modélisé un profil cible de référence attendu pour les cadres de haut niveau. Les caractéristiques ainsi que les critères prédictifs de la réussite d’un candidat dans un poste Top & Middle Management, indifféremment de son emploi, ont été hiérarchisées et comparées sur des années de recu</p>
      <p>Nous avons eu à cœur de développer une approche vraiment holistique, profondément humaine, qui prend en compte l’intégralité de ce qui fait l’excellence d’une personne, et non pas seulement un diplôme ou des années d’expérience professionnelle.</p>
      <p>Notre algorithme unique, combiné à un test technique ainsi qu’à un entretien humain permet aux lauréats One in a Million d’être sélectionnés pour leur excellence, de façon complètement objective et non-discriminante.</p>
    </div>
    <div class="article-right-picto">
    	<img src="/image/picto1.png" class="picto1">
    </div>
  </div>
</article>
