
<h1>One in a million</h1>

<p>Le recrutement prédictif à son plus haut niveau <br>
L’ère des tests de personnalité qui disent oui et amen à toutes les candidatures, mais qui ne vous donnent aucune indication prouvée sur la performance attendue, est révolue. <br>
L’intelligence artificielle de One in a million permet d’analyser l’intégralité d’une candidature comme un vrai recruteur, sur des critères scientifiquement pertinents. Elle peut traiter très rapidement des millions de candidatures et reconnaître un cadre de haut niveau, avec une précision incroyable.
Et parce que nous parlons avant tout de relation humaine, nos recruteurs vous reçoivent en plus en entretien individuel.</p>

<p>La prise en compte des bons critères pour un recrutement… humain<br>
One in a million a modélisé un profil cible de référence attendu pour les cadres de haut niveau. Les caractéristiques ainsi que les critères prédictifs de la réussite d’un candidat dans un poste Top&Middle Management, indifféremment de son emploi, ont été hiérarchisées et comparées sur des années de recul.<br>
Nous avons eu à cœur de développer une approche vraiment holistique, profondément humaine, qui prend en compte l’intégralité de ce qui fait l’excellence d’une personne, et non pas seulement un diplôme ou des années d’expérience professionnelle.<br>
Notre algorithme unique, combiné à un test technique ainsi qu’à un entretien humain permet aux lauréats One in a million d’être sélectionnés pour leur excellence, de façon complètement objective et non-discriminante.</p>

<p>Côté candidats<br>
Une fois retenu, vous n’avez plus à faire des CV, des lettres de motivation, puisque votre profil est complètement visible par les recruteurs, qui ont en main toutes les informations nécessaires pour vous faire des propositions parfaitement en phase avec vos recherches.</p>

<p>Côté recruteurs<br>
Il ne vous restera plus qu’à vous rencontrer pour vous concentrer sur l’humain, et vos affinités, toutes vos compétences (soft skills, hard skills et projective skills) ayant d’ores et déjà été validées par votre seule entrée dans la communauté One in a million.</p>


<p>Quelle est votre méthodologie scientifique ? <br>
La science du recrutement prédictif permet de modéliser un profil cible de référence attendu, d’en hiérarchiser les priorités et de dégager les traits de personnalité ou les critères prédictifs de la réussite d’un candidat sur un poste donné. Ce qui permet ensuite de comparer ce profil-type aux profils des candidats.<br>
Ce choix de critères-prédicteurs (expérience, formation, aptitudes…) peut se faire de deux façons complémentaires, que nous avons utilisées pour One in a million :<br>
Identifier des compétences transversales, dont les résultats réalisés sur des analyses à très grande échelle ont prouvé qu’elles prédisent la performance professionnelle dans différents emplois. (Et pour aller plus loin, lire les travaux de M. Edgar H. Schein, professeur au MIT Sloan School of Management).
Mais aussi travailler sur la pertinence de ces critères, et sur sa mesurabilité, afin de garantir un résultat objectif et fiable.</p>

<p>Emmanuelle Vandepitterie, fondatrice de One in a million, a eu à cœur de prouver l’efficience de certaines méthodes de recrutement par rapport à d’autres. En nous plongeant dans la littérature scientifique existante, nous nous sommes aperçus que les critères de sélection utilisés par les recruteurs (DRH, chasseurs de tête, ou managers opérationnels) sur le terrain n’étaient pourtant pas ceux qui étaient les plus pertinents scientifiquement. <br>
Or, la méthode One in a million a justement pour but de garantir, à nos clients comme à nos candidats, une objectivité absolue et surtout une validité très forte de notre algorithme de recrutement prédictif.
Pour cela, il nous était capital de séparer les critères de sélection bien acceptés par les candidats et/ou fortement utilisés par les recruteurs, mais non valides scientifiquement, des critères de sélection peu ou pas utilisés par les recruteurs, mais véritablement valides scientifiquement. <br>
Ainsi, des travaux scientifiques comme ceux menés par Schmidt et Hunter, ou Lévy Leboyer ont démontré que les critères liés aux intérêts et aux traits de personnalité utilisés seuls n’étaient que peu prédictifs. En revanche, la synthèse de Hogan, De Fuyt et Rolland (2006) démontre que l’utilisation de tests de personnalité de type Big Five, combinée à des méthodes structurées d’analyse de poste permettent de renforcer considérablement la validité prédictive, et notamment pour les postes de cadres. <br>
Chez One in a million, nous considérons que la personnalité est un élément extrêmement important, mais qu’elle ne peut à elle seule préjuger de l’excellence d’un candidat et de sa réussite en tant que Cadre.
Notre test combine ainsi l’évaluation de la personnalité, sous plusieurs angles en comparaison avec les profils de personnalité recherchés par les entreprises pour les postes de cadres, avec l’évaluation des aptitudes (fonctionnement cognitif, aptitudes générales, aptitudes spécifiques…). <br>
L’évaluation des aptitudes quant à elle est un prédicteur dont la validité est extrêmement forte, et qui ont un lien fort avec la performance. L’étude de Salgado, Moscoso, Bertua, De Fruyt et Rolland (2003) ^</p>

<p>a notamment prouvé la validité prédictive de ces aptitudes – notamment sur des populations d’ingénieurs, administratifs et commerciaux et de managers.
En revanche, cette mesure prise seule peut-être assez mal vécue pour les candidats non-retenus.<br>
Notre test One in a million accorde donc une place prépondérante à l’évaluation des aptitudes, en tenant compte de sa validité prédictive, mais tout en prenant en compte les autres aspects d’une candidature.<br>
En effet, la formation reste encore corrélée à la réussite professionnelle, tandis que l’expérience professionnelle – en soi – n’est que faiblement liée à la performance.</p>

<p>Bref, le monde du recrutement l’ignore souvent, mais certaines méthodes ont une validité apparente auprès des candidats ou des recruteurs sans en avoir aucune scientifiquement parlant.</p>

<p>One in a million s’est donc attaché tout particulièrement à élaborer un test qui regroupe l’ensemble des meilleures techniques de recrutement sur le marché, ayant une forte validité prédictive ainsi qu’une approche humaine et RH qui permettrait de prendre en compte l’intégralité de la candidature, afin de prendre la bonne décision.</p>

<p>Concrètement, comment faites-vous pour être sûrs que les candidats recrutés sont véritablement les meilleurs ?<br>
Comment faites-vous pour éviter que de mauvais candidats bien entraînés puissent intégrer la plateforme ?</p>

<p>L’intelligence artificielle est-elle suffisamment fiable pour évaluer la pertinence d’une candidature ?</p>
