* {
  line-height: 0.7;
}

.pr-row {
  justify-content: center !important;
  max-width: 990px !important;
}

.fit-box-left {
  box-sizing: border-box;
}

.fit-box-right {
  background: #d6b36a;
  box-sizing: border-box;
  padding: 30px;
}

img {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  align-content: center;
  object-fit: cover !important;
}

.cd-info-be {
  text-align: left;
  font-family: Questrial, sans-serif;
  margin-top: 15px;
}

.cd-info-be p {
  font-size: 14px;
}

.all-btn {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap !important;
}

.mybtn {
  background: #d6b36a;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 60px;
  margin: 3px;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.mybtn:hover {
  background: #fff;
  color: #d6b36a;
  border: 1px solid #fff;
}

.info-cadd h3 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Questrial, sans-serif;
}

.all-info-cadd {
  margin-top: 50px;
}

.cont-rgt {
  display: block;
  border-left: 4px solid #fff;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.cont-lft {
  text-align: center;
  justify-content: center;
  display: block;
  align-content: center;
}

.avis-desc {
  text-transform: uppercase;
  color: #fff;
  font-family: Questrial, sans-serif;
  font-size: 12px;
  padding-bottom: 5px;
}

.textarea-avis textarea {
  border: none;
  padding: 10px;
  border-radius: 0px;
  outline: none;
  font-family: Questrial, sans-serif;
}

.score-label {
  text-transform: uppercase;
  color: #fff;
  font-family: Questrial, sans-serif;
  font-size: 12px;
  padding: 15px;
}

.score-radio {
  margin: 0 auto;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.score-radio input {
  margin: 5px;
  cursor: pointer;
}

.score-radio label {
  font-weight: bold;
  font-family: Questrial, sans-serif;
  margin-top: 15px;
}

.my-cv-label {
  align-self: center;
  justify-content: center;
  margin-top: 10px;
  padding: 15px;
  display: block;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  outline: none;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-my-cv {
  align-self: center;
  justify-content: center;
  margin-top: 10px;
  padding: 15px;
  display: block;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  outline: none;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.apercu {
  background: #d6b36a;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 60px;
}

.apercu:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #d6b36a;
}

.cv-frm {
  margin-top: 30px;
}

.succ-txt {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Questrial, sans-serif;
  color: #fff;
  font-weight: bold;
}

.gen-btn {
  background: #d6b36a;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px;
}

.gen-cont {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
}

.link-txt {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-family: Questrial, sans-serif;
}

.cont-link {
  margin-top: 50px;
}

.link-url {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: Questrial, sans-serif;
  font-size: 14px;
  text-transform: none;
}

.refu-ttl {
  color: #fff;
  font-family: Questrial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.refu-dsc {
  color: #fff;
  font-family: Questrial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.sh-fl {
  align-self: center;
  justify-content: center;
  margin-top: 10px;
  padding: 15px;
  display: block;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  outline: none;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

@media only screen and (max-width: 540px) {
  .cd-info {
    text-align: center;
  }
  .cd-info-be p {
    font-size: 14px;
    text-align: center;
  }
  .gen-btn {
    padding: 15px;
    font-size: 12px;
  }

  .fit-box-right {
    height: auto;
  }
  .all-btn {
    flex-wrap: wrap !important;
  }
  .mybtn {
    font-size: 12px;
    line-height: 1.5;
  }
  .fit-box-right {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .cont-rgt {
    border-left: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .cd-info {
    text-align: center;
  }
  .cd-info-be p {
    font-size: 14px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .cd-info {
    text-align: center;
  }
  .cd-info-be p {
    font-size: 14px;
    text-align: center;
  }
  .cd-info {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cd-info-be p {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .cd-info {
    text-align: center;
  }
  .cd-info-be p {
    font-size: 14px;
    text-align: center;
  }
  .cd-info {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cd-info-be p {
    text-align: center;
  }
  .mybtn {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 1200px) {
  .mybtn {
    font-size: 12px;
    line-height: 1.5;
  }
  img {
    width: 150px;
    height: 150px;
  }
}
