.fcp-box {
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.37);
  -moz-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.37);
  box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.37);
}

.chat-info {
  display: flex;
  padding: 20px;
  background: #d6b36a;
  color: #fff;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border: none;
}

.img img {
  width: 75px;
  height: 75px;
  border: 2px solid #e3d7bf;
  border-radius: 50%;
  background-position: center;
  background-image: cover;
  object-fit: cover;
}

.img {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.desc {
  padding-left: 10px;
}

.name {
  font-size: 32px;
  font-weight: bold;
  font-family: Questrial, sans-serif;
}

.online small {
  font-size: 14px;
  font-family: Questrial, sans-serif;
}

.chat-body {
  overflow-y: scroll;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  height: 450px;
  padding-bottom: 20px;
}

.chat-body::-webkit-scrollbar {
  width: 5px;
}

.chat-body::-webkit-scrollbar-track {
  background: transparent;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #d6b36a;
}

.chat-body::-webkit-scrollbar-thumb:hover {
  background: #d6b36a;
}

.hr-msg {
  float: left;
  margin-top: 10px;
  background: #f0f2f4;
  text-align: left;
  padding: 5px 10px;
  margin-top: 10px;
  max-width: 50%;
  min-width: 10px;
  width: auto;
  border-radius: 10px;
}

.hr-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.hr-image {
  padding-right: 20px;
}

/* .hr-mg {
  background: #f0f2f4;
  text-align: left;
  padding: 5px 20px;
  width: auto;
  margin-top: 10px;
  max-width: 50%;
  border-radius: 10px;
  align-self: center;
} */

.hr-mg p {
  color: #000;
  font-size: 14px;
  font-family: Questrial, sans-serif;
  width: 100%;
  word-wrap: break-word;
  text-align: justify;
  margin: auto 0;
  padding: 10px;
  text-align: left;
}

.m-msg {
  float: right;
  margin-top: 10px;
  background: #d6b36a;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: left;
  width: auto;
  max-width: 50%;
  color: white;
}

.m-msg p {
  color: #fff;
  font-size: 14px;
  font-family: Questrial, sans-serif;
  width: 100%;
  word-wrap: break-word;
  text-align: justify;
  margin: auto 0;
  padding: 10px;
  text-align: right;
}

.sd {
  display: flex;
}

.sd-input {
  float: left;
}

.sd-btn {
  float: right;
}

.sd-input input {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  border: 1px solid #d6b36a;
}

.sd textarea {
  resize: none;
}

.ms-in {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-top: 1px solid #d6b36a;
  border-bottom: 1px solid #d6b36a;
  border-left: 1px solid #d6b36a;
  text-align: left;
  word-wrap: break-word;
  font-family: Questrial, sans-serif;
  font-size: 14px;
}

.sd button {
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-right: 1px solid #d6b36a;
  border-bottom: 1px solid #d6b36a;
  border-top: 1px solid #d6b36a;
}

.dt {
  float: right;
  color: white;
  font-size: 10px;
  font-family: Questrial, sans-serif;
}

.clear {
  clear: both;
}

.dot-online {
  background: green;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
  position: absolute;
  left: 70%;
  top: 65%;
}

@media only screen and (max-width: 540px) {
  .fcp-box {
    margin-top: 15px;
  }
  .hr-image {
    display: none;
  }
  .name {
    font-size: 18px;
  }
  .online small {
    font-size: 12px;
  }
  .chat-body {
    padding: 10px;
  }
  .desc {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 576px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 1200px) {
}
