* {
  line-height: 2;
}

.my-row {
  /* background: #f0f2f4; */
}

.block-left {
  text-align: center;
  justify-content: center;
}

.block-right {
  border: 1px solid #f0f2f4;
  background: #f0f2f4;
  padding: 15px;
}

.block-image img {
  object-fit: cover !important;
}

.questionnaire-title {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: Questrial, sans-serif;
  padding: 5px;
}

.questionnaire p {
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Questrial, sans-serif;
}

.user_name {
  font-size: 24px;
  font-weight: bold;
  font-family: Questrial, sans-serif;
  text-transform: capitalize;
  color: #fff;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.info-cadd {
  background: #d6b36a;
  position: relative;
  height: 300px;
}

.block-image {
  display: flex;
  align-items: center;
  justify-content: center;
}


strong {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  font-family: Questrial, sans-serif;
}

.info-frst p {
  font-family: Questrial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.info-secnd p {
  font-family: Questrial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.info-secnd {
  margin-top: 75px;
  margin-left: -25px;
}

.separator {
  position: absolute;
  top: 18%;
  left: 18%;
  padding-left: 5px;
  padding-right: 5px;
}

.pdp {
  background-position: center !important;
}

.quest {
  padding: 20px;
}

.dep {
  justify-content: center;
}

.dep-border {
  border-right: 2px solid #000;
}

.depll {
  text-align: center;
}

.depl-ttl {
  font-weight: bold;
  font-family: Questrial, sans-serif;
  font-size: 14px;
}

.depl-ct {
  font-family: Questrial, sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 540px) {
  .separator {
    display: none;
  }
  .cl-cont-btn {
    justify-content: center;
  }
  .dep-border {
    border-right: 0px;
  }
  .info-frst {
    text-align: center;
  }
  .info-secnd {
    text-align: center;
    margin-top: 0px;
  }
  .depll {
    display: flex;
    justify-content: center;
  }
  .depl-ttl {
    padding-right: 5px;
  }
  .info-secnd {
    margin-left: 0px;
  }
  .info-cadd {
    height: auto;
    margin-top: 100px;
  }
  .quest {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 576px) {
  .separator {
    display: none;
  }
  .cl-cont-btn {
    justify-content: center;
  }
  .dep-border {
    border-right: 0px;
  }
  .info-frst {
    text-align: center;
  }
  .info-secnd {
    text-align: center;
    margin-top: 0px;
  }
  .depll {
    display: flex;
    justify-content: center;
  }
  .depl-ttl {
    padding-right: 5px;
  }
  .info-secnd {
    margin-left: 0px;
  }
  .info-cadd {
    height: auto;
    margin-top: 100px;
  }
  .quest {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .separator {
    display: none;
  }
  .dep-border {
    border-right: 0px;
  }
  .info-frst {
    text-align: center;
  }

  .info-secnd {
    text-align: center;
    margin-top: 0px;
  }
  .info-secnd {
    margin-left: 0px;
  }
  .info-cadd {
    margin-top: 15px;
    background: #fff;
    text-align: center;
  }
  .user_name {
    color: #000;
  }
  .info-frst p {
    color: #000;
  }
  .info-secnd p {
    color: #000;
  }
  strong {
    color: #000;
  }
  .col-md-4 {
    max-width: none;
  }
  .info-cadd {
    height: auto;
    margin-top: 100px;
  }
  .quest {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .separator {
    display: none;
  }
  .dep-border {
    border-right: 0px;
  }
  .info-frst {
    text-align: center;
  }

  .info-secnd {
    text-align: center;
    margin-top: 0px;
  }
  .info-secnd {
    margin-left: 0px;
  }
  .info-cadd {
    margin-top: 15px;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
  }
  .info-frst {
    display: block;
    justify-content: center;
  }
  .info-secnd {
    display: block;
    justify-content: center;
  }
  .user_name {
    color: #000;
  }
  .info-frst p {
    color: #000;
    text-align: center;
  }
  .info-secnd p {
    color: #000;
    text-align: center;
  }
  strong {
    color: #000;
  }
  .col-md-4 {
    max-width: none;
  }
  .resp-row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .separator {
    display: none;
  }
  .dep-border {
    border-right: 0px;
  }
  .info-frst {
    text-align: center;
  }

  .info-secnd {
    text-align: center;
    margin-top: 0px;
  }
  .info-secnd {
    margin-left: 0px;
    padding-top: 15px;
  }
  .info-cadd {
    margin-top: 15px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
  }
  .user_name {
    color: #000;
    text-align: center;
    width: 100%;
  }
  .info-frst p {
    color: #000;
  }
  .info-secnd p {
    color: #000;
  }
  strong {
    color: #000;
  }
  .block-image img {
  }
  .dep {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  .resp-row {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .depl-ttl {
    display: block;
    justify-content: center;
  }
  .depl-ct {
    display: block;
    justify-content: center;
  }
  .depll {
    display: flex;
    text-align: center;
    display: inline-block;
  }
  .col-md-4 {
    max-width: none;
  }
}
