.row img {
  width: 20px;
  height: 20px;
}

.row {
  padding: 15px;
}

.hist-msg {
  font-size: 16px;
  color: #d6b36a;
  text-decoration: none;
  font-family: Questrial, sans-serif;
}

.hist-link a {
  background: #fff;
  border: 2px solid #d6b36a;
  text-transform: uppercase;
  color: #d6b36a;
  padding: 15px 60px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.hist-link a:hover {
  background: #d6b36a;
  border: 2px solid #d6b36a;
  color: #fff;
  text-decoration: none;
}

.hist-link {
  display: flex;
  justify-content: flex-end;
}

.image img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 540px) {
  .image {
    text-align: center;
  }
  .hist-msg {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .hist-link {
    display: flex;
    justify-content: center;
  }

}
@media only screen and (max-width: 576px) {
  .image {
    text-align: center;
  }
  .hist-msg {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .hist-link {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .image {
    text-align: center;
  }
  .hist-msg {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .hist-link {
    display: flex;
    justify-content: center;
  }

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 1200px) {

}
