<link rel="stylesheet" href="/css/admin_prms.css" />
<link rel="stylesheet" href="/admins/css/trtList.css">
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_candidats/left_menu" %>
  </div>

  <div class="cp-box">
    <%  unless @processedHistories.nil? %>
      <div class="container-fluid">
      <% @processedHistories.each do |processedHistorie| %>
        <div class="container">
          <hr />
            <div class="row align-items-center">
              <div class="image col-lg-1 col-md-1 col-sm-12 col-xs-12 align-self-center">
                <img src="<%= processedHistorie.image %>" alt="icone work" />
              </div>
                <div class="hist-msg col-lg-4 col-md-4 col-sm-12 col-xs-12 align-self-center"><%= processedHistorie.message %></div>
                <div class="hist-link col-lg-7 col-md-7  col-sm-12 col-xs-12 align-self-center">
                  <%= raw processedHistorie.link %>
                </div>
            </div>
          <hr />
        </div>

      <% end %>

    <!-- #1. Inscription
    #Inscription terminée
    Rakot belo a terminé l'inscription (fait)

    # 2. Tests Potential
    # Test potential (nom+prenom..), afficher le résultat du test, statut (admis ou refusé)
    Rakot belo a terminé le test potentiel (fait)

    # 4. Clique sur lien TP positif et planifie un entretien FIT
    # RDV entretiens FIT effectués et validés(entretiens effectués)
    L'entretien fit avec Rakot belo est validé. (fait)


    # 5. Passe Entretien FIT
    # Entretien FIT traité (entretien fait et colpte rendu uploadé)
    L'entretien fit avec Rakot belo est traité. (fait)


    #8. Complète les informations du profil
    #Profil complété
    Rakot belo a complété son profil. (fait)


    # 12. Accepter/Refuser une promesse d’embauche
    # Liste des candidats qui ont validé leur promesse d embauche
    Rakot belo a validé sa promesse d'embauche. (fait)


    # 13. Valider sa période d’essai
    # Liste des candidats dont la période d essai est validée
    Période d'essai de Rakot belo validé. (fait)


    # 14: Recevoir sa prime
    # Liste des candidats qui n'ont pas reçu leur prime
    Rakot belo a reçu son prime. (fait)

    -->
      </div>
    <% else %>
      Aucune tâche traiter
    <% else %>
  </div>
</div>
