<link rel="stylesheet" href="/css/admin_prms.css" />
<style media="screen">
  .cp-box h1 {
    font-size: 16px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #d6b36a;
  }
</style>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_candidats/left_menu" %>
  </div>

  <div class="cp-box">
  	<h1>Traitées</h1>
  </div>
</div>
