
<div class="candd">
	<% @client.each do |client| %>
	   	<div class="row">
	        <div class="col-sm-3">
	            <img src="<%= client.image %>" alt="photo profil candidats", width="150px", height="150px"  style="background-size: cover"/>
	        </div>
	        <div class="col-sm-6">
	            <div class="desc-candd">
	                <p>Entreprise : <%= client.entreprise.name %></p>
	            </div>
	        </div>
	        <div class="col-sm-3">
	            <div class="cont-btn">
	                <a href="<%= admin_client_show_client_path(client.id) %>">VOIR L'OFFRE</a>
	            </div>
	        </div>
	    </div>
    <% end %>
</div>
