<<!-- call css  -->
  <link rel="stylesheet" href="/css/my_job_offre.css" />
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "admin_client/left_menu_link" %></div>
  <div class="cp-box">
    <div class="box-inside">
      <div class="co-with-job">
        <h5>FACTURES CLIENT</h5>
        <hr />
        <div class="coj-box" id="offre">
          <div class="cjo-image">
            <img src="/image/document.png" alt="icone doc" />
          </div>
          <div class="cjo-content">Lorem ...</div>
          <div class="cjo-link-items">
            <div class="cjo-link"><%= link_to "VOIR FACTURE"%></div>
          </div>
        </div>
        <hr />
        <%# end %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
