<link rel="stylesheet" href="/css/admin_client.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_client/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<h3 class="title" style="color: #d6b36a !important">RECRUTEMENT EN COURS</h3>

			<!-- -------------------- -->
			<div class="box">
				<div class="box-mess">
					<div class="pic-rec">
						<img src="/image/picture.png">
					</div>
				</div>
				<div class="box-nm">
					<h6 class="cad">Pierre LEVALLLET</h6><span><i class="fas fa-arrow-circle-right"></i></span><h6 class="ent">TOSHIBA</h6>
				</div>
				<div class="see">
					<a href="#" class="event-btn">Voir Recrutement</a>	
				</div>
			</div>
			<!-- ---------------- -->

				<div class="box">
				<div class="box-mess">
					<div class="pic-rec">
						<img src="/image/picture.png">
					</div>
				</div>
				<div class="box-nm">
					<h6 class="cad">Jonathan DUROCHE</h6><span><i class="fas fa-arrow-circle-right"></i></span><h6 class="ent">ASUS</h6>
				</div>
				<div class="see">
					<a href="#" class="event-btn">Voir Recrutement</a>	
				</div>
			</div>

				<div class="box">
				<div class="box-mess">
					<div class="pic-rec">
						<img src="/image/picture.png">
					</div>
				</div>
				<div class="box-nm">
					<h6 class="cad">Sophie LOPEZ</h6><span><i class="fas fa-arrow-circle-right"></i></span><h6 class="ent">ACER</h6>
				</div>
				<div class="see">
					<a href="#" class="event-btn">Voir Recrutement</a>	
				</div>
			</div>



		</div>
	</div>
</div>