<link rel="stylesheet" href="/css/client_profil.css" />
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_client/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<h2>OFFRES D'EMPLOIS</h2>
		</div>
	</div>
</div>