<h2 class="cadre-nom">Chère <%= @cadre_info.first_name %>,</h2>
<p>Merci d’avoir passé notre test !</p>
<p>Malheureusement, votre score est insuffisant pour vous permettre d’intégrer One in a Million.</p>
<p>Nous savons que ces résultats peuvent être frustrants, aussi vous avez la possibilité de passer le test une seconde fois au cours de votre vie, dans un délai minimum de 6 mois.</p>
<p>Afin de maximiser vos chances, nous vous proposons des ateliers de coaching.</p>
<div class="row">
	<div class="col-sm-6">
		<a href="<%= formation_all_url %>">AMÉLIORER MES RESULTATS</a>
	</div>
</div>
