<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>TEST FIT REFUSÉ</title>
	<!-- <style type="text/css">

			body{
				font-family: 'Questrial', sans-serif;
			}

			#para-hide{
				display: block;margin: 0 auto;width: 100%;max-width: 500px;font-size: 16px;text-align: justify;
			}

			.title{
				font-size: 20px;
				color: #d6b36a;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
			}

			.cadre-nom{
				font-size: 16px;font-weight: bold;
			}

			.bouton{
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 250px;
				text-align: center;
				color: #d6b36a;
				border: 1px solid #d6b36a;
				padding: 15px;
				text-decoration: none;
			}

			.bouton:hover{
				background: #d6b36a;
				color: #fff;
			}



		</style> -->

</head>

<body>
	<div id="para-hide"
		style="display: block;margin: 0 auto;width: 100%;max-width: 500px;font-size: 16px;text-align: justify;padding: 10px;">
		<center><img style="width: 250px;margin: 20px;" src="http://c8b0600.online-server.cloud/image/OIAM_Logo.png"></center> 
		<h2 class="cadre-nom" style="font-size: 16px;font-weight: bold;">Cher(e) <%= @cadre_info.first_name %>,</h2>
		<p>Merci d’avoir passé notre test !</p>
		<p>Malheureusement, votre score est insuffisant pour vous permettre d’intégrer One in a Million.</p>
		<p>Nous savons que ces résultats peuvent être frustrants, aussi vous avez la possibilité de passer le test une
			seconde fois au cours de votre vie, dans un délai minimum de 6 mois.</p>
		<p>Afin de maximiser vos chances, nous vous proposons des ateliers de coaching.</p>
		<!-- <div class="row">
				<div class="col-sm-6">
					<a href="">AMÉLIORER MES RESULTATS</a>
				</div>
			</div> -->
	</div>

</body>

</html>