<div id="para-hide">
	<div id="potential-title-show">
		<h1>Félicitations et Bienvenue !</h1>
		<h2 class="cadre-nom">Chère <%= @cadre_info.first_name %>,</h2>
	</div>
	<p>Vous avez désormais terminé le test d’entrée One in a Million et nous avons le plaisir de vous annoncer que vous faites partie du top 10 des cadres du marché.</p>
	<p>Remplissez dès maintenant votre profil et rejoignez notre communauté ! Découvrez des offres d’emploi sélectionnées spécialement pour vous, ainsi que nos événements dédiés aux cadres d’élite.</p>
	
</div>