@import 'config';

body {
  height: 90vh;
  font: $ffbtn;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  flex-direction: column;

  div {
    padding: 50px;
    border: 2px solid $main_theme_color;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font: $ffbtn;
    font-size: 126px;
    word-spacing: -30px;
    color: #e6b85f;

    img {
      margin-top: 50px;
      margin-bottom: -50px;
      width: 137px;
      margin: 0;
    }
  }

  h1 {
    font-size: 18px;
  }
}