body {
  height: 90vh;
  font: 500 18px Raleway, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  flex-direction: column;
}

body div {
  padding: 50px;
  border: 2px solid #d6b36a;
}

body span {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 18px Raleway, sans-serif;
  font-size: 126px;
  word-spacing: -30px;
  color: #e6b85f;
}

body span img {
  margin-top: 50px;
  margin-bottom: -50px;
  width: 137px;
  margin: 0;
}

body h1 {
  font-size: 18px;
}
