@import 'config';
body {
  height: 90vh;
  font: $ffbtn;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  div {
    padding: 50px;
    border: 2px solid rgba(0, 0, 0, 0.418);
  }
  span {
    font: $ffsentence;
    font-size: 150px;
    word-spacing: -30px;
    color: #e6b85f;
  }
  h1 {
    font-size: 18px;
  }
}
