.ui-datepicker {
  font: $ffbtn;
  background-color: $secondary_text_color_button;
  &-calendar {
    width: 100%;

    td {
      cursor: pointer;
      border-radius: 50%;
      text-align: center;
      height: 60px;
    }
    .ui-state-disabled {
      cursor: default;
      background: none;
      opacity: 0.4;
      &:hover {
        background: none;
      }
    }
  }
  &-header {
    padding-bottom: 10px;
    color: white;
  }
  .ui-datepicker-prev {
    text-indent: -900000px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    background: url(/image/left.png) no-repeat center/ 15px 20px;
    border: 2px solid white;
    border-radius: 8px;
    position: absolute;
    &:hover,
    &:active {
      box-shadow: 1px 1px 5px 1px $secondary_element_color;
    }
  }
  .ui-datepicker-next {
    text-indent: -900000px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid white;
    background: url(/image/right.png) no-repeat center/ 15px 20px;
    &:hover,
    &:active {
      box-shadow: 1px 1px 5px 1px $secondary_element_color;
    }
  }
}
.ui-widget-content {
  .ui-state-default {
    border: 0px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .ui-state-active {
    border: 0px;
  }
}
