.accueilg-btn1 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.accueilg-btn1 a {
  color: white;
  font: 550 18px Raleway, sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-color: #e3d7bf;
}

.accueilg-btn1 a:hover {
  text-decoration: none;
  color: #e3d7bf;
  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
}

.accueilg-content1 {
  width: 85%;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.accueilg-content1 h2 {
  font: 550 18px Raleway, sans-serif;
  font-size: 20px;
  color: #d6b36a;
  margin: 15px 0;
}

.accueilg-content1 p {
  font: 15px Questrial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

.accueilg-content1 .cc-accueuil1 {
  text-align: center;
  margin: 40px 0;
}
