@import 'config';

.accueil-recruteur {
  height: auto;
  margin: 50px auto;
  margin-bottom: 30px;
  .title-ar {
    margin-bottom: 20px;
    span {
      font: 80px Qwigley, sans-serif;
      color: $main_theme_color;
      margin-right: 10px;
    }
  }
  p {
    font: $ffsentence;
    margin-top: 10px;
  }
  .accueil-r-btn {
    width: 40%;
    margin: 70px auto;
    text-align: center;
    a {
      background-color: $secondary_text_color_button;
      padding: 10px 30px;
      font: $ffbtn;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      &:hover,
      &:active {
        text-decoration: none;
        background-color: white;
        box-shadow: $box-shadow;
        color: $secondary_text_color_button;
      }
    }
  }
  .ar-item {
    margin-bottom: 60px;
  }
}
