.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.admincp-box {
  font: 16px Questrial, sans-serif;
}

.admincp-box .title {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.admincp-box .acp-name {
  cursor: pointer;
  color: #d6b36a;
  font: 500 18px Raleway, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 5px 20px;
  outline: 2px solid #f0f2f4;
  outline-style: -2px;
  position: relative;
}

.admincp-box .acp-name:hover {
  outline: 1.5px solid #d6b36a;
  outline-style: -1.5px;
  box-shadow: 0px 0px 3px 1px #d6b36a;
}

.admincp-box .acp-name img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 500ms e;
}

.admincp-box .hide-box {
  height: 0;
  overflow: hidden;
}

.admincp-box .acp-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admincp-box .acp-flex .acp-image {
  width: 60px;
  height: 60px;
}

.admincp-box .acp-flex .acp-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.admincp-box .acp-flex .acp-link a {
  text-transform: uppercase;
  text-decoration: none;
  color: #d6b36a;
  font: 500 18px Raleway, sans-serif;
  font-size: 16px;
  outline: 1px solid #d6b36a;
  outline-offset: -1px;
}

.admincp-box .acp-flex .acp-link a:hover, .admincp-box .acp-flex .acp-link a:active {
  background: #d6b36a;
  color: white;
}

.next-page a{
  color: #d6b36a;
  display: flex;
  justify-content: center;
}

.crochet{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
