.btn-btn {
  top: 28px;
  right: 60px;
  z-index: 2;
  position: absolute;
  height: 30px;
  width: 30px;
  align-self: center;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-btn-burger {
  position: absolute;
  width: 100%;
  top: 10px;
  height: 5px;
  background: grey;
}

.btn-btn-burger::before {
  content: ' ';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 5px;
  background: grey;
}

.btn-btn-burger::after {
  content: ' ';
  position: absolute;
  top: 10px;
  width: 70%;
  height: 5px;
  background: grey;
}

.btn-btn .open {
  transform: rotate(720deg);
  transition: all 500ms ease-in-out;
  background: transparent;
}

.btn-btn-burger.open::before {
  width: 125%;
  transition: all 500ms ease-in-out;
  transform: rotate(45deg) translate(4px, 10px);
}

.btn-btn-burger.open::after {
  width: 125%;
  transition: all 500ms ease-in-out;
  transform: rotate(-45deg) translate(4px, -10px);
}
