/* No CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Questrial', sans-serif;
  line-height: 1.2;
  margin: 0;
}

.main {
  text-align: justify;
  margin-bottom: 50px;
  margin-top: 100px;
}

.main span {
  color: #b68e27;
}

.etape {
  text-align: none;
  margin-bottom: 80px;
}

.etape p {
  text-align: justify;
}

.etape h2 {
  font-size: 18px;
}

.etape b {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Qwigley', cursive;
  font-size: 80px;
  font-weight: lighter;
  color: #b68e27;
}

.btn-inscrire {
  display: block;
  margin: auto;
  background-color: #e3d7bf;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #fff;
  width: 186px;
  height: 60px;
  padding: 20px;
}

.btn-inscrire:hover {
  text-decoration: none;
  color: #fff;
}

.description {
  padding: 25px;
}

.goLeft {
  margin-left: 20px;
}

.go b {
  margin-left: -15px;
}

