html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.main {
  position: relative;
  text-align: justify;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.main p{
	margin-bottom: 15px;
}

.main span {
  color: #b68e27;
}

.article{
	padding: 0 20px;
	margin-bottom: 100px;;
}

.article-content{
	text-align: justify;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.article-content p{
	margin-bottom: 15px;
}

.article-title{
	position: relative;
	left: 50px;
	font-size: 20px;
	width: 420px;
	margin-bottom: 20px;
	text-align: left;
}

.article-title-number{
	position: absolute;
	top: -20px;
	left: -50px;
	font-family: "Qwigley", sans-serif;
	color: #b68e27;
	font-size: 80px;
}

.deux-ligne{
	position: absolute;
	top: -42px;
}

.btn-inscrire {
  display: block;
  margin: auto;
  background-color: #e3d7bf;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  width: 152px;
  height: 45.74px;
  padding: 13px;
  margin-bottom: 200px;
}

.btn-inscrire:hover {
  border: 1px solid #e3d7bf;
  background: #fff;
  text-decoration: none;
  color: #e3d7bf;
}


@media only screen and (min-width: 800px){
	.main{
		padding: 0 50px;
		margin-bottom: 45px;
	}

	.article{
		padding: 0 50px;
	}
}

@media only screen and (min-width: 900px){
	.main{
		padding: 0 80px;
	}
	.article{
		padding: 0 90px;
	}
}

@media only screen and (min-width: 1024px){
	.main{
		padding: 20px 100px;
	}

	.article{
		width: 100%;
	}

	.article-title{
		left: 0;
		width: 350px;
	}

	.deux-ligne{
		position: absolute;
		top: -20px;
	}

	.article-content{
		clear: both;
		left: 20px;
		width: 420px;
		padding: 0 20px;
	}
	.article-content:first-child{
		float: right;
		width: 45%;
	}

	.article-content:nth-child(2){
		float: left;
		width: 45%;
		padding-left:70px;
	}

	.article-content:nth-child(3){
		float: right;
		width: 45%;
	}

	.article-content:nth-child(4){
		float: left;
		width: 45%;
		padding-left:70px;
	}

	.btn-inscrire {
		clear: both;
	}

	.article-title-number{
		left: -60px;
		top: -23px;
	}



	.trait {
		display: block;
		margin-left: 50%;
		position: absolute;
		top: 1015px;
		width: 1px;
		height: 730px;
		background: rgba(51, 51, 51, 0.54);;
	}

	.goLeft{
		left: -60px;
		top: -23px;
	}

	.btn-inscrire{
		margin-top: 1000px;
	}

}


@media only screen and (min-width: 1200px){
  .article-title{
    left: 0;
    width: 440px;
  }
  .goLeft{
    left: -60px;
    top: -50px;
  }
}
