/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  font-family: 'Questrial', sans-serif;
  margin: 0;
  line-height: 1.5;
}


.content{
	margin: 15px;
}

.block-left{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.block-image{
	display: block;
	margin: 0 auto;
	width: 100%;
	object-fit: cover;
}

.pdp{
	border: 1px solid #D6B36A;
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
}

.user_name{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	margin: 15px 20px;
}

p{
	line-height: 50px;
}

p span{
	color: #D6B36A;
}

.questionnaire-title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-align: justify;
	margin-bottom: 20px;
}

.questionnaire p {
	line-height: 30px;
	text-align: justify;
	margin-bottom: 20px;
}

.block-button{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.btn-edit{
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	border: 1px solid #D6B36A;
	padding: 15px;
	margin-bottom: 15px;
	color: #D6B36A;
	font-size: 14px;
}

.btn-edit:hover{
	text-decoration: none;
	background-color: #D6B36A;
	color: #fff;
}

.validate-profil{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px;
}

#js-show-in-validate-profil{
	border: 1px solid #D6B36A;
	padding: 20px;
	width: 50%;
}

.check{
	margin: 50px;
}

@media only screen and (min-width: 600px){
	.content{
		display: flex;
		grid-column-gap: 2%;
	}

	.block-right-content{
		background-color: #f0f2f4;
		padding: 15px;
	}

	.main{
		margin-top: 20px;
		display: flex;
		grid-column-gap: 5%;
		margin-bottom: 100px;
	}

	.block-left{
		width: 30%;
	}

	.block-right{
		width: 70%;
	}

	.block-button{
		margin-top: 50px;
	}

}

@media only screen and (min-width: 1024px){

	.left_link{
		border-right: 1px solid #D6B36A;
	}

	.block-button{
		display: flex;
		justify-content: center;
		grid-column-gap: 5%;
		width: 90%;
	}

	.btn-modifier{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	.offre-perso{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 50%;
	}

	.btn-edit{
		width: 100%;
	}
}
