@import 'config';

.contact-us {
  width: 80%;
  margin: 60px auto;
  margin-top: 15px;
  background-color: rgba($secondary_element_color, 0.7);
  padding: 2rem;

  h2 {
    font: $ffbtn;
    font-size: 20px;
    color: $main_theme_color;
    margin-bottom: 25px;
  }

  input,
  textarea {
    font: $ffsentence;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 0;
    padding: 8px;
    border: 2px solid $secondary_text_color_button;

    &:focus {
      box-shadow: 1px 1px 5px 1px $main_theme_color;
      border-radius: none;
      outline: none;
      outline: 2px solid $main_theme_color;
    }
  }

  .textarea {
    height: 80px;
  }

  .sub {
    width: 200px;
    margin-top: 15px;
    margin-left: auto;
  }

  .submit {
    font: $ffbtn;
    margin-left: auto;
    text-transform: uppercase;
    margin-bottom: 0;
    color: white;
    background-color: $secondary_text_color_button;

    &:hover,
    &:active {
      background: white;
      padding: 10px;
      color: $secondary_text_color_button;
      border: none;
      box-shadow: 1px 1px 10px 1px solid $main_theme_color;
    }

    &:focus {
      box-shadow: 1px 1px 10px 1px solid $main_theme_color;
      border: none;
      padding: 8px;
    }
  }
}