@import 'config';
@import 'pagemenu';

// line travel create offre
.create-offre-box {
  padding: 20px 0;
  font: $ffsentence;
  text-align: center;
  .travel-creation {
    margin: 0 auto;
    .circle {
      background-color: $secondary_element_color;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: 600 16px roboto, sans-serif;
      border-radius: 50%;
      color: white;
    }
    .line {
      content: ' ';
      align-self: center;
      height: 2px;
      background-color: $secondary_element_color;
    }
    .travelc-image {
      display: flex;
    }
    ol {
      margin-top: 10px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      font: $ffbtn;
      font-size: 16px;
    }
    .color-bg {
      background-color: $main_theme_color;
    }
  }
  // end line
  .detail-post-box {
    padding: 20px 0;
    margin: 30px auto;
    #offre_job_contrat_cdi {
      width: 40px;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    #dp-date {
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        // display: none;
        background: transparent;
        -webkit-appearance: none;
      }
      background: $secondary_element_color url('/image/calendar.png') no-repeat right 0.5rem center/21px 24px;
    }
    .dp-input {
      margin: 6px auto 30px auto;
      input,
      select,
      textarea {
        text-align: center;
        border: none;
        padding: 10px 0;
        border-radius: 0;
        &:focus {
          border-radius: none;
          outline: 1px solid $main_theme_color;
          box-shadow: 1px 1px 5px 1px $main_theme_color;
        }
      }

      input,
      textarea {
        background: $secondary_element_color;
      }
      textarea {
        height: 70px;
      }
    }
    // custom check box
    .dp-input-checkbox1 {
      font: $ffsentence;
      display: block;
      position: relative;
      margin: 35px auto;
      margin-top: 50px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: -2px;
        left: 100px;
        height: 20px;
        width: 20px;
        background-color: #c4c4c4;
      }
      &:hover input ~ .checkmark {
        background-color: $main_theme_color;
      }
      input:checked ~ .checkmark {
        background-color: $secondary_element_color;
      }
      .checkmark:after {
        content: '';
        position: absolute;
        display: none;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        left: 5px;
        top: -7px;
        width: 15px;
        height: 25px;
        border: solid black;
        border-width: 0 5px 5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    ///end custom
    .dp-input-renumeration {
      font: $ffbtn;
      width: 90%;
      margin-top: 30px;
      margin-bottom: 40px;
      .dp-input-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      input {
        -webkit-appearance: none;
        width: 92%;
        height: 0px;
        padding: 0;
        padding-top: 5px;
        &:focus {
          border: none;
          box-shadow: none;
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 25px solid $main_theme_color;
          border-radius: 0;
          box-shadow: none;
          outline: none;
          cursor: pointer;
        }
        &::-ms-thumb {
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 25px solid $main_theme_color;
          border-radius: 0;
          box-shadow: none;
          outline: none;
          background: transparent;
          cursor: pointer;
        }
        &::-moz-range-thumb {
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 25px solid $main_theme_color;
          border-radius: 0;
          box-shadow: none;
          outline: none;
          background: transparent;
          cursor: pointer;
        }
      }
      .span1 {
        width: 45px;
      }
      .value-renum {
        height: 20px;
        position: relative;
        div {
          color: white;
          left: 50%;
          top: 3px;
          position: absolute;
          width: 60px;
          height: 35px;
          line-height: 1.8;
          background: $main_theme_color;
        }
      }
    }
    .co-dp-btn {
      font: $ffbtn;
      text-align: center;
      border: 2px solid $main_theme_color;
      color: $main_theme_color;
      padding: 12px 5px;
      margin: 50px auto;
      margin-bottom: 20px;
      width: 170px;
      cursor: pointer;
      &:hover,
      &:active {
        background: $main_theme_color;
        color: white;
      }
    }
  }
  .context-offre-box {
    display: none;
    padding: 20px;
    margin: 30px 0;
    .co-input {
      margin: 6px auto 30px auto;
      width: 80%;
      input,
      select,
      textarea {
        text-align: center;
        border: none;
        width: 100%;
        padding: 10px 0;
        border-radius: 0;
        &:focus {
          border-radius: none;
          outline: 1px solid $main_theme_color;
          box-shadow: 1px 1px 5px 1px $main_theme_color;
        }
      }
      input,
      textarea {
        background: $secondary_element_color;
      }
      #addImage {
        width: 100px;
        height: 100px;
      }
    }
    .co-input-image {
      display: flex;
      // justify-content: center;
      margin: 50px auto;
      img {
        // align-self: flex-end;
      }
      label {
        // align-self: flex-end;
        .first-p {
          color: $main_theme_color;
        }
        .last-p {
          margin: 0;
          margin-top: 15px;
          cursor: pointer;
          text-decoration: underline;
        }
        font: $ffbtn;
        text-align: center;
        margin-left: 30px;
      }
    }
    .cp-input-check {
      margin: 15px auto 40px auto;
      display: flex;
      justify-content: flex-start;
      .cp-input-ckeck-label {
        margin-left: 0;
        margin-right: 80px;
        margin-bottom: 20px;
        font: $ffsentence;
      }
      #cp-input-check {
        width: 60px;
        &:focus,
        &:active {
          outline: 0;
          box-shadow: none;
        }
      }
    }
    .co-input-submit {
      input {
        font: $ffbtn;
        border: 2px solid $main_theme_color;
        color: $main_theme_color;
        background: transparent;
        margin: 35px auto 10px auto;
        cursor: pointer;
        &:hover,
        &:active {
          background: $main_theme_color;
          color: white;
        }
        &:focus,
        &:active {
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }
  // radio chack
  .cp-input-ckeck-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .cp-radio {
      position: absolute;
      top: -2px;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $secondary_element_color;
      border-radius: 50%;
    }
    &:hover input ~ .cp-radio {
      background-color: $main_theme_color;
    }
    input:checked ~ .cp-radio {
      background-color: $secondary_element_color;
    }
    .cp-radio:after {
      content: '';
      position: absolute;
      display: none;
    }
    input:checked ~ .cp-radio:after {
      display: block;
    }
    .cp-radio:after {
      top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #c4c4c4;
    }
  }
  // end radio
  .co-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $secondary_element_color url('/image/dropdown.png') no-repeat right 1rem center/21px 18px;
    text-align: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
    text-align-last: center;
    option {
      text-align: center;
      -moz-text-align-last: center;
      -ms-text-align-last: center;
      text-align-last: center;
    }
  }
  .hide-right {
    position: relative;
    &::before {
      content: ' ';
      position: absolute;
      right: 0;
      background: $secondary_element_color;
      width: 14px;
      height: 100%;
    }
  }
}

.input-error {
  color: red;
  font: $ffbtn;
  font-size: 14px;
  display: block;
  margin: -15px 0 20px 0;
}
// select {
//   -moz-text-align-last: center;
//   -ms-text-align-last: center;
//   text-align-last: center;
// }
