@import 'config';
@import 'pagemenu';
// line travel create offre
.create-offre-box {
  text-align: center;
  .travel-creation {
    background: green;
    margin: 0 auto;
    .circle {
      background-color: $secondary_element_color;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: 600 16px roboto, sans-serif;
      border-radius: 50%;
      color: white;
    }
    .line {
      content: ' ';
      align-self: center;
      height: 2px;
      background-color: $secondary_element_color;
    }
    .travelc-image {
      display: flex;
    }
    ol {
      margin-top: 10px;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
    .color-bg {
      background-color: $main_theme_color;
    }
  }
  // end line
  .detail-post-box {
    background: red;
    padding: 20px;
    margin: 35px 0;
    #offre_job_contrat_cdi {
      width: 40px;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    #dp-date {
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        // display: none;
        background: transparent;
        -webkit-appearance: none;
      }
      background: $secondary_element_color url('/image/calendar.png') no-repeat right 0.5rem center/21px 24px;
    }
    .dp-input {
      background: blue;
      width: 35%;
      margin: 0 auto;
      margin-bottom: 20px;
      input,
      select,
      textarea {
        width: 100%;
        text-align: center;
        border: none;
        padding: 10px 0;
        border-radius: 0;
        &:focus {
          border-radius: none;
          outline: 1px solid $main_theme_color;
          box-shadow: 1px 1px 5px 1px $main_theme_color;
        }
      }
      input,
      textarea {
        background: $secondary_element_color;
      }
      textarea {
        height: 70px;
      }
    }
    .dp-input-renumeration {
      font: $ffbtn;
      width: 90%;
      .dp-input-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      input {
        -webkit-appearance: none;
        width: 92%;
        height: 0px;
        padding: 0;
        padding-top: 5px;
        &:focus {
          border: none;
          box-shadow: none;
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 25px solid $main_theme_color;
          border-radius: 0;
          box-shadow: none;
          outline: none;
          cursor: pointer;
        }
        &::-ms-thumb {
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 25px solid $main_theme_color;
          border-radius: 0;
          box-shadow: none;
          outline: none;
          background: transparent;
          cursor: pointer;
        }
        &::-moz-range-thumb {
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 25px solid $main_theme_color;
          border-radius: 0;
          box-shadow: none;
          outline: none;
          background: transparent;
          cursor: pointer;
        }
      }
      .span1 {
        width: 45px;
      }
      .value-renum {
        margin: 0 auto;
        width: 120%;
        position: relative;
        div {
          left: 50%;
          transform: translateX(-185%);
          top: 3px;
          position: absolute;
          width: 60px;
          height: 35px;
          line-height: 1.8;
          background: $main_theme_color;
        }
      }
    }
  }
  .context-offre-box {
    background: yellow;
    padding: 20px;
    margin: 35px 0;
  }
  .co-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $secondary_element_color url('/image/dropdown.png') no-repeat right 1rem center/21px 18px;
    text-align: center !important;
    option {
      text-align: center;
    }
  }
  .hide-right {
    position: relative;
    &::before {
      content: ' ';
      position: absolute;
      right: 0;
      background: $secondary_element_color;
      width: 14px;
      height: 100%;
    }
  }
}
