@import 'config';

.eq-all {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .equip1,
  .equip2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.equipe-box {
  height: auto;
  margin: 0 auto;
  padding-top: 70px;
  background-color: $secondary_text_color_button;

  .eq-title {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font: $ffbtn;
    font-size: 28px;
  }

  .eq-box-eq {
    background-color: white;
    box-shadow: $box-shadow;

    .eq-image {
      margin: -40% auto;
      margin-bottom: 50px;

      img {
        border-radius: 50%;
        width: 100%;
      }
    }

    .eq-content {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: center;

      .eq-name {
        font: $ffbtn;
        font-size: 18px;
        margin-bottom: 25px;
      }

      .eq-des {
        font: $ffsentence;
      }
    }
  }

  .box-spec {
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
    }

    &:hover,
    &:active {
      box-shadow: 1px 1px 10px 1px $main_theme_color;

      a {
        color: $main_theme_color;
      }
    }
  }
}

// profil d'emmanuel css
.big-box {
  // top: 500px;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3000;
  background: rgba(#000000, 0.6);
  display: none;
  align-items: center;
}

.emmanuel-profil {
  font: $ffsentence;
  background: white;
  width: 90%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .bg-border {
    border-radius: 10px;
    background: $secondary_element_color;
  }

  .closed {
    cursor: pointer;
    top: 0;
    right: 15px;
    z-index: 5000;
    position: absolute;
    font: $ffsentence;
    font-size: 60px;
    transform: rotate(45deg);
    color: $main_theme_color;
  }

  .title {
    border-bottom: 2px solid white;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font: $ffbtn;
    text-transform: uppercase;
    color: $main_theme_color;

    img {
      width: 20px;
      height: 20px;
      margin: 0 5px;
    }
  }

  .profil {
    margin: 10px;
    width: 300px;

    .photo {
      content: ' ';
      width: 260px;
      height: 360px;
      margin: 20px auto;
      margin-bottom: 30px;
      background: url(/image/emma1.jpg) top;
      background-size: cover;
    }

    .content-item {
      width: 90%;
      padding-bottom: 5px;
      margin: 15px auto;
      margin-bottom: 20px;
      border-bottom: 2px solid white;
    }

    .name,
    .post {
      font: $ffbtn;
    }

    .localisation {
      img {
        width: 15px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }

  .emmanuel-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .about {
      margin: 10px;

      .content {
        text-align: justify;

        p {
          margin-top: 20px;
        }
      }
    }

    .contact {
      margin: 10px;

      .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 30px 10px;

        a:hover,
        a:active {
          text-decoration: none;
        }

        img {
          height: 34px;
        }
      }
    }
  }
}