.eq-all {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.eq-all .equip1,
.eq-all .equip2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.equipe-box {
  height: auto;
  margin: 0 auto;
  padding-top: 70px;
  background-color: #e3d7bf;
}

.equipe-box .eq-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font: 550 18px Raleway, sans-serif;
  font-size: 28px;
}

.equipe-box .eq-box-eq {
  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
}

.equipe-box .eq-box-eq .eq-image {
  margin: -40% auto;
  margin-bottom: 50px;
}

.equipe-box .eq-box-eq .eq-image img {
  border-radius: 50%;
  width: 100%;
}

.equipe-box .eq-box-eq .eq-content {
  text-align: center;
}

.equipe-box .eq-box-eq .eq-content .eq-name {
  font: 550 18px Raleway, sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
}

.equipe-box .eq-box-eq .eq-content .eq-des {
  font: 15px Questrial, sans-serif;
}

.equipe-box .box-spec {
  cursor: pointer;
}

.equipe-box .box-spec a {
  text-decoration: none;
  color: black;
}

.equipe-box .box-spec:hover, .equipe-box .box-spec:active {
  box-shadow: 1px 1px 10px 1px #d6b36a;
}

.equipe-box .box-spec:hover a, .equipe-box .box-spec:active a {
  color: #d6b36a;
}
