p {
  margin-bottom: 0;
}

* {
  line-height: 1.5;
  font: 16px Questrial, sans-serif;
}

hr {
  background: #000;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.bolder {
  font-weight: bold;
}

.nav-facture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.nav-facture p {
  margin-bottom: 10px;
}

.nav-facture hr {
  margin-top: 0;
}

.facture-content {
  padding: 50px;
  padding-top: 100px;
}

.facture-content .infos-box .infos img {
  width: 250px;
}

.facture-content .infos-box .infos .contact {
  font: 500 18px Raleway, sans-serif;
}

.facture-content .infos-box .facture {
  width: 60%;
  flex-direction: column;
  padding-bottom: 60px;
}

.objet {
  margin: 20px 0;
}

.table1 {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table1 th {
  font-weight: bold;
}

.table1 td {
  border: 1px solid black;
  padding: 10px 5px;
}

.table1 td:nth-child(1) {
  border-left: none;
  width: 150px;
}

.table1 td:last-child {
  width: 100px;
  border-right: none;
}

.table1 .span {
  width: 100px;
  text-align: right;
}

.table1 .span span {
  display: block;
}

.note-box .note {
  width: 45%;
  border: 1px solid #000;
  padding: 5px;
}

.note-box .note ul {
  padding-left: 50px;
  text-align: justify;
}

.note-box table td {
  padding: 5px 30px;
  background: #fff;
  text-align: right;
}

.note-box table td span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.774);
  font-size: 13px;
}

.note-box table .spec td {
  padding: 20px 30px;
}

.note-box table .spec.bor {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.befor-last {
  margin: 20px 0;
}

.befor-last table {
  border-collapse: collapse;
}

.befor-last td {
  border: 1px solid black;
  padding: 5px;
  text-align: right;
  padding-left: 20px;
}

.befor-last td:first-child {
  padding-left: 5px;
  padding-right: 20px;
  text-align: left;
}

.befor-last th {
  font-weight: bold;
}

.facture-footer {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 50px;
  left: 0;
  bottom: 0;
}

.last-table td {
  padding: 10px 50px;
}

.last-p {
  padding: 10px 50px;
}
