@import 'config';
@import 'pagemenu';

.fc-box {
  width: 90%;
  margin: 0 auto;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;

  .title {
    font: $ffbtn;
    color: $main_theme_color;
    text-transform: uppercase;
  }

  h3 {
    font: $ffsentence;
  }

  h2 {
    font: $ffbtn;
  }

  .co-any-job {
    border: 2px solid $main_theme_color;
    // width: 50%;
    margin: 50px auto;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    // padding: 50px;

    p {
      margin: 30px 0;
    }

    a {
      color: $main_theme_color;
      border: 2px solid $main_theme_color;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 30px;
      font: $ffbtn;

      &:hover,
      &:active {
        background: $main_theme_color;
        color: white;
      }
    }
  }

  .fc-body {
    h2 {
      text-align: left;

      a {
        color: $main_theme_color;
        font: $ffbtn;
        font-size: 20px;

        &:hover,
        &:active {
          color: #d6b46ab7;
        }

        img {
          width: 30px;
          height: 30px;
          margin-right: 25px;
        }
      }
    }

    .my_five_candidates {
      display: flex;
      flex-wrap: wrap;
    }

    .cadre-items {
      border: 3px solid $main_theme_color;
      margin: 10px;

      .c {
        width: 135px;
        height: 150px;
      }
    }

    .name {
      margin: 5px 0;
      text-transform: capitalize;
    }

    .fc-body-empty {
      padding: 20px;

      h3 {
        margin-bottom: 20px;
      }

      .show-pb2-btn {
        div {
          border: 2px solid $main_theme_color;
          padding: 10px 0;
          margin: 10px auto;
          text-align: center;

          a {
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: $main_theme_color;
            font: $ffbtn;
          }

          &:hover,
          &:active {
            background: $main_theme_color;

            a {
              color: white;
            }
          }
        }
      }
    }
  }
}