.footer-oiam {
  width: 85%;
  z-index: -1;
  margin: 30px auto;
}

.footer-oiam a {
  text-decoration: none;
}

.footer-oiam a:hover {
  text-decoration: none;
}

.footer-oiam hr {
  background: black;
  height: 2px;
  opacity: 0.8;
  margin: 15px 0;
}

.footer-oiam .footer-btn {
  display: flex;
  justify-content: flex-end;
  font: 500 18px Raleway, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer-oiam .footer-btn span {
  cursor: pointer;
  background: white;
  border: 2px solid black;
  color: black;
}

.footer-oiam .footer-btn span:hover, .footer-oiam .footer-btn span:active {
  opacity: 0.8;
}

.footer-oiam .footer-bottom {
  display: flex;
  align-items: center;
}

.footer-oiam .footer-bottom .footer-c,
.footer-oiam .footer-bottom .copyright {
  font: 500 18px Raleway, sans-serif;
  font-size: 12px;
}

.footer-oiam .footer-bottom .footer-c a,
.footer-oiam .footer-bottom .copyright a {
  margin-right: 10px;
  color: black;
}

.footer-oiam .footer-bottom .social {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.footer-oiam .footer-bottom .social img {
  width: 20px;
}

#input-mail {
  width: 450px;
  background: white;
  transform: translateX(500px);
  display: none;
  justify-content: center;
  align-items: center;
}

#input-mail input {
  border-radius: 0;
  padding: 10px;
}

#input-mail input[type='text'] {
  margin: 10px;
  width: 90%;
  border: none;
  margin-right: 20px;
  background: #f0f2f4;
  color: #333333;
}

#input-mail input[type='text']:focus {
  border: 1px solid #e3d7bf;
  outline: none;
}

#input-mail input[type='submit'] {
  margin: 10px;
  text-decoration: none;
  border: 2px solid #d6b36a;
  text-transform: uppercase;
  color: #d6b36a;
  font: 500 18px Raleway, sans-serif;
  padding: 10px 20px;
}

#input-mail input[type='submit']:hover, #input-mail input[type='submit']:active {
  background: #d6b36a;
  color: white;
}
