.footer-oiam {
  width: 85%;
  margin: 30px auto;
}

.footer-oiam a {
  text-decoration: none;
}

.footer-oiam a:hover {
  text-decoration: none;
}

.footer-oiam hr {
  background: black;
  height: 2px;
  opacity: 0.8;
  margin: 15px 0;
}

.footer-oiam .footer-btn {
  display: flex;
  justify-content: flex-end;
  font: 500 18px Raleway, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer-oiam .footer-btn a {
  background: white;
  padding: 15px 60px;
  border: 2px solid black;
  color: black;
}

.footer-oiam .footer-bottom {
  display: flex;
  align-items: center;
}

.footer-oiam .footer-bottom .footer-c,
.footer-oiam .footer-bottom .copyright {
  font: 500 18px Raleway, sans-serif;
  font-size: 12px;
}

.footer-oiam .footer-bottom .footer-c a,
.footer-oiam .footer-bottom .copyright a {
  margin-right: 10px;
  color: black;
}

.footer-oiam .footer-bottom .social {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.footer-oiam .footer-bottom .social img {
  width: 20px;
}
