@import 'config';
.footer-oiam {
  width: 85%;

  margin: 30px auto;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  hr {
    background: black;
    height: 2px;
    opacity: 0.8;
    margin: 15px 0;
  }
  .footer-btn {
    display: flex;
    justify-content: flex-end;
    font: $ffbtn;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
    a {
      background: white;
      //   width: 350px;
      padding: 15px 60px;
      border: 2px solid black;
      color: black;
    }
  }
  .footer-bottom {
    display: flex;
    align-items: center;
    .footer-c,
    .copyright {
      font: $ffbtn;
      font-size: 12px;
      a {
        margin-right: 10px;
        color: black;
      }
    }
    .social {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: center;
      img {
        width: 20px;
      }
    }
  }
}
