.inscription-r {
  width: 90%;
  height: auto;
}

.inscription-r ol {
  margin-bottom: 80px;
}

.details-r {
  display: none;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.details-r .dr-item {
  border-radius: 0;
  border: none;
  padding: 10px;
  background-color: #f0f2f4;
  text-align: center;
  font: 16px Questrial, sans-serif;
}

.details-r .dr-item:focus {
  border-radius: none;
  border: inherit;
  border: 2px solid #d6b36a;
  box-shadow: 1px 1px 5px 1px #d6b36a;
}

.details-r .dr-item-fad {
  opacity: 0.5;
}

.details-r .dr-item-fad:focus {
  border: none;
  box-shadow: none;
}

.details-r .details-btn {
  width: 150px;
  margin: 30px auto;
  font: 500 20px Raleway, sans-serif;
  cursor: pointer;
  text-align: center;
  border: 2px solid #d6b36a;
  color: #d6b36a;
  padding: 10px 0;
}

.details-r .details-btn:hover, .details-r .details-btn:active {
  color: white;
  background-color: #d6b36a;
}

.details-r .dr-textarea {
  padding-top: 40px;
  opacity: 0.5;
}

.details-r-condition {
  display: none;
}

.details-r-condition p {
  font: 16px Questrial, sans-serif;
  text-align: center;
}

.details-r-condition .condition-content {
  width: 70%;
  max-height: 400px;
  overflow-x: auto;
  margin: 20px auto;
  text-align: justify;
  background-color: #f0f2f4;
  padding: 40px;
  opacity: 0.5;
}

.details-r-condition .condition-content:hover {
  opacity: 1;
}

.details-r-condition .condition-content .dc-1 {
  margin: 20px 0;
  font: 16px Questrial, sans-serif;
  font-size: 12px;
}

.details-r-condition .condition-content .dc-1 ol {
  margin: 10px;
  list-style: decimal;
}

.details-r-condition .condition-content .dc-1 h4 {
  font: 500 20px Raleway, sans-serif;
  margin: 10px 0;
}

.details-r-condition .condition-check {
  width: 66%;
  margin: 20px auto;
}

.details-r-condition .condition-check label {
  margin-left: 10px;
  font: 16px Questrial, sans-serif;
}

.dr-btn {
  width: 150px;
  margin: 70px auto;
}

.dr-btn .dr-btn-btn {
  cursor: pointer;
  font: 500 20px Raleway, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: unset;
  border: 2px solid #d6b36a;
  background-color: white;
  color: #d6b36a;
}

.dr-btn .dr-btn-btn:hover, .dr-btn .dr-btn-btn:active {
  background-color: #d6b36a;
  color: white;
}

.travel-parcours {
  margin: 0 auto;
}

.travel-parcours .circle {
  background-color: #f0f2f4;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 16px roboto, sans-serif;
  border-radius: 50%;
  color: white;
}

.travel-parcours .line {
  content: ' ';
  align-self: center;
  height: 2px;
  background-color: #f0f2f4;
}

.travel-parcours .travel-image {
  display: flex;
}

.travel-parcours ol {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.travel-parcours .color-bg {
  background-color: #d6b36a;
}

.details-r.open {
  display: block;
}

.input-error {
  color: #ff0000;
  font: 500 20px Raleway, sans-serif;
  font-size: 14px;
}
