@import 'config';
.inscription-r {
  width: 90%;
  height: auto;
  ol {
    margin-bottom: 80px;
  }
}
.details-r {
  display: none;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  .dr-item {
    border-radius: 0;
    border: none;
    padding: 10px;
    background-color: $secondary_element_color;
    text-align: center;
    font: $ffsentence;
    &:focus {
      border-radius: none;
      outline: none;
      outline: 2px solid $main_theme_color;
      box-shadow: 1px 1px 5px 1px $main_theme_color;
    }
  }
  .details-btn {
    width: 150px;
    margin: 30px auto;
    font: $ffbtn;
    cursor: pointer;
    text-align: center;
    border: 2px solid $main_theme_color;
    color: $main_theme_color;
    padding: 10px 0;
    &:hover,
    &:active {
      color: white;
      background-color: $main_theme_color;
    }
  }
  #city {
    opacity: 0.5;
    &:focus,
    &:active,
    &:hover {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  .dr-textarea {
    padding-top: 25px;
    opacity: 0.5;
    height: 70px;
    &:focus,
    &:active,
    &:hover {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}
.details-r-condition {
  display: none;
  p {
    font: $ffsentence;
    text-align: center;
  }
  .condition-content {
    width: 70%;
    max-height: 400px;
    overflow-x: auto;
    margin: 20px auto;
    text-align: justify;
    background-color: $secondary_element_color;
    padding: 40px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    .dc-1 {
      margin: 20px 0;
      font: $ffsentence;
      font-size: 12px;
      ol {
        margin: 10px;
        list-style: decimal;
      }
      h4 {
        font: $ffbtn;
        margin: 10px 0;
      }
    }
  }
  .condition-check {
    width: 66%;
    margin: 20px auto;
    label {
      margin-left: 10px;
      font: $ffsentence;
    }
  }
}
.dr-btn {
  width: 150px;
  margin: 70px auto;
  .dr-btn-btn {
    cursor: pointer;
    font: $ffbtn;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: unset;
    border: 2px solid $main_theme_color;
    background-color: white;
    color: $main_theme_color;
    &:hover,
    &:active {
      background-color: $main_theme_color;
      color: white;
    }
  }
}
// line de parcours
.travel-parcours {
  margin: 0 auto;
  .circle {
    background-color: $secondary_element_color;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 16px roboto, sans-serif;
    border-radius: 50%;
    color: white;
  }
  .line {
    content: ' ';
    align-self: center;
    height: 2px;
    background-color: $secondary_element_color;
  }
  .travel-image {
    display: flex;
  }
  ol {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .color-bg {
    background-color: $main_theme_color;
  }
}
.details-r.open {
  display: block;
}
.input-error {
  color: #ff0000;
  font: $ffbtn;
  font-size: 14px;
}
.password-r,
.cpass-r {
  font: $ffbtn;
}
.phone-number-add {
  position: relative;
  .before-number {
    box-shadow: $box-shadow;
    background-color: #c4c4c4c4;
    color: rgba(white, 0.8);
    font: $ffbtn;
    font-size: 14px;
    position: absolute;
    left: 4px;
  }
}
