:root {
  --main-bg-color: #d6b36a;
}

.log-admin-ttl {
  font-size: 20px;
  padding: 20px;
  margin-bottom: 15px;
}

.log-admin-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.log-admin-input::placeholder {
  text-align: center;
}
.log-admin-input::placeholder {
  text-align: center;
}
.form-admin-log {
  position: relative;
  z-index: 1;
  background: #f0f2f4;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-admin-log .log-admin-input {
  font-family: Questrial, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 2px solid #d6b36a;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}
.form-admin-log .log-admin-button {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d6b36a;
  width: 100%;
  border: 1px solid #d6b36a;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-admin-log .log-admin-button:hover,
.form-admin-log .log-admin-button:active,
.form-admin-log .log-admin-button:focus {
  background: #ffffff;
  color: #d6b36a;
  border: 1px solid #d6b36a;
}
.form-admin-log .log-admin-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
.form-admin-log .log-admin-message a {
  color: #d6b36a;
  text-decoration: none;
}
.log-admin-rem {
  font-family: Questrial, sans-serif;
  text-align: center;
  margin: 20px;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: var(--main-bg-color) 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: var(--main-bg-color), border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
}
/*.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--main-bg-color) !important;
  background-color: var(--main-bg-color) !important;
}*/

.show-cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Questrial, sans-serif;
  text-align: center;
}

.show-cont input {
  padding: 10px;
  height: 20px;
  width: 20px;
/*  border: 1px solid var(--main-bg-color) !important;*/
  margin-left: 10px;
/*  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

span.checkmark:checked {
  background: #d6b36a;
}

.show-cont input:checked {
  background: var(--main-bg-color) !important;
  color: #fff !important;
  outline: none;
}

label,input{
    display: inline-block;
    vertical-align: middle;
}
