*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  font-family: 'Questrial', sans-serif;
}

.aside{
  margin: 50px 15px;
  text-align: justify;
}

.aside-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #D6B36A;
  font-size: 20px;
  margin-bottom: 20px;
}

.aside-paragraphe p{
  margin-bottom: 15px;
}

.aside-paragraphe{
  position: relative;
  margin-left: 50px;
}

.aside-paragraphe p{
  position: relative;
}

.aside-paragraphe p img{
  position: absolute;
  width: 40px;
  height: 40px;
  left: -50px;
  margin-bottom: auto;
}

.first-image{
  margin: .5rem 0;
  top: 0;
  left: 0;
  right: 0;
}

.second-image{
  margin: .5rem 0;
  top: 0;
  left: 0;
  right: 0;
}

.threeth-image{
  top: 0;
  left: 0;
  right: 0;
}

.fourth-image{
  margin: 1.1rem 0;
  top: 0;
  left: 0;
  right: 0;
}

.fiveth-image{
  margin: 1.1rem 0;
  top: 0;
  left: 0;
  right: 0;
}

.article{
  margin: 50px 15px;
  text-align: justify;
}

.article-left-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #D6B36A;
  font-size: 20px;
  margin-bottom: 20px;
}

.article-left{
  position: relative;
}

.article-left-paragraphe p{
  margin-bottom: 15px;
}

.noun{
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.article-right-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #D6B36A;
  font-size: 20px;
  margin-bottom: 20px;
}

.article-right-paragraphe p{
  margin-bottom: 15px;
}

.picto1{
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 620px)  {
  html{
    font-size: 20px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }

  .fourth-image{
    margin: .5rem 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .fiveth-image{
    margin: .5rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

}

@media only screen and (min-width: 648px)  {
  html{
    font-size: 20px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }

  .first-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .second-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .fourth-image{
    margin: .5rem 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .fiveth-image{
    margin: .5rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

}

@media only screen and (min-width: 700px)  {
  html{
    font-size: 20px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }

  .fourth-image{
    margin: .5rem 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .fiveth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

}

@media only screen and (min-width: 753px)  {
  html{
    font-size: 20px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }

  .fourth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .fiveth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

}

@media only screen and (min-width: 885px)  {
  html{
    font-size: 20px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }
  .aside{
    padding: 0 80px;
  }
  .fourth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .fiveth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .article-left{
    position: relative;
    display: inline;
  }

  .article-left-paragraphe{
    margin-left: 20px;
    width: 600px;
  }
  .article-right{
    position: relative;
  }
  .article-left-picto{
    position: absolute;
    top: 20px;
    left: 700px;
  }

.article-right-paragraphe{
  position: relative;
  margin-top: 50px;
  width: 600px;
  left: 170px;
}

.article-right-picto{
  position:absolute;
  top: 0;
  left:15px;
}




}

@media only screen and (min-width: 1024px)  {
  html{
    font-size: 18px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }

  .aside-title{
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .aside{
    position: relative;
    left: 157px;
    width: 850px;;
    padding: 0 200px;
  }

  .article{
    margin-top: 80px;
  }



  .aside-paragraphe{
    width: 500px;
  }
  .fourth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .fiveth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .article-left-paragraphe{
    margin-left: 20px;
    width: 600px;
  }

  .article-left-picto{
    position: absolute;
    top: 20px;
    left: 810px;
  }
  .article-right{
    position: relative;
  }
  .article-left-picto{
    position: absolute;
    top: 20px;
    left: 700px;
  }

.article-right-paragraphe{
  position: relative;
  margin-top: 50px;
  width: 600px;
  left: 170px;
}

.article-right-picto{
  position:absolute;
  top: 0;
  left:15px;
}

}

@media only screen and (min-width: 1120px)  {
  html{
    font-size: 18px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }


  .aside{
    width: 850px;
    margin-left: 40px;
    padding: 0 200px;
  }

  .aside-paragraphe{
    width: 600px;
  }
  .fourth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .fiveth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .article-left{
    position: relative;
    display: inline;
    width: 700px;
  }

  .article-left-paragraphe{
    margin-left: 100px;
    width: 600px;
  }

  .article-left-picto{
    position: absolute;
    top: 20px;
    left: 965px;
  }

}

@media only screen and (min-width: 1200px)  {
  html{
    font-size: 18px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }


  .aside{
    width: 850px;
    margin-left: 100px;
  }

  .aside-paragraphe{
    width: 600px;
  }
  .fourth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .fiveth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .article-left{
    position: relative;
    left: 10px;
    display: inline;
  }

  .article-left-paragraphe{
    width: 600px;
  }

  .article-left-picto{
    position: absolute;
    top: 20px;
    left: 1002px;
  }

}

@media only screen and (min-width: 1320px)  {
  html{
    font-size: 18px;
  }
  body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.2;
    margin: 0;
  }


  .aside{
    position: relative;
    left: 100px;
    width: 950px;
  }

  .aside-paragraphe{
  }
  .fourth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .fiveth-image{
    margin: .1rem 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .article-left{
    position: relative;
    left: 90px;
    display: inline;
    width: 700px;
  }



  .article-left-paragraphe{
    margin-left: 20px;
  }

  .article-left-picto{
    position: absolute;
    top: 20px;
    left: 1070px;
  }

}
