@import 'config';

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.bg-uniq {
  // margin-top: -600px;
  // padding-top: 492px;
  padding-bottom: 100px;
  width: 100%;
  z-index: -1;
  background: url(/image/background2.jpg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  // bg unique
  .bg-uniq {
    margin-top: -450px;
    padding-top: 492px;
  }
  // landing page
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 100%;
    .box-1-btn {
      align-self: center;
    }
    .box-1-content {
      text-align: center;
    }
    .box-1-logo {
      width: 65%;
    }
  }
  .box-2 {
    display: none;
  }
  // navbar's elements
  ///////////////////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }
  .navbar-content {
    display: none;
    li {
      margin: 30px 0;
    }
  }
  .navbar-item:hover,
  .navbar-item:active {
    background-color: white;
    color: $secondary_text_color_button;
  }
  //////

  .dropup-btn1 {
    width: 180px;
    text-align: center;
    background-color: white;
    color: $secondary_text_color_button;
    &:hover {
      background-color: rgba(255, 255, 255, 0.432);
    }
  }
  .dropup-content1 {
    border: 2px white solid;
    .dropup-item1:active {
      background-color: white;
      color: $secondary_text_color_button;
    }
  }
  .dropup1 {
    margin-bottom: 10px;
  }
  // Page d'accueil général
  ////////////////////////////////////////////////////

  .accueilg-btn1 {
    margin-bottom: 30px;
    .cadre-btn1 {
      margin: 0 1em;
      a {
        padding: 12px 55px;
      }
    }
    .recruteur-btn1 {
      margin: 0 1em;
      a {
        padding: 12px 30px;
      }
    }
  }
  .picto1 {
    display: none;
  }
  .accueilg-content1 {
    margin: 0 auto;
    .ac-item2 {
      margin: 60px 0;
    }
  }
  // footer
  ////////////////////////////////////////
  .footer-bottom {
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    div {
      margin-bottom: 10px;
    }
  }
  // contact
  ////////////////////////////////////

  // accueil recruteur
  ////////////////////////////////@extend
  .accueil-recruteur {
    width: 90%;
    .title-ar {
      font: $ffbtn;
    }
    .ar-item {
      p {
        text-align: justify;
      }
    }
  }
  // inscription recruteur
  ///////////////////////////////////////@extend
  .details-r {
    .dr-item {
      margin: 20px 0;
      width: 100%;
    }
  }
  .inscription-r {
    margin: 20px auto;
  }
  .travel-parcours {
    width: 400px;
    .line {
      width: 80px;
    }
    ol {
      width: 400px;
      font: $ffbtn;
      font-size: 12px;
    }
  }
  .phone-number-add {
    .before-number {
      padding: 3px;
      font-size: 14px;
      top: 28px;
    }
  }
  // equipe equipe responsive
  .eq-all {
    .equip1,
    .equip2 {
      flex-direction: column;
      align-items: center;
    }
  }
  .equipe-box {
    width: 90%;
    padding-bottom: 50px;
    .eq-box-eq {
      padding-bottom: 20px;
      width: 200px;
      margin-top: 120px;
      .eq-image {
        width: 150px;
      }
    }
  }
  // menu left recruteur
  .left-menu-r {
    &.open {
      width: 50px;
    }
  }
  .btn-menu-r {
    right: 7px;
  }
  .left-menu-photo.open {
    opacity: 0;
  }
  // client profil
  .cp-table-box {
    td {
      padding: 5px 0px;
    }
    .table-td {
      flex-wrap: wrap;
      justify-content: center;
      .cp-infos-r {
        width: 80%;
      }
      .cpr-r {
        img {
          left: 6%;
        }
      }
    }
    .cp-flex-t {
      flex-direction: column;
    }
    .line-white {
      display: none;
    }
    .cp-icon-text {
      img {
        left: 35px;
      }
    }
    .cpe-description,
    .cpe-naf {
      text-align: center;
    }
  }
  // client edit profil
  .cp-edit-table-box {
    .cp-edit-form {
      width: 100%;
    }
    td {
      padding: 5px 0px;
    }
    .table-td {
      flex-wrap: wrap;
      justify-content: center;
      .cp-infos-r {
        width: 90%;
        input {
          width: 100%;
        }
      }
      .cpr-r {
        img {
          left: 6%;
        }
        .add {
          right: 2%;
        }
      }
    }
    .cp-flex-t {
      flex-direction: column;
    }
    .cp-icon-text {
      img {
        left: 35px;
      }
    }
    .cpe-description,
    .cpe-naf {
      text-align: center;
    }
  }
  // mes offres d emploi :
  .coj-box {
    flex-wrap: wrap;
    .cjo-content {
      width: 50%;
    }
  }
  // création d offre
  .create-offre-box {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;

    .detail-post-box {
      .dp-input {
        width: 90%;
        input,
        select,
        textarea {
          width: 100%;
        }
      }
      .dp-input-renumeration {
        .value-renum {
          margin-left: 6%;
          width: 70%;
        }
      }
    }
    .dp-input-checkbox1 {
      padding-left: 10%;
      span {
        margin-left: -50px;
      }
    }
    .travel-creation {
      width: 90%;
      .line {
        width: 38%;
      }
      ol {
        width: 115%;
        margin-left: -10%;
      }
    }
  }
  .context-offre-box {
    text-align: center;
    #co-input-submit {
      display: none;
    }
    #co-input-submit-1 {
      width: 150px;
      margin: 0 auto;
      input {
        width: 100%;
        padding: 10px 20px;
      }
    }
    .co-input-image {
      align-items: center;
      flex-direction: column;
    }
    .cp-input-check {
      flex-wrap: wrap;
    }
  }
  // show new job
  .show-job-box {
    .travel-creation {
      width: 90%;
      .line {
        width: 30%;
      }
      ol {
        width: 115%;
        margin-left: -10%;
      }
    }
  }
  .show-publication {
    width: 90%;
    margin: 0 auto;
    font: $ffsentence;
    .sjb-content {
      .show-einfos {
        flex-direction: column;
        .logo {
          align-self: center;
        }
        .local {
          width: 100%;
        }
      }
    }
    .so-btn {
      flex-direction: column;
      a {
        margin-bottom: 15px;
        text-align: center;
      }
    }
  }
  .show-pb2 {
    width: 70%;
  }
  // search cadre
  .select-cadre-box {
    .select-cadre-list {
      .validation {
        .submit-validation {
          .validation-bt {
            display: none;
          }
        }
      }
    }
    .select-cadre-list-items {
      .cadre-box {
        width: 200px;
        .cadre-box-image {
          position: relative;
          .cbi-photo {
            width: 100%;
            img {
              height: 280px;
            }
          }
        }
        .cadre-box-info {
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  ////////////////////////////////////////
  .box-1 {
    .box-1-logo {
      width: 55%;
    }
  }

  // accueil g
  //////////////////////////////////////
  .logo-g {
    display: none;
  }
  .picto1 {
    align-self: center;
    display: block;
    width: 90px;
    img {
      width: 100%;
    }
  }
  // navbar
  /////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }
  .navbar-content {
    display: none;
    li {
      margin: 30px 0;
    }
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    width: 180px;
  }
  // accueil général
  .first-btn1 {
    margin-top: 50px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    .ac-item2 {
      display: flex;
      justify-content: space-between;
      .accueilg-item1 {
        width: 70%;
      }
    }
    .ac-item21 {
      flex-direction: row-reverse;
    }
  }
  // footer

  // inscription recruteur
  .travel-parcours {
    width: 680px;
    .line {
      width: 180px;
    }
    ol {
      width: 750px;
      font-size: 14px;
      margin-left: -20px;
    }
  }
  .phone-number-add {
    .before-number {
      font-size: 16px;
      top: 25px;
      padding: 6px;
    }
  }

  // equipe equipe responsive
  .eq-all {
    .equip1,
    .equip2 {
      flex-direction: row;
    }
  }
  .equipe-box {
    width: 90%;
    .eq-box-eq {
      margin-top: 170px;
      padding-bottom: 20px;
      width: 250px;
      .eq-image {
        width: 180px;
      }
    }
  }
  // menu left recruteur
  .left-menu-r {
    &.open {
      width: 100px;
    }
  }
  .btn-menu-r {
    right: 6px;
  }
  .left-menu-photo.open {
    opacity: 1;
  }
  // client profil
  // client profil
  .cp-table-box {
    td {
      padding: 5px 40px;
    }
    .table-td {
      justify-content: flex-start;
      padding-left: 30px;
      .cp-infos-r {
        width: 50%;
      }
      .cpr-r {
        img {
          left: 6%;
        }
      }
    }
    .cp-flex-t {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .line-white {
      display: block;
    }
    .cp-icon-text {
      img {
        left: -30px;
      }
    }
    .cpe-description,
    .cpe-naf {
      text-align: left;
    }
  }
  // client edit profil
  // client edit profil
  .cp-edit-table-box {
    .table-td {
      flex-wrap: nowrap;
      justify-content: space-between;
      .cp-infos-r {
        width: 50%;
      }
    }
    .cp-flex-t {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .cp-icon-text {
      img {
        left: -5px;
      }
    }
  }
  // mes offres d emploi :
  .coj-box {
    .cjo-content {
      width: 40%;
    }
  }
  // création d offre
  .create-offre-box {
    width: 90%;
    padding: 0;
    margin: 0 auto;

    .detail-post-box {
      .dp-input {
        width: 70%;
      }
    }
    .detail-post-box {
      .dp-input-renumeration {
        .value-renum {
          margin-left: 3%;
          width: 80%;
        }
      }
    }
    .dp-input-checkbox1 {
      span {
        margin-left: 0;
      }
    }
    .travel-creation {
      width: 70%;
      .line {
        width: 38%;
      }
      ol {
        width: 115%;
        margin-left: -10%;
      }
    }
  }
  .context-offre-box {
    #co-input-submit-1 {
      display: none;
    }
    #co-input-submit {
      display: block;
      width: 320px;
      margin: 0 auto;
      text-align: left;
      label {
        margin-left: 10%;
      }
      input {
        width: 100%;
        padding: 12px 10px;
      }
    }
    .co-input-image {
      flex-direction: row;
      justify-content: center;
      img {
        align-self: flex-end;
      }
      label {
        align-self: flex-end;
        margin: 0;
      }
    }
  }
  // show new job
  .show-job-box {
    .travel-creation {
      width: 70%;
      .line {
        width: 38%;
      }
      ol {
        width: 115%;
        margin-left: -10%;
      }
    }
    .sjb-content {
      .show-einfos {
        flex-direction: row;
        flex-wrap: wrap;
        .local {
          width: 70%;
        }
      }
    }
    .so-btn {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .show-pb2 {
    a {
      width: 70%;
    }
  }

  // search cadre
  .select-cadre-box {
    .select-cadre-list {
      .validation {
        .submit-validation {
          .validation-bt1 {
            display: none;
          }
          .validation-bt {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  // bg unique
  .bg-uniq {
    margin-top: -505px;
    padding-top: 550px;
  }
  // landing page
  // landing page
  .box-1 {
    width: 50%;
    .box-1-btn {
      align-self: flex-end;
      margin-right: 10%;
    }
    .box-1-logo {
      width: 70%;
    }

    .box-1-content {
      text-align: left;
    }
  }
  .box-2 {
    display: block;
    // width: 50%;
    height: 99.5vh;
    background: url(/image/picture_photo_0ae4b3.jpg) no-repeat center;
    background-size: cover;
    // img {
    //   width: 100%;
    // }
  }
  // navbar
  ////////////////////////
  .navdiv {
    height: 500px;
    padding-bottom: 70px;
  }
  .logo-g {
    display: block;
    width: 38%;
  }
  .navb {
    padding: 15px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-content {
    display: flex;
    justify-content: space-around;
    width: 75%;
    align-self: center;
    align-items: center;
  }
  .navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: inherit;
    .navbar-item:hover {
      background-color: transparent;
      color: $main_theme_color;
    }
  }
  .navbar-logo {
    width: 5%;
    img {
      margin-left: 60%;
    }
  }
  ///
  .dropup1 {
    margin: 0;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: $secondary_text_color_button;
    color: white;
    width: 160px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.61);
      box-shadow: $box-shadow;
      color: $secondary_text_color_button;
    }
  }

  .dropup-content1 {
    position: absolute;
    background-color: $secondary_element_color;
    padding: 10px;
    width: 204px;
    right: 5%;
    top: 83px;
    text-align: center;
    z-index: 20;
  }
  .btn-btn {
    display: none;
  }
  // navbar background
  ////////////////////////////////////////////////

  .bg-inside {
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }
  // navbar accueilg and accueil g
  ////////////////////////////////////////////////
  .bg-accueil1 {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 650px;
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }
  .accueilg-btn1 {
    margin-bottom: 70px;
    .cadre-btn1,
    .recruteur-btn1 {
      margin: 0 2em;
    }
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 320px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    margin-top: 250px;
    .ac-item2 {
      margin: 110px 0;
    }
  }
  // footer
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    .footer-c {
      width: 65%;
    }
  }
  .social {
    a {
      margin-left: 5px;
    }
  }

  // contact
  ////////////////////////////////////
  .contact-us {
    .contact-change {
      display: flex;
      justify-content: space-between;
    }
    .contact-item {
      width: 48%;
    }
  }
  // accueil recruteur
  //////////////////@exten
  .accueil-recruteur {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .title-ar {
      font: $ffbtn;
      font-size: 16px;
    }
    .ar-vertical-line {
      position: absolute;
      left: 50%;
      content: ' ';
      width: 1px;
      height: 720px;
      background-color: black;
    }
    .ar-item {
      width: 48%;
    }
    .ar-item2 {
      align-self: flex-start;
      p,
      h2 {
        text-align: right;
      }
    }
  }

  // inscription recruteur
  ///////////////////////////////////////@extend
  .details-r {
    .dr-item-fad {
      width: 66%;
    }
    .dr-item-postal {
      width: 30%;
      margin-right: 3%;
    }
  }
  .travel-parcours {
    width: 680px;
    ol {
      width: 780px;
      margin-left: -38px;
    }
  }
  .inscription-r {
    margin: 50px auto;
  }
  // equipe equipe responsive
  .eq-all {
    .equip1,
    .equip2 {
      flex-direction: row;
    }
  }
  .equipe-box {
    padding-bottom: 70px;
    width: 80%;
    .eq-box-eq {
      margin-top: 200px;
      width: 300px;
      .eq-image {
        width: 250px;
      }
    }
  }
  // menu left recruteur
  .left-menu-r {
    &.open {
      width: 120px;
    }
  }
  .btn-menu-r {
    right: 15px;
  }
  // client profil
  .table-td {
    .cpr-r {
      img {
        left: 20%;
      }
    }
  }

  // client profil
  .cp-table-box {
    td {
      padding: 5px 60px;
    }
    .table-td {
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding-left: 50px;
      .cp-infos-r {
        width: 70%;
      }
      .cpr-r {
        img {
          left: 20%;
        }
      }
    }
    .cp-flex-t {
      flex-wrap: no-wrap;
    }
    .cp-icon-text {
      img {
        left: -40px;
      }
    }
  }
  // client edit profil
  .cp-edit-table-box {
    .table-td {
      justify-content: flex-start;
      flex-wrap: nowrap;
      // padding-left: 50px;
      #recruteur-fonction,
      #cp-full-name,
      #recruteur-mail,
      #recruteur-phone {
        width: 60%;
      }
      .cp-infos-r {
        width: 70%;
      }
      .cpr-r {
        img {
          left: 10%;
        }
        .add {
          left: 20%;
        }
      }
    }
    .cp-flex-t {
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
    }
    .cp-icon-text {
      img {
        left: 1px;
      }
    }
  }
  // création d offre
  .create-offre-box {
    .detail-post-box {
      .dp-input {
        width: 50%;
      }
    }
    .detail-post-box {
      .dp-input-renumeration {
        .value-renum {
          margin-left: 3%;
          width: 85%;
        }
      }
    }
    .dp-input-checkbox1 {
      padding-left: 4%;
    }
    .travel-creation {
      width: 450px;
      .line {
        width: 173px;
      }
      ol {
        width: 510px;
        margin-left: -8%;
      }
    }
  }
  // show new job
  .show-job-box {
    .travel-creation {
      width: 450px;
      .line {
        width: 173px;
      }
      ol {
        width: 510px;
        margin-left: -8%;
      }
    }
    .sjb-content {
      width: 80%;
      margin: 0 auto;
      .show-einfos {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        .local {
          width: 65%;
        }
      }
    }
    .so-btn {
      flex-wrap: nowrap;
    }
    .show-pb2-btn {
      a {
        width: 70%;
      }
    }
    .show-pb2 {
      width: 65%;
      a {
        width: 45%;
      }
    }
  }
  // search cadre
  .select-cadre-box {
    .select-cadre-list-items {
      .cadre-box {
        width: 250px;
        &:hover,
        &:active {
          .cadre-box-info {
            height: 170px;
            transition: all 500ms ease-in-out;
          }
        }
        .cadre-box-image {
          position: relative;
          .cbi-photo {
            width: 100%;
            img {
              height: 350px;
            }
          }
        }
        .cadre-box-info {
          position: absolute;
          height: 70px;
          transition: all 900ms ease-in-out;
          overflow: hidden;
          bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // navbar
  /////////////////////
  .navbar-content {
    justify-content: space-between;
    width: 70%;
    align-items: center;
  }
  .navbar-ul {
    width: 70%;
    margin-bottom: inherit;
  }

  .logo-g {
    width: 35%;
  }
  .dropup-content1 {
    right: 5.2%;
  }
  // navbar background all
  ///////////////////////////////////////////////
  .navdiv {
    padding-bottom: 100px;
  }
  // nabar bg accueil
  ///////////////////////////////////////////////

  // page d'accueil général
  .accueilg-btn1 {
    .cadre-btn1 {
      margin: 0 2em;
      a {
        padding: 12px 65px;
      }
    }
    .recruteur-btn1 {
      margin: 0 2em;
      a {
        padding: 12px 50px;
      }
    }
  }
  .accueilg-content1 {
    margin-top: 220px;
  }

  // accueil recruteur
  // ******************************//
  .accueil-recruteur {
    .title-ar {
      font-size: 20px;
    }
  }
  // inscription recruteur
  ///////////////////////////////////////@extend

  .travel-parcours {
    width: 700px;
    ol {
      width: 790px;
      margin-left: -45px;
    }
  }
  .inscription-r {
    margin: 60px auto;
  }

  // equipe equipe responsive
  .equipe-box {
    padding-bottom: 100px;
  }
  // client profil
  .table-td {
    .cpr-r {
      img {
        left: 30%;
      }
    }
  }

  // client profil
  .cp-table-box {
    td {
      padding: 5px 60px;
    }
    .table-td {
      justify-content: space-between;
      .cp-infos-r {
        width: 72%;
      }
      .cpr-r {
        img {
          left: 25%;
        }
      }
    }
  }
  // client edit profil
  .cp-edit-table-box {
    td {
      padding: 5px 30px;
    }
    .table-td {
      #recruteur-fonction,
      #cp-full-name,
      #recruteur-mail,
      #recruteur-phone {
        width: 50%;
      }
      justify-content: space-between;
      .cp-infos-r {
        width: 72%;
      }
      .cpr-r {
        img {
          left: 12%;
        }
        .add {
          left: 25%;
        }
      }
    }
  }
  // création d offre
  .create-offre-box {
    .detail-post-box {
      .dp-input {
        width: 35%;
      }
    }
    .detail-post-box {
      .dp-input-renumeration {
        .value-renum {
          width: 87%;
        }
      }
    }
    .dp-input-checkbox1 {
      padding-left: 6%;
    }
    .travel-creation {
      width: 600px;
      .line {
        width: 248px;
      }
      ol {
        width: 664px;
        margin-left: -7%;
      }
    }
  }
  // show new job
  .show-job-box {
    .travel-creation {
      width: 600px;
      .line {
        width: 248px;
      }
      ol {
        width: 664px;
        margin-left: -7%;
      }
    }
    // .show-pb2 {
    //   width: 50%;
    // }
  }
}
@media screen and (min-width: 1500px) {
  // bg unique
  .bg-uniq {
    margin-top: -605px;
  }
  // landing page
  // navbar
  // /////////////////////
  .navdiv {
    height: 600px;
  }

  .logo-g {
    width: 32%;
  }

  // // nabar bg accueil
  // ///////////////////////////////////////////////

  // // page d'accueil général
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 380px;
  }
  .bg-accueil1 {
    height: 750px;
  }

  // // accueil recruteur
  // // ******************************//

  // // inscription recruteur
  // ///////////////////////////////////////@extend
}
@media screen and (min-width: 2500px) {
  // navbar
  // /////////////////////
  .navdiv {
    height: 700px;
  }

  .logo-g {
    width: 30%;
  }

  // // nabar bg accueil
  // ///////////////////////////////////////////////

  // // page d'accueil général
  .first-btn1 {
    top: 450px;
  }
  .bg-accueil1 {
    height: 800px;
  }

  // // accueil recruteur
  // // ******************************//

  // // inscription recruteur
  // ///////////////////////////////////////@extend
}
