@import 'config';

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  //word-break: break-word;
  word-wrap: break-word;
  // z-index: 1;
}

/////////////@at-root
.option-center {
  background: red;
}

// css load
#loading-indicator {
  position: fixed;
  z-index: 900;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.986);

  #spinner {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 40%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0.8;
    border-radius: 6px;
    background: url('/image/load/ajax-loader.gif') center center no-repeat;
    background-size: cover;
  }
}

// flash scss
.flash {
  display: none;
  overflow: hidden;
  border-right: 7px solid rgba(141, 141, 141, 0.5);
  height: 60px;

  .flash-notice,
  .flash-alert {
    transform: translateX(500px);
    transition: all 1000ms ease-in-out;
    height: 100%;
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    color: white;
    font: $ffbtn;
    font-size: 15px;

    .icon {
      width: 35px;
      margin-right: 16px;

      img {
        width: 100%;
      }
    }
  }

  .active {
    transform: translateX(0);
    transition: all 1000ms ease-in-out;
  }

  .flash-notice {
    background: $main_theme_color;
  }

  .flash-alert {
    background: #bb3f3f;
  }
}

.bg-uniq {
  padding-bottom: 100px;
  width: 100%;
  z-index: -1;
  background: url(/image/background2.jpg) no-repeat center;
  background-size: cover;
}

.felicitation {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(#ffffff, #f4e8ca);
  position: fixed;
  z-index: 202;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  h1 {
    margin-bottom: 50px;
  }

  &-btn {
    width: 255px;
    margin: 50px auto;
    padding: 10px 0;
    border: 2px solid $main_theme_color;

    a {
      // background: #000;
      padding: 10px 5px;
      font: $ffbtn;
      text-transform: uppercase;
      text-decoration: none;
      color: $main_theme_color;
    }

    &:hover,
    &:active {
      background: $main_theme_color;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .diamond {
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    color: transparent;
    animation: pluie 3s linear forwards;
    z-index: 5555;
  }

  .diamond img {
    opacity: 0.8;
    min-width: 20px;
    width: 100%;
    height: auto;
  }

  @keyframes pluie {
    to {
      transform: translateY(105vh);
    }
  }
}

@media screen and (min-width: 320px) {

  // flash scss
  .flash {
    position: fixed;
    z-index: 500;
    top: 90px;
    right: 10px;
  }

  body {
    overflow-x: hidden;
  }


  // bg unique
  .bg-uniq {
    margin-top: -450px;
    padding-top: 492px;
  }

  // landing page
  .logo-g {
    display: none;
  }

  .box-1 {
    width: 100%;

    .box-1-btn {
      align-self: center;
    }

    .box-1-content {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: center;
    }

    .box-1-logo {
      width: 65%;
    }
  }

  // navbar's elements
  ///////////////////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }

  .navbar-content {
    display: none;

    li {
      margin: 30px 0;
    }
  }

  .navbar-item:hover,
  .navbar-item:active {
    background-color: white;
    color: $secondary_text_color_button;
  }

  //////

  .dropup-btn1 {
    width: 180px;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    background-color: white;
    color: $secondary_text_color_button;

    &:hover {
      background-color: rgba(255, 255, 255, 0.432);
    }
  }

  .dropup-content1 {
    border: 2px white solid;

    .dropup-item1:active {
      background-color: white;
      color: $secondary_text_color_button;
    }
  }

  .dropup1 {
    margin-bottom: 10px;
  }

  // Page d'accueil général
  ////////////////////////////////////////////////////

  .accueilg-btn1 {
    margin-bottom: 10px;
    flex-wrap: wrap;

    .cadre-btn1 {
      margin: 1em;

      a {
        padding: 12px 55px;
      }
    }

    .recruteur-btn1 {
      margin: 1em;

      a {
        padding: 12px 30px;
      }
    }
  }

  .picto1 {
    display: none;
  }

  .accueilg-content1 {
    margin: 0 auto;

    .ac-item2 {
      margin: 60px 0;
    }
  }

  // footer
  ////////////////////////////////////////


  // footer mail
  .footer-oiam {
    .footer-btn {
      span {
        padding: 15px 20px;
      }
    }

    .footer-bottom {
      justify-content: center;
      flex-direction: column;
      align-content: space-between;

      div {
        margin-bottom: 10px;
      }
    }
  }

  #input-mail {
    flex-direction: column;
  }

  // contact
  ////////////////////////////////////

  // accueil recruteur
  ////////////////////////////////@extend
  .accueil-recruteur {
    width: 90%;

    .title-ar {
      font: $ffbtn;
    }

    .ar-item {
      p {
        text-align: justify;
      }
    }
  }

  // inscription recruteur
  ///////////////////////////////////////@extend
  .details-r {
    width: 90%;

    .dr-item {
      margin-top: 40px;
      width: 100%;
    }
  }

  .inscription-r {
    margin: 20px auto;
  }

  .travel-parcours {
    width: 345px;

    .line {
      width: 62px;
    }

    ol {
      width: 360px;
      font: $ffbtn;
      font-size: 12px;
    }
  }

  .condition-content {
    width: 90%;
  }

  .phone-number-add {
    .before-number {
      padding: 3px;
      font-size: 14px;
      top: 28px;
    }
  }

  // equipe equipe responsive
  .eq-all {

    .equip1,
    .equip2 {
      flex-direction: column;
      align-items: center;
    }
  }

  .equipe-box {
    width: 90%;
    padding-bottom: 50px;

    .eq-box-eq {
      padding-bottom: 20px;
      width: 200px;
      margin-top: 120px;

      .eq-image {
        width: 150px;
      }
    }
  }

  // emnuel profil
  .big-box {
    top: 150px;
  }

  .emmanuel-profil {
    .emmanuel-box {
      width: 100%;

      .about {
        .content {
          padding: 10px;
        }
      }
    }
  }

  // menu left recruteur
  .left-menu-r {
    z-index: 200;
    padding: 10px;
    background: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;

    &.open {
      background: transparent;
      position: absolute;
      top: 51px;
      width: 50px;

      .btn-menu-r {
        right: 7px;
      }
    }
  }

  .btn-menu-r {
    right: 20px;
  }

  .left-menu-content {
    li {
      margin: 40px 0;
    }
  }

  .left-menu-photo.open {
    opacity: 0;
  }

  // client profil
  .cp-table-box {
    td {
      padding: 5px 0px;
    }

    .table-td {
      flex-wrap: wrap;
      justify-content: center;

      .cp-infos-r {
        width: 80%;
      }

      .cpr-r {
        img {
          left: -7%;
        }
      }
    }

    .cp-flex-t {
      flex-direction: column;
    }

    .line-white,
    .line-white2 {
      display: none;
    }

    .cp-icon-text {
      img {
        left: 35px;
      }
    }

    .cpe-description,
    .cpe-naf,
    .cpe-adress,
    .cpe-site {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  // client edit profil
  .cp-edit-table-box {
    .cp-edit-form {
      width: 100%;
    }

    td {
      padding: 5px 0px;
    }

    .table-td {
      flex-wrap: wrap;
      justify-content: center;

      .cp-infos-r {
        width: 90%;

        input {
          width: 100%;
        }
      }

      .cpr-r {
        img {
          left: 6%;
        }
      }
    }

    .cp-flex-t {
      flex-direction: column;
    }

    .cp-icon-text {
      img {
        left: 35px;
      }
    }

    .cpe-description,
    .cpe-naf,
    .cpe-adress,
    .cpe-site {
      margin: 10px 0;
    }

    .cpe-description,
    .cpe-naf {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: center;
      width: 100%;
    }
  }

  // mes offres d emploi :

  .coj-box {
    flex-wrap: wrap;

    .cjo-content {
      margin-left: 5px;
      width: 80%;
    }
  }

  // création d offre
  .create-offre-box {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;

    .detail-post-box {
      .dp-input {
        width: 90%;

        input,
        select,
        textarea {
          width: 100%;
        }
      }

      .dp-input-renumeration {
        .value-renum {
          margin-left: 6%;
          width: 70%;
        }
      }
    }

    .dp-input-checkbox1 {
      padding-left: 10%;

      span {
        margin-left: -50px;
      }
    }

    .travel-creation {
      width: 90%;

      .line {
        width: 38%;
      }

      ol {
        width: 115%;
        margin-left: -10%;
      }
    }
  }

  .context-offre-box {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    width: 100%;

    #co-input-submit {
      display: none;
    }

    #co-input-submit-1 {
      width: 150px;
      margin: 0 auto;

      input {
        width: 100%;
        padding: 10px 20px;
      }
    }

    .co-input-image {
      align-items: center;
      flex-direction: column;
    }

    .cp-input-check {
      flex-wrap: wrap;
    }
  }

  // show new job
  .show-job-box {
    .travel-creation {
      width: 90%;

      .line {
        width: 30%;
      }

      ol {
        width: 115%;
        margin-left: -10%;
      }
    }
  }

  .show-pb2-btn {
    div {
      width: 90%;

      a {
        padding: 13px 3px;
      }
    }
  }

  .show-publication {
    width: 90%;
    margin: 0 auto;
    font: $ffsentence;

    .sjb-content {
      .show-einfos {
        flex-direction: column;

        .logo {
          align-self: center;
        }

        .local {
          width: 100%;
        }
      }
    }

    .so-btn {
      flex-direction: column;

      a {
        margin-bottom: 15px;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: center;
      }
    }
  }

  .show-pb2 {
    width: 90%;
  }

  // search cadre
  .select-cadre-box {
    .search {

      &-large,
      &-short {
        width: 95%;
        margin: 0 auto;
      }

      .td-button {
        margin: 10px auto;
      }

      .co-input {
        margin-bottom: 30px;
      }
    }

    .select-cadre-list {
      .validation {
        .submit-validation {
          .validation-bt {
            display: none;
          }
        }
      }
    }

    .select-cadre-list-items {
      justify-content: center;

      .cadre-box {
        width: 280px;
        height: 500px;

        p {
          margin-bottom: 5px;
        }

        .cadre-box-image {
          position: relative;

          .cbi-photo {
            width: 100%;

            img,
            .c {
              height: 300px;
            }
          }
        }
      }
    }
  }

  // show search candidate
  .ssc-box {
    .ssc-all-infos {
      flex-direction: column;
      flex-wrap: wrap;

      .image {
        margin: 0 auto;
        width: 90%;

        img,
        .c {
          margin: 0 auto;
          width: 90%;
          height: 300px;
        }
      }

      .ssc-infos {
        width: 280px;
        margin: 0 auto;
      }
    }

    .ssc-question {
      width: 100%;
    }

    .ssc-rest {
      flex-direction: column-reverse;
      flex-wrap: wrap;

      .ssc-rest-btn {
        width: 280px;
      }

      .ssc-oiam {
        width: 85%;
      }
    }

    // plannification entretien
    .ssc-planification {
      // margin-left: -8px;
      width: 100%;
    }
  }

  // show candidat favorit
  .fc-item-all {
    .list-candidat {
      margin: 30px 0;

      .fci-infos {
        height: 190px;
      }
    }
  }

  // suivi de recrutement index
  .rf-box {
    .rf-items {
      margin-bottom: 65px;
    }

    .rf-items-flex {
      .timeline {
        .line {
          width: 28px;
          content: ' ';
          align-self: center;
          height: 2px;
          background-color: $secondary_element_color;
        }

        .content {
          top: 30px;
        }

        .content2,
        .content4,
        .content6 {
          top: 60px;
        }
      }
    }
  }

  // suivi show post
  .rlc-box {
    .rlc-empty {
      width: 90%;
      margin: 0 auto;
    }

    .rlc-items {
      margin-bottom: 50px;
    }
  }

  // recrutement show cadre
  .rsc-box {
    width: 80%;

    .rsc-header-travel {
      .line {
        width: 69.1%;
      }

      .content {
        width: 90px;
        margin-left: -12px;
      }
    }

    .rsc-body {
      .rsc-body-empty {
        width: 100%;

        .link {
          width: 200px;

          a {
            padding: 10px 10px;
          }
        }
      }

      .rsc-date-past {
        .rscdp-empty {
          width: 90%;
          padding: 10px;
        }

        .rscdp-empty2 {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .ssc-planification1-rscdp-empty2 {
          width: 100%;
          margin-top: -90px;
          margin-bottom: 90px;
          // margin-left: -36px;
        }

        .dscdp-validation {
          // width: 95%;
          padding: 20px 5px;

          .dscdp-link-item {
            width: 250px;

            a {
              padding: 22px 1px;
            }

            .link {
              padding: 12px 20px;
            }

            span {
              padding: 16px 40px;
            }
          }
        }

        .dscdpa-box {
          // width: 95%;
          padding: 20px 5px;

          .dscdp-link-item {
            width: 250px;

            a {
              padding: 14px 14px;
            }
          }
        }
      }

      // VALIDATION Candidat
      .validation-cadre-trying {
        width: 90%;

        .vct-btn {
          width: 200px;
        }
      }
    }

    .rscdf-content {
      .new-date {
        width: 90%;

        .link {
          width: 80%;

          a {
            padding: 10px 0;
          }
        }

        .link2 {
          width: 100%;

          a {
            padding: 10px 0;
          }
        }
      }
    }

    .ap-box {
      flex-wrap: wrap;
    }

    .ssc-planification {
      margin-top: -200px;
      // margin-left: -31px;
      width: 100%;
      // padding: 0 4%;

      .date {
        input {
          top: -78px;
          border-radius: 0;
          font-size: 0.002px;
          position: absolute;
        }
      }
    }

    .ssc-planification1 {
      width: 100%;

      .date {
        opacity: 0;
      }
    }
  }

  // promesse suivi recrutement
  .rsc-body-promise {
    .dscdpa-box {
      width: 80%;
      padding: 10px;
    }
  }

  // chat index
  .message-box {
    .message-contact-items {
      .link {
        width: 70%;
        margin: 10px 0;
      }
    }
  }

  #chat-out {
    position: fixed;
    width: 400px;
    bottom: 0;
    right: -9px;
    z-index: 200;
  }

  // 404
  .link {
    a {
      padding: 12px 3px;
    }
  }

  // facture
  .pay-bill-box {
    .pb-flex {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // promesse create
  .promise {
    .pc-head {
      .pch-left {
        width: 60%;
        margin: 0 auto;
      }

      .pch-right {
        margin: 0 auto;
      }
    }

    .pc-form {

      label,
      input,
      .right {
        margin: 0 auto;
      }

      label {
        width: 42%;
        margin-top: 5px;
      }
    }

    .p-sign {
      .signature {
        margin: 10px auto;
      }
    }

    .pc-sign-cadre {
      .image {
        margin: 0 auto;
      }
    }
  }

  // favority index 

  .fc-box {
    .co-any-job {
      padding: 50px 10px;
    }
  }

  // mobile admin traitée 
  .admincp-box {
    padding: 20px;

    .acp-flex {
      margin: 15px 0;

      .acp-link {
        a {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {

  // flash scss
  .flash {
    right: 50px;
  }

  // facture
  .pay-bill-box {
    .pb-flex {
      flex-direction: row;
      justify-content: space-between;
    }

    .import-button {
      align-self: flex-end;
    }
  }

  // footer mail
  #input-mail {
    flex-direction: row;
  }

  ////////////////////////////////////////
  .box-1 {
    .box-1-logo {
      width: 55%;
    }
  }

  // accueil g
  //////////////////////////////////////
  .logo-g {
    display: none;
  }

  .picto1 {
    align-self: center;
    display: block;
    width: 90px;

    img {
      width: 100%;
    }
  }

  // navbar
  /////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }

  .navbar-content {
    display: none;

    li {
      margin: 30px 0;
    }
  }

  .dropup-btn1 {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    background-color: white;
    width: 180px;
  }

  // accueil général
  .first-btn1 {
    margin-top: 50px;
  }

  .accueilg-content1 {
    margin: 0 auto;

    .ac-item2 {
      display: flex;
      justify-content: space-between;

      .accueilg-item1 {
        width: 70%;
      }
    }

    .ac-item21 {
      flex-direction: row-reverse;
    }
  }

  // footer
  // footer mail
  .footer-oiam {
    .footer-btn {
      span {
        padding: 15px 60px;
      }
    }
  }

  // inscription recruteur
  .details-r {
    width: 50%;
  }

  .condition-content {
    width: 70%;
    padding: 10px;
  }

  .travel-parcours {
    width: 680px;

    .line {
      width: 180px;
    }

    ol {
      width: 750px;
      font-size: 14px;
      margin-left: -20px;
    }
  }

  .phone-number-add {
    .before-number {
      font-size: 16px;
      top: 25px;
      padding: 6px;
    }
  }

  // equipe equipe responsive
  .eq-all {

    .equip1,
    .equip2 {
      flex-direction: row;
    }
  }

  .equipe-box {
    width: 90%;

    .eq-box-eq {
      margin-top: 170px;
      padding-bottom: 20px;
      width: 250px;

      .eq-image {
        width: 180px;
      }
    }
  }

  // emnuel profil
  .big-box {
    top: 100px;
  }

  .emmanuel-profil {
    .emmanuel-box {
      .about {
        .content {
          padding: 10px 25px;
        }
      }
    }
  }

  // menu left recruteur
  .cp-box {
    border-left: 1px solid $main_theme_color;
  }

  .left-menu-r {
    position: relative;
    width: 300px;
    padding: 70px 0;
    height: auto;

    &.open {
      position: relative;
      top: 0;
      width: 100px;
    }
  }

  .left-menu-content {
    li {
      margin: 42px 0;
    }
  }

  .btn-menu-r {
    top: 0;
    right: 6px;
  }

  .left-menu-photo.open {
    opacity: 1;
  }

  // client profil
  // client profil
  .cp-table-box {
    td {
      padding: 5px 40px;
    }

    .table-td {
      justify-content: flex-start;
      padding-left: 30px;

      .cp-infos-r {
        width: 50%;
      }

      .cpr-r {
        img {
          left: 6%;
        }
      }
    }

    .cp-flex-t {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .line-white,
    .line-white2 {
      display: block;
    }

    .cp-icon-text {
      img {
        left: -30px;
      }
    }

    .cpe-adress {
      width: auto;
    }

    .cpe-description,
    .cpe-naf {
      text-align: left;
    }

    .cpe-description,
    .cpe-site {
      width: 50%;
    }

    .cpe-site {
      text-align: right;

      .site {
        left: inherit;
        right: 123px;
      }

      h5 {
        padding-right: 40px;
      }
    }

    .cpe-naf {
      width: auto;
    }
  }

  // client edit profil
  // client edit profil
  .cp-edit-table-box {
    .table-td {
      flex-wrap: nowrap;
      justify-content: space-between;

      .cp-infos-r {
        width: 50%;
      }
    }

    .cp-flex-t {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .cp-icon-text {
      img {
        left: -5px;
      }
    }

    .cpe-naf {
      width: 35%;
    }

    .cpe-description {
      width: 60%;
    }
  }

  // mes offres d emploi :
  .co-any-job {
    width: 70%;
  }

  .coj-box {
    justify-content: space-between;

    .cjo-content {
      width: 40%;
    }
  }

  // création d offre
  .create-offre-box {
    width: 90%;
    padding: 0;
    margin: 0 auto;

    .detail-post-box {
      .dp-input-renumeration {
        .value-renum {
          margin-left: 3%;
          width: 80%;
        }
      }
    }

    .dp-input-checkbox1 {
      span {
        margin-left: 0;
      }
    }

    .travel-creation {
      width: 70%;

      .line {
        width: 38%;
      }

      ol {
        width: 115%;
        margin-left: -10%;
      }
    }
  }

  .context-offre-box {
    width: 80%;

    #co-input-submit-1 {
      display: none;
    }

    #co-input-submit {
      display: block;
      width: 320px;
      margin: 0 auto;
      text-align: left;

      label {
        margin-left: 10%;
      }

      input {
        width: 100%;
        padding: 12px 10px;
      }
    }

    .co-input-image {
      flex-direction: row;
      justify-content: center;

      img {
        align-self: flex-end;
      }

      label {
        align-self: flex-end;
        margin: 0;
      }
    }
  }

  // show new job
  .show-job-box {
    .travel-creation {
      width: 70%;

      .line {
        width: 38%;
      }

      ol {
        width: 115%;
        margin-left: -10%;
      }
    }

    .sjb-content {
      .show-einfos {
        flex-direction: row;
        flex-wrap: wrap;

        .local {
          width: 70%;
        }
      }
    }

    .so-btn {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .show-pb2-btn {
    div {
      width: 320px;

      a {
        padding: 13px 50px;
      }
    }
  }

  .show-pb2 {
    width: 70%;

    a {
      width: 70%;
    }
  }

  // favorit cadre 


  // search cadre
  .select-cadre-box {
    .select-cadre-list {
      .validation {
        .submit-validation {
          .validation-bt1 {
            display: none;
          }

          .validation-bt {
            display: block;
          }
        }
      }
    }

    .select-cadre-list-items {
      justify-content: space-between;

      .cadre-box {
        width: 240px;
        height: 460px;

        p {
          margin-bottom: 10px;
        }
      }
    }
  }

  // show search candidate
  .ssc-box {
    .ssc-all-infos {
      flex-direction: row;
      flex-wrap: wrap;

      .image {
        margin: 0 auto;
        width: 90%;

        img,
        .c {
          width: 90%;
          height: 300px;
        }
      }

      .ssc-infos {
        width: 250px;
      }
    }

    .ssc-question {
      width: 60%;
    }

    .ssc-planification {
      margin-left: 0;
      margin-right: auto;
      // width: 80%;
    }

  }

  // suivi de recrutement index
  .rf-box {
    .rf-items {
      margin-bottom: 65px;
    }

    .rf-items-flex {
      .timeline {
        .line {
          width: 34px;
          content: ' ';
          align-self: center;
          height: 2px;
          background-color: $secondary_element_color;
        }

        .content {
          top: 35px;
        }

        .content2,
        .content4,
        .content6 {
          top: 60px;
        }
      }
    }
  }

  // suivi show post
  .rlc-box {
    .rlc-empty {
      width: 70%;
      margin-top: 70px;
    }
  }

  // recrutement show cadre
  .rsc-box {
    width: 95%;

    .ap-box {
      flex-wrap: nowrap;
    }

    .rsc-header-travel {
      .line {
        width: 69.1%;
      }

      .content {
        width: 90px;
        margin-left: -12px;
      }
    }

    .rsc-body {
      .rsc-body-empty {
        width: 90%;

        .link {
          width: 300px;

          a {
            padding: 10px 30px;
          }
        }
      }

      .rsc-date-past {
        .rscdp-empty {
          width: 70%;
          padding: 20px;
        }

        .ssc-planification1-rscdp-empty2 {
          width: 100%;
        }

        .dscdp-validation {
          width: 70%;
          padding: 20px 25px;
        }

        .dscdpa-box {
          width: 70%;
          padding: 20px 25px;
        }
      }

      // VALIDATION Candidat
      .validation-cadre-trying {
        width: 80%;

        .vct-btn {
          width: 250px;
        }
      }
    }

    .rscdf-content {
      .rscdf-item2 {
        border-right: 2px solid white;
        border-left: 2px solid white;
      }

      .new-date {
        width: 450px;

        .link {
          width: 70%;

          a {
            padding: 10px 32px;
          }
        }

        .link2 {
          width: 95%;

          a {
            padding: 10px 5px;
          }
        }
      }
    }

    .ssc-planification {
      margin-left: 4px;
      width: auto;

      .js-timeContainer {
        width: 600px;
      }

      .date {
        input {
          top: -3px;
        }
      }
    }
  }

  // chat index
  .message-box {
    .message-contact-items {
      .link {
        width: 80%;
        margin-left: 5px;
      }
    }
  }

  #chat-out {
    right: 2px;
  }

  // 404
  .link {
    margin: 0 auto;
    width: 330px;

    a {
      padding: 12px 8px;
    }
  }

  // promesse create
  .promise {
    .pc-head {
      .pch-left {
        width: 40%;
        margin: 0;
      }

      .pch-right {
        margin: 0;
      }
    }

    .pc-form {

      label,
      input,
      .right {
        margin: 0;
      }

      input {
        margin: 10px 0;
        margin-left: 10px;
      }

      label {
        width: 40%;
        margin-top: 5px;
      }
    }

    .p-sign {
      .signature {
        margin: 10px 0;
        margin-left: 10px;
      }
    }

    .pc-sign-cadre {
      .image {
        margin: 10px 0;
        margin-left: 10px;
      }
    }
  }

  // mobile admin traitée 
  .admincp-box {
    padding: 50px;

    .acp-flex {
      margin: 30px 0;

      .acp-link {
        a {
          padding: 10px 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {

  // bg uniqqqqqqqqqqqqqqqqqqqqqqqqqqqqque
  .bg-uniq {
    margin-top: -505px;
    padding-top: 550px;
  }

  // landing page
  .box-1 {
    width: 50%;

    .box-1-btn {
      align-self: flex-start;
      margin-left: 10%;
    }

    .box-1-logo {
      width: 70%;
    }

    .box-1-content {
      text-align: left;
    }
  }

  .box {
    background: #fcfcfc url(/image/picture_photo_0ae4b3.png) no-repeat right;
    background-size: 110% 100%;
  }

  // navbar
  ////////////////////////
  .navdiv {
    height: 500px;
    padding-bottom: 70px;
  }

  .logo-g {
    display: block;
    width: 38%;
  }

  .navb {
    padding: 15px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-content {
    display: flex;
    justify-content: space-around;
    width: 75%;
    align-self: center;
    align-items: center;
  }

  .navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: inherit;

    .navbar-item:hover {
      background-color: transparent;
      color: $main_theme_color;
    }
  }

  .navbar-logo {
    width: 5%;

    img {
      margin-left: 60%;
    }
  }

  ///
  .dropup1 {
    margin: 0;
  }

  .dropup-btn1 {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    background-color: $secondary_text_color_button;
    color: white;
    width: 160px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.61);
      box-shadow: $box-shadow;
      color: $secondary_text_color_button;
    }
  }

  .dropup-content1 {
    position: absolute;
    background-color: $secondary_element_color;
    padding: 10px;
    width: 204px;
    right: 5%;
    top: 83px;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    z-index: 20;
  }

  .btn-btn {
    display: none;
  }

  // navbar background
  ////////////////////////////////////////////////

  .bg-inside {
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }

  // navbar accueilg and accueil g
  ////////////////////////////////////////////////
  .bg-accueil1 {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 650px;
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }

  .accueilg-btn1 {
    margin-bottom: 70px;

    .cadre-btn1,
    .recruteur-btn1 {
      margin: 0 2em;
    }
  }

  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 320px;
  }

  .accueilg-content1 {
    margin: 0 auto;
    margin-top: 250px;

    .ac-item2 {
      margin: 110px 0;
    }
  }

  // footer
  .footer-oiam {
    .footer-bottom {
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;

      .footer-c {
        width: 65%;
      }
    }
  }

  .social {
    a {
      margin-left: 5px;
    }
  }

  // contact
  ////////////////////////////////////
  .contact-us {
    .contact-change {
      display: flex;
      justify-content: space-between;
    }

    .contact-item {
      width: 48%;
    }
  }

  // accueil recruteur
  //////////////////@exten
  .accueil-recruteur {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .title-ar {
      font: $ffbtn;
      font-size: 16px;
    }

    .ar-vertical-line {
      position: absolute;
      left: 50%;
      content: ' ';
      width: 1px;
      height: 720px;
      background-color: black;
    }

    .ar-item {
      width: 48%;
    }

    .ar-item2 {
      align-self: flex-start;

      p,
      h2 {
        text-align: right;
      }
    }
  }

  // inscription recruteur
  ///////////////////////////////////////@extend
  .details-r {
    .dr-item-fad {
      width: 66%;
    }

    .dr-item-postal {
      width: 30%;
      margin-right: 3%;
    }
  }

  .condition-content {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .travel-parcours {
    width: 680px;

    ol {
      width: 780px;
      margin-left: -38px;
    }
  }

  .inscription-r {
    margin: 50px auto;
  }

  // equipe equipe responsive
  .eq-all {

    .equip1,
    .equip2 {
      flex-direction: row;
    }
  }

  .equipe-box {
    padding-bottom: 70px;
    width: 80%;

    .eq-box-eq {
      margin-top: 200px;
      width: 300px;

      .eq-image {
        width: 250px;
      }
    }
  }

  // emnuel profil
  .big-box {
    top: 540px;
  }

  .emmanuel-profil {
    padding: 50px;

    .profil {
      align-self: flex-start;
    }

    .emmanuel-box {
      width: 50%;

      .about {
        .content {
          padding: 20px 50px;
        }
      }
    }
  }

  // menu left recruteur
  .left-menu-r {
    &.open {
      width: 120px;

      .btn-menu-r {
        right: 16px;
      }
    }
  }

  .btn-menu-r {
    right: 15px;
  }

  // client profil
  .table-td {
    .cpr-r {
      img {
        left: 20%;
      }
    }
  }

  // client profil
  .cp-table-box {
    td {
      padding: 5px 60px;
    }

    .table-td {
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding-left: 50px;

      .cp-infos-r {
        width: 70%;
      }

      .cpr-r {
        img {
          left: 20%;
        }
      }
    }

    .cp-flex-t {
      flex-wrap: no-wrap;
    }

    .cp-icon-text {
      img {
        left: -40px;
      }
    }

    .cpe-site {
      .site {
        left: inherit;
        right: 133px;
      }
    }
  }

  // client edit profil
  .cp-edit-table-box {
    .table-td {
      justify-content: flex-start;
      flex-wrap: nowrap;

      // padding-left: 50px;
      #recruteur-fonction,
      #cp-full-name,
      #recruteur-mail,
      #recruteur-phone {
        width: 60%;
      }

      .cp-infos-r {
        width: 70%;
      }

      .cpr-r {
        img {
          left: 10%;
        }
      }
    }

    .cp-flex-t {
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center;
    }

    .cp-icon-text {
      img {
        left: 1px;
      }
    }

    .cpe-naf {
      width: 208px;
    }
  }

  // création d offre
  .create-offre-box {
    .detail-post-box {
      .dp-input {
        width: 85%;
      }
    }

    .detail-post-box {
      .dp-input-renumeration {
        .value-renum {
          margin-left: 3%;
          width: 85%;
        }
      }
    }

    .dp-input-checkbox1 {
      padding-left: 4%;
    }

    .travel-creation {
      width: 450px;

      .line {
        width: 173px;
      }

      ol {
        width: 510px;
        margin-left: -8%;
      }
    }
  }

  // show new job
  .show-job-box {
    .travel-creation {
      width: 450px;

      .line {
        width: 173px;
      }

      ol {
        width: 510px;
        margin-left: -8%;
      }
    }

    .sjb-content {
      width: 80%;
      margin: 0 auto;

      .show-einfos {
        flex-wrap: nowrap;
        justify-content: space-evenly;

        .local {
          width: 65%;
        }
      }
    }

    .so-btn {
      flex-wrap: nowrap;
    }

    .show-pb2 {
      width: 65%;

      a {
        width: 45%;
      }
    }
  }

  // search cadre
  .select-cadre-box {
    .search {
      &-large {
        width: 412px;
        margin: 0;
        margin-right: 20px;
      }

      &-short {
        width: 220px;
        margin: 0;
      }

      .td-button {
        margin-right: 0;
      }

      .co-input {
        margin: 10px 0;
      }
    }

    .select-cadre-list {
      .validation {
        .submit-validation {
          .validation-bt1 {
            display: none;
          }

          .validation-bt {
            display: block;
          }
        }
      }
    }

    .select-cadre-list-items {
      .cadre-box {
        width: 235px;

        &:hover,
        &:active {
          .cadre-box-info {
            height: 220px;
            transition: all 500ms ease-in-out;

            p {
              margin-bottom: .5rem;
            }
          }
        }

        .cadre-box-image {
          position: relative;

          .cbi-photo {
            width: 100%;

            img,
            .c {
              height: 350px;
            }
          }
        }

        .cadre-box-info {
          position: absolute;
          height: 70px;
          transition: all 900ms ease-in-out;
          overflow: hidden;
          bottom: 0;
        }
      }
    }
  }

  // show search candidate
  .ssc-box {
    .ssc-all-infos {
      flex-direction: row;
      flex-wrap: nowrap;

      .ssc-infos {
        width: 300px;
        margin: 0;
      }
    }

    .ssc-question {
      width: 60%;
    }

    .ssc-rest {
      flex-direction: row;
      flex-wrap: nowrap;

      .ssc-rest-btn {
        width: 300px;
      }

      .ssc-oiam {
        width: 60%;
      }
    }

    // plannification entretien
    .ssc-planification {
      margin-left: auto;
      margin-right: 0;
      width: 600px;
    }
  }

  // favority index 

  .fc-box {
    .co-any-job {
      padding: 50px 20px;
    }
  }

  .co-any-job {
    width: 50%;
  }

  // show candidat favorit
  .fc-item-all {
    .list-candidat {
      .fci-infos {
        height: 92px;
      }
    }
  }

  // suivi de recrutement index
  .rf-box {
    .rf-items-flex {
      margin-left: 60px;

      .timeline {
        .line {
          width: 58px;
          content: ' ';
          align-self: center;
          height: 2px;
          background-color: $secondary_element_color;
        }

        .content {
          top: 35px;
        }
      }
    }
  }

  // suivi show post
  .rlc-box {
    .rlc-empty {
      width: 60%;
      margin-top: 90px;
    }
  }

  // recrutement show cadre
  .rsc-box {
    .rsc-header-travel {
      .line {
        width: 77.3%;
      }

      .content {
        width: 150px;
        margin-left: -30px;
      }

      .circle-last {
        margin-top: 5px;
      }
    }

    .rsc-body {
      .rsc-body-empty {
        width: 70%;
      }

      .rsc-date-past {
        .rscdp-empty {
          width: 60%;
          padding: 30px;
        }

        .rscdp-empty2 {
          width: 70%;
          padding: 50px;
        }

        .ssc-planification1-rscdp-empty2 {
          width: 600px;
          margin-left: auto;
          margin-bottom: 190px;
        }

        .dscdp-validation {
          width: 65%;
          padding: 20px 45px;

          .dscdp-link-item {
            width: 280px;

            a {
              padding: 22px 10px;
            }

            .link {
              padding: 12px 35px;
            }

            span {
              padding: 16px 55px;
            }
          }
        }

        .dscdpa-box {
          width: 65%;
          padding: 20px 45px;

          .dscdp-link-item {
            width: 280px;

            a {
              padding: 14px 28px;
            }
          }
        }
      }

      .rscdf-content {
        .new-date {
          width: 450px;

          .link2 {
            width: 100%;

            a {
              padding: 10px 15px;
            }
          }
        }
      }

      // VALIDATION Candidat
      .validation-cadre-trying {
        width: 70%;
      }
    }

    .ssc-planification {
      margin: 0 auto;
      margin-top: -190px;
      margin-bottom: 250px;
      width: 700px;

      .js-timeContainer {
        width: 600px;
        margin: 0 auto;
      }

      .date {
        input {
          left: 7.1%;
          top: -3px;
        }
      }
    }

    .ssc-planification1 {
      width: 600px;
      margin: 0 auto;
    }
  }

  // promesse suivi recrutement
  .rsc-body-promise {
    .dscdpa-box {
      width: 60%;
      padding: 20px;

      p {
        padding: 0 10px;
      }
    }
  }

  // chat index
  .message-box {
    .message-contact-items {
      .link {
        width: 82%;
        margin: 0;
        // margin-left: 5px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // landing page

  .box {
    background: #fcfcfc url(/image/picture_photo_0ae4b3.png) no-repeat right;
    background-size: 85% 100%;
  }

  // navbar
  /////////////////////
  .navbar-content {
    justify-content: space-between;
    width: 70%;
    align-items: center;
  }

  .navbar-ul {
    width: 70%;
    margin-bottom: inherit;
  }

  .logo-g {
    width: 35%;
  }

  .dropup-content1 {
    right: 5.2%;
  }

  // navbar background all
  ///////////////////////////////////////////////
  .navdiv {
    padding-bottom: 100px;
  }

  // nabar bg accueil
  ///////////////////////////////////////////////

  // page d'accueil général
  .accueilg-btn1 {
    .cadre-btn1 {
      margin: 0 2em;

      a {
        padding: 12px 65px;
      }
    }

    .recruteur-btn1 {
      margin: 0 2em;

      a {
        padding: 12px 44px;
      }
    }
  }

  .accueilg-content1 {
    margin-top: 220px;
  }

  // accueil recruteur
  // ******************************//
  .accueil-recruteur {
    .title-ar {
      font-size: 20px;
    }
  }

  // inscription recruteur
  ///////////////////////////////////////@extend

  .travel-parcours {
    width: 700px;

    ol {
      width: 790px;
      margin-left: -45px;
    }
  }

  .inscription-r {
    margin: 60px auto;
  }

  // equipe equipe responsive
  .equipe-box {
    padding-bottom: 100px;
  }

  // client profil
  .table-td {
    .cpr-r {
      img {
        left: 30%;
      }
    }
  }

  // emnuel profil
  .emmanuel-profil {
    .profil {
      align-self: auto;
    }

    .emmanuel-box {
      width: 65%;
    }
  }

  // client profil
  .cp-table-box {
    td {
      padding: 5px 60px;
    }

    .table-td {
      justify-content: space-between;

      .cp-infos-r {
        width: 72%;
      }

      .cpr-r {
        img {
          left: 25%;
        }
      }
    }
  }

  // client edit profil
  .cp-edit-table-box {
    td {
      padding: 5px 30px;
    }

    .table-td {

      #recruteur-fonction,
      #cp-full-name,
      #recruteur-mail,
      #recruteur-phone {
        width: 50%;
      }

      justify-content: space-between;

      .cp-infos-r {
        width: 72%;
      }

      .cpr-r {
        img {
          left: 12%;
        }
      }
    }
  }

  // création d offre
  .create-offre-box {
    .detail-post-box {
      .dp-input {
        width: 70%;
      }
    }

    .detail-post-box {
      .dp-input-renumeration {
        .value-renum {
          width: 87%;
        }
      }
    }

    .dp-input-checkbox1 {
      padding-left: 6%;
    }

    .travel-creation {
      width: 600px;

      .line {
        width: 248px;
      }

      ol {
        width: 664px;
        margin-left: -7%;
      }
    }
  }

  // show new job
  .show-job-box {
    .travel-creation {
      width: 600px;

      .line {
        width: 248px;
      }

      ol {
        width: 664px;
        margin-left: -7%;
      }
    }
  }

  // search cadre
  .select-cadre-box {
    .search {
      .search-large {
        margin: 0;
        width: 50%;
      }

      .search-short {
        width: 25%;
      }

      .td-button {
        margin: 0;
      }
    }
  }

  // show search candidate
  .ssc-box {
    .ssc-all-infos {
      .ssc-infos {
        .image {
          margin: 0 auto;
          width: 80%;

          img,
          .c {
            width: 88%;
            height: 300px;
          }
        }

        width: 350px;
      }

      .ssc-question {
        width: 68%;
      }
    }

    .ssc-rest {
      flex-direction: row;
      flex-wrap: nowrap;

      .ssc-rest-btn {
        width: 350px;
      }

      .ssc-oiam {
        width: 68%;
      }
    }
  }

  // show candidat favorit
  .fc-item-all {
    .list-candidat {
      margin: 30px 50px;
    }
  }

  // suivi de recrutement index
  .rf-box {
    .rf-items-flex {
      margin-left: 60px;

      .timeline {
        .line {
          width: 70px;
          content: ' ';
          align-self: center;
          height: 2px;
          background-color: $secondary_element_color;
        }
      }
    }
  }

  // suivi show post
  .rlc-box {
    .rlc-empty {
      width: 50%;
      margin-top: 90px;
    }

    .rlc-items {
      margin: 0 50px;
      margin-bottom: 70px;
    }
  }

  // recrutement show cadre
  .rsc-box {
    .rsc-body {
      .rsc-body-empty {
        width: 50%;
      }

      .rsc-date-past {
        .rscdp-empty {
          width: 55%;
          padding: 50px;
        }

        .dscdp-validation {
          width: 60%;
          padding: 20px 50px;
        }

        .dscdpa-box {
          width: 60%;
          padding: 20px 40px;
        }
      }

      // VALIDATION Candidat
      .validation-cadre-trying {
        width: 60%;

        .vct-btn {
          width: 350px;
        }
      }
    }

    .ssc-planification1-rscdp-empty2 {
      margin-right: auto;
    }
  }

  // promesse suivi recrutement
  .rsc-body-promise {
    .dscdpa-box {
      width: 50%;
      padding: 30px;

      p {
        padding: 0 30px;
      }
    }
  }

  // chat index
  .message-box {
    .message-contact-items {
      .link {
        width: 85%;
      }
    }
  }

  // mobile admin traitée 
  .admincp-box {
    padding: 20px 150px;

    // .acp-flex {
    //   margin: 15px 0;

    //   .acp-link {
    //     a {
    //       padding: 10px;
    //     }
    //   }
    // }
  }
}

@media screen and (min-width: 1500px) {

  // bg unique
  .bg-uniq {
    margin-top: -605px;
  }

  // landing page

  // navbar
  // /////////////////////
  .navdiv {
    height: 600px;
  }

  .logo-g {
    width: 32%;
  }

  // // nabar bg accueil
  // ///////////////////////////////////////////////

  // // page d'accueil général
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 380px;
  }

  .bg-accueil1 {
    height: 750px;
  }

  // // accueil recruteur
  // // ******************************//

  // // inscription recruteur
  // ///////////////////////////////////////@
  // search cadre
  .select-cadre-box {
    .search {
      .search-large {
        display: flex;
        justify-content: space-between;
        width: 50%;

        .co-input {
          width: 49%;
        }
      }

      .search-short {
        width: 37%;
        display: flex;
        justify-content: space-between;

        .co-input {
          width: 49%;
        }
      }
    }
  }

  // show search candidate
  .ssc-box {
    .ssc-all-infos {
      .ssc-infos {
        width: 380px;

        .image {

          img,
          .c {
            width: 70%;
            height: 300px;
          }
        }
      }
    }

    .ssc-question {
      width: 80%;
    }

    .ssc-rest {
      .ssc-rest-btn {
        width: 380px;
      }

      .ssc-oiam {
        width: 68%;
      }
    }
  }

  // suivi show post
  .rlc-box {
    .rlc-empty {
      width: 40%;
      margin-top: 100px;
    }

    .rlc-items {
      margin: 0 80px;
      margin-bottom: 80px;
    }
  }

  // recrutement show cadre
  .rsc-box {
    .rsc-body {
      .rsc-body-empty {
        width: 50%;
      }

      .rsc-date-past {
        .rscdp-empty {
          width: 40%;
        }

        .dscpd-validation {
          width: 50%;
        }

        .dscdpa-box {
          width: 50%;
        }
      }
    }
  }

  // promesse suivi recrutement
  .rsc-body-promise {
    .dscdpa-box {
      width: 40%;
    }
  }

  // chat index
  .message-box {
    .message-contact-items {
      .link {
        width: 90%;
      }
    }
  }

  // mobile admin traitée 
  .admincp-box {
    padding: 20px 250px;

    // .acp-flex {
    //   margin: 15px 0;

    //   .acp-link {
    //     a {
    //       padding: 10px;
    //     }
    //   }
    // }
  }
}

@media screen and (min-width: 2500px) {

  // navbar
  // /////////////////////
  .navdiv {
    height: 700px;
  }

  .logo-g {
    width: 30%;
  }

  // // nabar bg accueil
  // ///////////////////////////////////////////////

  // // page d'accueil général
  .first-btn1 {
    top: 450px;
  }

  .bg-accueil1 {
    height: 800px;
  }

  // // accueil recruteur
  // // ******************************//

  // // inscription recruteur
  // ///////////////////////////////////////@extend
  // search cadre
  .select-cadre-box {
    .search {
      .search-large {
        display: flex;
        justify-content: space-between;
        width: 55%;

        .co-input {
          width: 49%;
        }
      }

      .search-short {
        width: 40%;
        display: flex;
        justify-content: space-between;

        .co-input {
          width: 49%;
        }
      }
    }
  }

  // show search candidate
  .ssc-box {
    .ssc-all-infos {
      .ssc-infos {
        width: 400px;

        .image {

          img,
          .c {
            width: 70%;
            height: 300px;
          }
        }
      }
    }

    .ssc-question {
      width: 90%;
    }

    .ssc-rest {
      .ssc-rest-btn {
        width: 400px;
      }

      .ssc-oiam {
        width: 90%;
      }
    }
  }
}