@import 'config';

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

.bg-uniq {
  margin-top: -492px;
  padding-top: 492px;
  padding-bottom: 100px;
  width: 100%;
  z-index: -1;
  background: url(/image/background2.jpg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 100%;
  }
  .box-2 {
    display: none;
  }
  // navbar's elements
  ///////////////////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }
  .navbar-content {
    display: none;
    li {
      margin: 30px 0;
    }
  }
  .navbar-item:hover,
  .navbar-item:active {
    background-color: white;
    color: $secondary_text_color_button;
  }
  //////

  .dropup-btn1 {
    width: 180px;
    text-align: center;
    background-color: white;
    color: $secondary_text_color_button;
    &:hover {
      background-color: rgba(255, 255, 255, 0.432);
    }
  }
  .dropup-content1 {
    border: 2px white solid;
    .dropup-item1:active {
      background-color: white;
      color: $secondary_text_color_button;
    }
  }
  .dropup1 {
    margin-bottom: 10px;
  }
  // Page d'accueil général
  ////////////////////////////////////////////////////

  .accueilg-btn1 {
    margin-bottom: 30px;
    .cadre-btn1 {
      margin: 0 1em;
      a {
        padding: 10px 55px;
      }
    }
    .recruteur-btn1 {
      margin: 0 1em;
      a {
        padding: 10px 30px;
      }
    }
  }
  .picto1 {
    display: none;
  }
  .accueilg-content1 {
    margin: 0 auto;
    .ac-item2 {
      margin: 60px 0;
    }
  }
  // footer
  ////////////////////////////////////////
  .footer-bottom {
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    div {
      margin-bottom: 10px;
    }
  }
  // contact
  ////////////////////////////////////

  // accueil recruteur
  ////////////////////////////////@extend
  .accueil-recruteur {
    width: 90%;
    .title-ar {
      font: $ffbtn;
    }
    .ar-item {
      p {
        text-align: justify;
      }
    }
  }
  // inscription recruteur
  ///////////////////////////////////////@extend
  .details-r {
    .dr-item {
      margin: 20px 0;
      width: 100%;
    }
  }
  .inscription-r {
    margin: 20px auto;
  }
  .travel-parcours {
    width: 400px;
    .line {
      width: 80px;
    }
    ol {
      width: 400px;
      font: $ffbtn;
      font-size: 12px;
    }
  }
  .phone-number-add {
    .before-number {
      padding: 3px;
      font-size: 14px;
      top: 28px;
    }
  }
  // equipe equipe responsive
  .eq-all {
    .equip1,
    .equip2 {
      flex-direction: column;
      align-items: center;
    }
  }
  .equipe-box {
    width: 90%;
    padding-bottom: 50px;
    .eq-box-eq {
      padding-bottom: 20px;
      width: 200px;
      margin-top: 120px;
      .eq-image {
        width: 150px;
      }
    }
  }
  // menu left recruteur
  .left-menu-r {
    &.open {
      width: 50px;
    }
  }
  .btn-menu-r {
    right: 7px;
  }
  .left-menu-photo.open {
    opacity: 0;
  }
  // client profil
  .cp-table-box {
    td {
      padding: 5px 0px;
    }
    .table-td {
      flex-wrap: wrap;
      justify-content: center;
      .cp-infos-r {
        width: 80%;
      }
      .cpr-r {
        img {
          left: 6%;
        }
      }
    }
    .cp-flex-t {
      flex-direction: column;
    }
    .line-white {
      display: none;
    }
    .cp-icon-text {
      img {
        left: 35px;
      }
    }
    .cpe-description,
    .cpe-naf {
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  // accueil g
  //////////////////////////////////////
  .logo-g {
    display: none;
  }
  .picto1 {
    align-self: center;
    display: block;
    width: 90px;
    img {
      width: 100%;
    }
  }
  // navbar
  /////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }
  .navbar-content {
    display: none;
    li {
      margin: 30px 0;
    }
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    width: 180px;
  }
  // accueil général
  .first-btn1 {
    margin-top: 50px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    .ac-item2 {
      display: flex;
      justify-content: space-between;
      .accueilg-item1 {
        width: 70%;
      }
    }
    .ac-item21 {
      flex-direction: row-reverse;
    }
  }
  // footer

  // inscription recruteur
  .travel-parcours {
    width: 680px;
    .line {
      width: 180px;
    }
    ol {
      width: 750px;
      font-size: 14px;
      margin-left: -20px;
    }
  }
  .phone-number-add {
    .before-number {
      font-size: 16px;
      top: 25px;
      padding: 6px;
    }
  }

  // equipe equipe responsive
  .eq-all {
    .equip1,
    .equip2 {
      flex-direction: row;
    }
  }
  .equipe-box {
    width: 90%;
    .eq-box-eq {
      margin-top: 170px;
      padding-bottom: 20px;
      width: 250px;
      .eq-image {
        width: 180px;
      }
    }
  }
  // menu left recruteur
  .left-menu-r {
    &.open {
      width: 100px;
    }
  }
  .btn-menu-r {
    right: 10px;
  }
  .left-menu-photo.open {
    opacity: 1;
  }
  // client profil
  // client profil
  .cp-table-box {
    td {
      padding: 5px 40px;
    }
    .table-td {
      justify-content: flex-start;
      padding-left: 30px;
      .cp-infos-r {
        width: 50%;
      }
      .cpr-r {
        img {
          left: 6%;
        }
      }
    }
    .cp-flex-t {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .line-white {
      display: block;
    }
    .cp-icon-text {
      img {
        left: -30px;
      }
    }
    .cpe-description,
    .cpe-naf {
      text-align: left;
    }
  }
}

@media screen and (min-width: 992px) {
  // landing page
  .box-1 {
    width: 50%;
  }
  .box-2 {
    display: block;
    width: 50%;
    img {
      width: 100%;
      height: 99.5vh;
    }
  }
  // navbar
  ////////////////////////
  .logo-g {
    display: block;
    width: 45%;
  }
  .navb {
    padding: 15px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-self: center;
    align-items: center;
  }
  .navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: inherit;
    .navbar-item:hover {
      background-color: transparent;
      color: $main_theme_color;
    }
  }
  .navbar-logo {
    width: 5%;
    img {
      margin-left: 60%;
    }
  }
  ///
  .dropup1 {
    margin: 0;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: $secondary_text_color_button;
    color: white;
    width: 200px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.61);
      box-shadow: $box-shadow;
      color: $secondary_text_color_button;
    }
  }

  .dropup-content1 {
    position: absolute;
    background-color: $secondary_element_color;
    padding: 10px;
    width: 235px;
    right: 3%;
    top: 83px;
    text-align: center;
    z-index: 20;
  }
  .btn-btn {
    display: none;
  }
  // navbar background
  ////////////////////////////////////////////////
  .navdiv {
    padding-bottom: 70px;
  }
  .bg-inside {
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }
  // navbar accueilg and accueil g
  ////////////////////////////////////////////////
  .bg-accueil1 {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 600px;
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }
  .accueilg-btn1 {
    margin-bottom: 70px;
    .cadre-btn1,
    .recruteur-btn1 {
      margin: 0 2em;
    }
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 320px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    margin-top: 180px;
    .ac-item2 {
      margin: 110px 0;
    }
  }
  // footer
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    .footer-c {
      width: 65%;
    }
  }
  .social {
    a {
      margin-left: 5px;
    }
  }

  // contact
  ////////////////////////////////////
  .contact-us {
    .contact-change {
      display: flex;
      justify-content: space-between;
    }
    .contact-item {
      width: 48%;
    }
  }
  // accueil recruteur
  //////////////////@exten
  .accueil-recruteur {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .title-ar {
      font: $ffbtn;
      font-size: 16px;
    }
    .ar-vertical-line {
      position: absolute;
      left: 50%;
      content: ' ';
      width: 1px;
      height: 800px;
      background-color: black;
    }
    .ar-item {
      width: 48%;
    }
    .ar-item2 {
      align-self: flex-start;
      p,
      h2 {
        text-align: right;
      }
    }
  }

  // inscription recruteur
  ///////////////////////////////////////@extend
  .details-r {
    .dr-item-fad {
      width: 66%;
    }
    .dr-item-postal {
      width: 30%;
      margin-right: 3%;
    }
  }
  .travel-parcours {
    width: 680px;
    ol {
      width: 780px;
      margin-left: -38px;
    }
  }
  .inscription-r {
    margin: 50px auto;
  }
  // equipe equipe responsive
  .eq-all {
    .equip1,
    .equip2 {
      flex-direction: row;
    }
  }
  .equipe-box {
    padding-bottom: 70px;
    width: 80%;
    .eq-box-eq {
      margin-top: 200px;
      width: 300px;
      .eq-image {
        width: 250px;
      }
    }
  }
  // menu left recruteur
  .left-menu-r {
    &.open {
      width: 120px;
    }
  }
  .btn-menu-r {
    right: 15px;
  }
  // client profil
  .table-td {
    .cpr-r {
      img {
        left: 20%;
      }
    }
  }

  // client profil
  .cp-table-box {
    td {
      padding: 5px 60px;
    }
    .table-td {
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding-left: 50px;
      .cp-infos-r {
        width: 70%;
      }
      .cpr-r {
        img {
          left: 20%;
        }
      }
    }
    .cp-flex-t {
      flex-wrap: no-wrap;
    }
    .cp-icon-text {
      img {
        left: -40px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // navbar
  /////////////////////
  .navbar-content {
    justify-content: space-between;
    width: 70%;
    align-items: center;
  }
  .navbar-ul {
    width: 70%;
    margin-bottom: inherit;
  }

  .dropup-content1 {
    right: 5.4%;
  }
  .logo-g {
    width: 40%;
  }
  // navbar background all
  ///////////////////////////////////////////////
  .navdiv {
    padding-bottom: 100px;
  }
  // nabar bg accueil
  ///////////////////////////////////////////////

  // page d'accueil général
  .accueilg-btn1 {
    .cadre-btn1 {
      margin: 0 2em;
      a {
        padding: 10px 65px;
      }
    }
    .recruteur-btn1 {
      margin: 0 2em;
      a {
        padding: 10px 50px;
      }
    }
  }

  // accueil recruteur
  // ******************************//
  .accueil-recruteur {
    .title-ar {
      font-size: 20px;
    }
  }
  // inscription recruteur
  ///////////////////////////////////////@extend

  .travel-parcours {
    width: 700px;
    ol {
      width: 790px;
      margin-left: -45px;
    }
  }
  .inscription-r {
    margin: 60px auto;
  }

  // equipe equipe responsive
  .equipe-box {
    padding-bottom: 100px;
  }
  // client profil
  .table-td {
    .cpr-r {
      img {
        left: 30%;
      }
    }
  }

  // client profil
  .cp-table-box {
    td {
      padding: 5px 60px;
    }
    .table-td {
      justify-content: space-between;
      .cp-infos-r {
        width: 72%;
      }
      .cpr-r {
        img {
          left: 25%;
        }
      }
    }
  }
}
