* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.bg-uniq {
  padding-bottom: 100px;
  width: 100%;
  z-index: -1;
  background: url(/image/background2.jpg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .bg-uniq {
    margin-top: -450px;
    padding-top: 492px;
  }
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 100%;
  }
  .box-1 .box-1-btn {
    align-self: center;
  }
  .box-1 .box-1-content {
    text-align: center;
  }
  .box-1 .box-1-logo {
    width: 65%;
  }
  .box-2 {
    display: none;
  }
  .navb {
    padding: 5px 50px;
    background-color: #e3d7bf;
  }
  .navbar-content {
    display: none;
  }
  .navbar-content li {
    margin: 30px 0;
  }
  .navbar-item:hover,
  .navbar-item:active {
    background-color: white;
    color: #e3d7bf;
  }
  .dropup-btn1 {
    width: 180px;
    text-align: center;
    background-color: white;
    color: #e3d7bf;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.432);
  }
  .dropup-content1 {
    border: 2px white solid;
  }
  .dropup-content1 .dropup-item1:active {
    background-color: white;
    color: #e3d7bf;
  }
  .dropup1 {
    margin-bottom: 10px;
  }
  .accueilg-btn1 {
    margin-bottom: 30px;
  }
  .accueilg-btn1 .cadre-btn1 {
    margin: 0 1em;
  }
  .accueilg-btn1 .cadre-btn1 a {
    padding: 12px 55px;
  }
  .accueilg-btn1 .recruteur-btn1 {
    margin: 0 1em;
  }
  .accueilg-btn1 .recruteur-btn1 a {
    padding: 12px 30px;
  }
  .picto1 {
    display: none;
  }
  .accueilg-content1 {
    margin: 0 auto;
  }
  .accueilg-content1 .ac-item2 {
    margin: 60px 0;
  }
  .footer-bottom {
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
  }
  .footer-bottom div {
    margin-bottom: 10px;
  }
  .accueil-recruteur {
    width: 90%;
  }
  .accueil-recruteur .title-ar {
    font: 500 18px Raleway, sans-serif;
  }
  .accueil-recruteur .ar-item p {
    text-align: justify;
  }
  .details-r .dr-item {
    margin: 20px 0;
    width: 100%;
  }
  .inscription-r {
    margin: 20px auto;
  }
  .travel-parcours {
    width: 400px;
  }
  .travel-parcours .line {
    width: 80px;
  }
  .travel-parcours ol {
    width: 400px;
    font: 500 18px Raleway, sans-serif;
    font-size: 12px;
  }
  .phone-number-add .before-number {
    padding: 3px;
    font-size: 14px;
    top: 28px;
  }
  .eq-all .equip1,
  .eq-all .equip2 {
    flex-direction: column;
    align-items: center;
  }
  .equipe-box {
    width: 90%;
    padding-bottom: 50px;
  }
  .equipe-box .eq-box-eq {
    padding-bottom: 20px;
    width: 200px;
    margin-top: 120px;
  }
  .equipe-box .eq-box-eq .eq-image {
    width: 150px;
  }
  .left-menu-r.open {
    width: 50px;
  }
  .btn-menu-r {
    right: 7px;
  }
  .left-menu-photo.open {
    opacity: 0;
  }
  .cp-table-box td {
    padding: 5px 0px;
  }
  .cp-table-box .table-td {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cp-table-box .table-td .cp-infos-r {
    width: 80%;
  }
  .cp-table-box .table-td .cpr-r img {
    left: 6%;
  }
  .cp-table-box .cp-flex-t {
    flex-direction: column;
  }
  .cp-table-box .line-white {
    display: none;
  }
  .cp-table-box .cp-icon-text img {
    left: 35px;
  }
  .cp-table-box .cpe-description,
  .cp-table-box .cpe-naf {
    text-align: center;
  }
  .cp-edit-table-box .cp-edit-form {
    width: 100%;
  }
  .cp-edit-table-box td {
    padding: 5px 0px;
  }
  .cp-edit-table-box .table-td {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cp-edit-table-box .table-td .cp-infos-r {
    width: 90%;
  }
  .cp-edit-table-box .table-td .cp-infos-r input {
    width: 100%;
  }
  .cp-edit-table-box .table-td .cpr-r img {
    left: 6%;
  }
  .cp-edit-table-box .table-td .cpr-r .add {
    right: 2%;
  }
  .cp-edit-table-box .cp-flex-t {
    flex-direction: column;
  }
  .cp-edit-table-box .cp-icon-text img {
    left: 35px;
  }
  .cp-edit-table-box .cpe-description,
  .cp-edit-table-box .cpe-naf {
    text-align: center;
  }
  .coj-box {
    flex-wrap: wrap;
  }
  .coj-box .cjo-content {
    width: 50%;
  }
  .create-offre-box {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .create-offre-box .detail-post-box .dp-input {
    width: 90%;
  }
  .create-offre-box .detail-post-box .dp-input input,
  .create-offre-box .detail-post-box .dp-input select,
  .create-offre-box .detail-post-box .dp-input textarea {
    width: 100%;
  }
  .create-offre-box .detail-post-box .dp-input-renumeration .value-renum {
    margin-left: 6%;
    width: 70%;
  }
  .create-offre-box .dp-input-checkbox1 {
    padding-left: 10%;
  }
  .create-offre-box .dp-input-checkbox1 span {
    margin-left: -50px;
  }
  .create-offre-box .travel-creation {
    width: 90%;
  }
  .create-offre-box .travel-creation .line {
    width: 38%;
  }
  .create-offre-box .travel-creation ol {
    width: 115%;
    margin-left: -10%;
  }
  .context-offre-box {
    text-align: center;
  }
  .context-offre-box #co-input-submit {
    display: none;
  }
  .context-offre-box #co-input-submit-1 {
    width: 150px;
    margin: 0 auto;
  }
  .context-offre-box #co-input-submit-1 input {
    width: 100%;
    padding: 10px 20px;
  }
  .context-offre-box .co-input-image {
    align-items: center;
    flex-direction: column;
  }
  .context-offre-box .cp-input-check {
    flex-wrap: wrap;
  }
  .show-job-box .travel-creation {
    width: 90%;
  }
  .show-job-box .travel-creation .line {
    width: 30%;
  }
  .show-job-box .travel-creation ol {
    width: 115%;
    margin-left: -10%;
  }
  .show-publication {
    width: 90%;
    margin: 0 auto;
    font: 15px Questrial, sans-serif;
  }
  .show-publication .sjb-content .show-einfos {
    flex-direction: column;
  }
  .show-publication .sjb-content .show-einfos .logo {
    align-self: center;
  }
  .show-publication .sjb-content .show-einfos .local {
    width: 100%;
  }
  .show-publication .so-btn {
    flex-direction: column;
  }
  .show-publication .so-btn a {
    margin-bottom: 15px;
    text-align: center;
  }
  .show-pb2 {
    width: 70%;
  }
  .select-cadre-box .select-cadre-list .validation .submit-validation .validation-bt {
    display: none;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box {
    width: 200px;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box .cadre-box-image {
    position: relative;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box .cadre-box-image .cbi-photo {
    width: 100%;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box .cadre-box-image .cbi-photo img {
    height: 280px;
  }
}

@media screen and (min-width: 768px) {
  .box-1 .box-1-logo {
    width: 55%;
  }
  .logo-g {
    display: none;
  }
  .picto1 {
    align-self: center;
    display: block;
    width: 90px;
  }
  .picto1 img {
    width: 100%;
  }
  .navb {
    padding: 5px 50px;
    background-color: #e3d7bf;
  }
  .navbar-content {
    display: none;
  }
  .navbar-content li {
    margin: 30px 0;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    width: 180px;
  }
  .first-btn1 {
    margin-top: 50px;
  }
  .accueilg-content1 {
    margin: 0 auto;
  }
  .accueilg-content1 .ac-item2 {
    display: flex;
    justify-content: space-between;
  }
  .accueilg-content1 .ac-item2 .accueilg-item1 {
    width: 70%;
  }
  .accueilg-content1 .ac-item21 {
    flex-direction: row-reverse;
  }
  .travel-parcours {
    width: 680px;
  }
  .travel-parcours .line {
    width: 180px;
  }
  .travel-parcours ol {
    width: 750px;
    font-size: 14px;
    margin-left: -20px;
  }
  .phone-number-add .before-number {
    font-size: 16px;
    top: 25px;
    padding: 6px;
  }
  .eq-all .equip1,
  .eq-all .equip2 {
    flex-direction: row;
  }
  .equipe-box {
    width: 90%;
  }
  .equipe-box .eq-box-eq {
    margin-top: 170px;
    padding-bottom: 20px;
    width: 250px;
  }
  .equipe-box .eq-box-eq .eq-image {
    width: 180px;
  }
  .left-menu-r.open {
    width: 100px;
  }
  .btn-menu-r {
    right: 6px;
  }
  .left-menu-photo.open {
    opacity: 1;
  }
  .cp-table-box td {
    padding: 5px 40px;
  }
  .cp-table-box .table-td {
    justify-content: flex-start;
    padding-left: 30px;
  }
  .cp-table-box .table-td .cp-infos-r {
    width: 50%;
  }
  .cp-table-box .table-td .cpr-r img {
    left: 6%;
  }
  .cp-table-box .cp-flex-t {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cp-table-box .line-white {
    display: block;
  }
  .cp-table-box .cp-icon-text img {
    left: -30px;
  }
  .cp-table-box .cpe-description,
  .cp-table-box .cpe-naf {
    text-align: left;
  }
  .cp-edit-table-box .table-td {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .cp-edit-table-box .table-td .cp-infos-r {
    width: 50%;
  }
  .cp-edit-table-box .cp-flex-t {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cp-edit-table-box .cp-icon-text img {
    left: -5px;
  }
  .coj-box .cjo-content {
    width: 40%;
  }
  .create-offre-box {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .create-offre-box .detail-post-box .dp-input {
    width: 70%;
  }
  .create-offre-box .detail-post-box .dp-input-renumeration .value-renum {
    margin-left: 3%;
    width: 80%;
  }
  .create-offre-box .dp-input-checkbox1 span {
    margin-left: 0;
  }
  .create-offre-box .travel-creation {
    width: 70%;
  }
  .create-offre-box .travel-creation .line {
    width: 38%;
  }
  .create-offre-box .travel-creation ol {
    width: 115%;
    margin-left: -10%;
  }
  .context-offre-box #co-input-submit-1 {
    display: none;
  }
  .context-offre-box #co-input-submit {
    display: block;
    width: 320px;
    margin: 0 auto;
    text-align: left;
  }
  .context-offre-box #co-input-submit label {
    margin-left: 10%;
  }
  .context-offre-box #co-input-submit input {
    width: 100%;
    padding: 12px 10px;
  }
  .context-offre-box .co-input-image {
    flex-direction: row;
    justify-content: center;
  }
  .context-offre-box .co-input-image img {
    align-self: flex-end;
  }
  .context-offre-box .co-input-image label {
    align-self: flex-end;
    margin: 0;
  }
  .show-job-box .travel-creation {
    width: 70%;
  }
  .show-job-box .travel-creation .line {
    width: 38%;
  }
  .show-job-box .travel-creation ol {
    width: 115%;
    margin-left: -10%;
  }
  .show-job-box .sjb-content .show-einfos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .show-job-box .sjb-content .show-einfos .local {
    width: 70%;
  }
  .show-job-box .so-btn {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .show-pb2 a {
    width: 70%;
  }
  .select-cadre-box .select-cadre-list .validation .submit-validation .validation-bt1 {
    display: none;
  }
  .select-cadre-box .select-cadre-list .validation .submit-validation .validation-bt {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .bg-uniq {
    margin-top: -505px;
    padding-top: 550px;
  }
  .box-1 {
    width: 50%;
  }
  .box-1 .box-1-btn {
    align-self: flex-end;
    margin-right: 10%;
  }
  .box-1 .box-1-logo {
    width: 70%;
  }
  .box-1 .box-1-content {
    text-align: left;
  }
  .box-2 {
    display: block;
    height: 99.5vh;
    background: url(/image/picture_photo_0ae4b3.jpg) no-repeat center;
    background-size: cover;
  }
  .navdiv {
    height: 500px;
    padding-bottom: 70px;
  }
  .logo-g {
    display: block;
    width: 38%;
  }
  .navb {
    padding: 15px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-content {
    display: flex;
    justify-content: space-around;
    width: 75%;
    align-self: center;
    align-items: center;
  }
  .navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: inherit;
  }
  .navbar-ul .navbar-item:hover {
    background-color: transparent;
    color: #d6b36a;
  }
  .navbar-logo {
    width: 5%;
  }
  .navbar-logo img {
    margin-left: 60%;
  }
  .dropup1 {
    margin: 0;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: #e3d7bf;
    color: white;
    width: 160px;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
    color: #e3d7bf;
  }
  .dropup-content1 {
    position: absolute;
    background-color: #f0f2f4;
    padding: 10px;
    width: 204px;
    right: 5%;
    top: 83px;
    text-align: center;
    z-index: 20;
  }
  .btn-btn {
    display: none;
  }
  .bg-inside {
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }
  .bg-accueil1 {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 650px;
    background: url(/image/BANNIERE.png) no-repeat center;
    background-size: cover;
  }
  .accueilg-btn1 {
    margin-bottom: 70px;
  }
  .accueilg-btn1 .cadre-btn1,
  .accueilg-btn1 .recruteur-btn1 {
    margin: 0 2em;
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 320px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    margin-top: 250px;
  }
  .accueilg-content1 .ac-item2 {
    margin: 110px 0;
  }
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-bottom .footer-c {
    width: 65%;
  }
  .social a {
    margin-left: 5px;
  }
  .contact-us .contact-change {
    display: flex;
    justify-content: space-between;
  }
  .contact-us .contact-item {
    width: 48%;
  }
  .accueil-recruteur {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .accueil-recruteur .title-ar {
    font: 500 18px Raleway, sans-serif;
    font-size: 16px;
  }
  .accueil-recruteur .ar-vertical-line {
    position: absolute;
    left: 50%;
    content: ' ';
    width: 1px;
    height: 720px;
    background-color: black;
  }
  .accueil-recruteur .ar-item {
    width: 48%;
  }
  .accueil-recruteur .ar-item2 {
    align-self: flex-start;
  }
  .accueil-recruteur .ar-item2 p,
  .accueil-recruteur .ar-item2 h2 {
    text-align: right;
  }
  .details-r .dr-item-fad {
    width: 66%;
  }
  .details-r .dr-item-postal {
    width: 30%;
    margin-right: 3%;
  }
  .travel-parcours {
    width: 680px;
  }
  .travel-parcours ol {
    width: 780px;
    margin-left: -38px;
  }
  .inscription-r {
    margin: 50px auto;
  }
  .eq-all .equip1,
  .eq-all .equip2 {
    flex-direction: row;
  }
  .equipe-box {
    padding-bottom: 70px;
    width: 80%;
  }
  .equipe-box .eq-box-eq {
    margin-top: 200px;
    width: 300px;
  }
  .equipe-box .eq-box-eq .eq-image {
    width: 250px;
  }
  .left-menu-r.open {
    width: 120px;
  }
  .btn-menu-r {
    right: 15px;
  }
  .table-td .cpr-r img {
    left: 20%;
  }
  .cp-table-box td {
    padding: 5px 60px;
  }
  .cp-table-box .table-td {
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 50px;
  }
  .cp-table-box .table-td .cp-infos-r {
    width: 70%;
  }
  .cp-table-box .table-td .cpr-r img {
    left: 20%;
  }
  .cp-table-box .cp-flex-t {
    flex-wrap: no-wrap;
  }
  .cp-table-box .cp-icon-text img {
    left: -40px;
  }
  .cp-edit-table-box .table-td {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .cp-edit-table-box .table-td #recruteur-fonction,
  .cp-edit-table-box .table-td #cp-full-name,
  .cp-edit-table-box .table-td #recruteur-mail,
  .cp-edit-table-box .table-td #recruteur-phone {
    width: 60%;
  }
  .cp-edit-table-box .table-td .cp-infos-r {
    width: 70%;
  }
  .cp-edit-table-box .table-td .cpr-r img {
    left: 10%;
  }
  .cp-edit-table-box .table-td .cpr-r .add {
    left: 20%;
  }
  .cp-edit-table-box .cp-flex-t {
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
  }
  .cp-edit-table-box .cp-icon-text img {
    left: 1px;
  }
  .create-offre-box .detail-post-box .dp-input {
    width: 50%;
  }
  .create-offre-box .detail-post-box .dp-input-renumeration .value-renum {
    margin-left: 3%;
    width: 85%;
  }
  .create-offre-box .dp-input-checkbox1 {
    padding-left: 4%;
  }
  .create-offre-box .travel-creation {
    width: 450px;
  }
  .create-offre-box .travel-creation .line {
    width: 173px;
  }
  .create-offre-box .travel-creation ol {
    width: 510px;
    margin-left: -8%;
  }
  .show-job-box .travel-creation {
    width: 450px;
  }
  .show-job-box .travel-creation .line {
    width: 173px;
  }
  .show-job-box .travel-creation ol {
    width: 510px;
    margin-left: -8%;
  }
  .show-job-box .sjb-content {
    width: 80%;
    margin: 0 auto;
  }
  .show-job-box .sjb-content .show-einfos {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .show-job-box .sjb-content .show-einfos .local {
    width: 65%;
  }
  .show-job-box .so-btn {
    flex-wrap: nowrap;
  }
  .show-job-box .show-pb2-btn a {
    width: 70%;
  }
  .show-job-box .show-pb2 {
    width: 65%;
  }
  .show-job-box .show-pb2 a {
    width: 45%;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box {
    width: 250px;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box:hover .cadre-box-info, .select-cadre-box .select-cadre-list-items .cadre-box:active .cadre-box-info {
    height: 170px;
    transition: all 500ms ease-in-out;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box .cadre-box-image {
    position: relative;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box .cadre-box-image .cbi-photo {
    width: 100%;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box .cadre-box-image .cbi-photo img {
    height: 350px;
  }
  .select-cadre-box .select-cadre-list-items .cadre-box .cadre-box-info {
    position: absolute;
    height: 70px;
    transition: all 900ms ease-in-out;
    overflow: hidden;
    bottom: 0;
  }
  .select-cadre-box .select-cadre-list .validation .submit-validation .validation-bt1 {
    display: none;
  }
  .select-cadre-box .select-cadre-list .validation .submit-validation .validation-bt {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-content {
    justify-content: space-between;
    width: 70%;
    align-items: center;
  }
  .navbar-ul {
    width: 70%;
    margin-bottom: inherit;
  }
  .logo-g {
    width: 35%;
  }
  .dropup-content1 {
    right: 5.2%;
  }
  .navdiv {
    padding-bottom: 100px;
  }
  .accueilg-btn1 .cadre-btn1 {
    margin: 0 2em;
  }
  .accueilg-btn1 .cadre-btn1 a {
    padding: 12px 65px;
  }
  .accueilg-btn1 .recruteur-btn1 {
    margin: 0 2em;
  }
  .accueilg-btn1 .recruteur-btn1 a {
    padding: 12px 50px;
  }
  .accueilg-content1 {
    margin-top: 220px;
  }
  .accueil-recruteur .title-ar {
    font-size: 20px;
  }
  .travel-parcours {
    width: 700px;
  }
  .travel-parcours ol {
    width: 790px;
    margin-left: -45px;
  }
  .inscription-r {
    margin: 60px auto;
  }
  .equipe-box {
    padding-bottom: 100px;
  }
  .table-td .cpr-r img {
    left: 30%;
  }
  .cp-table-box td {
    padding: 5px 60px;
  }
  .cp-table-box .table-td {
    justify-content: space-between;
  }
  .cp-table-box .table-td .cp-infos-r {
    width: 72%;
  }
  .cp-table-box .table-td .cpr-r img {
    left: 25%;
  }
  .cp-edit-table-box td {
    padding: 5px 30px;
  }
  .cp-edit-table-box .table-td {
    justify-content: space-between;
  }
  .cp-edit-table-box .table-td #recruteur-fonction,
  .cp-edit-table-box .table-td #cp-full-name,
  .cp-edit-table-box .table-td #recruteur-mail,
  .cp-edit-table-box .table-td #recruteur-phone {
    width: 50%;
  }
  .cp-edit-table-box .table-td .cp-infos-r {
    width: 72%;
  }
  .cp-edit-table-box .table-td .cpr-r img {
    left: 12%;
  }
  .cp-edit-table-box .table-td .cpr-r .add {
    left: 25%;
  }
  .create-offre-box .detail-post-box .dp-input {
    width: 35%;
  }
  .create-offre-box .detail-post-box .dp-input-renumeration .value-renum {
    width: 87%;
  }
  .create-offre-box .dp-input-checkbox1 {
    padding-left: 6%;
  }
  .create-offre-box .travel-creation {
    width: 600px;
  }
  .create-offre-box .travel-creation .line {
    width: 248px;
  }
  .create-offre-box .travel-creation ol {
    width: 664px;
    margin-left: -7%;
  }
  .show-job-box .travel-creation {
    width: 600px;
  }
  .show-job-box .travel-creation .line {
    width: 248px;
  }
  .show-job-box .travel-creation ol {
    width: 664px;
    margin-left: -7%;
  }
}

@media screen and (min-width: 1500px) {
  .bg-uniq {
    margin-top: -605px;
  }
  .navdiv {
    height: 600px;
  }
  .logo-g {
    width: 32%;
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 380px;
  }
  .bg-accueil1 {
    height: 750px;
  }
}

@media screen and (min-width: 2500px) {
  .navdiv {
    height: 700px;
  }
  .logo-g {
    width: 30%;
  }
  .first-btn1 {
    top: 450px;
  }
  .bg-accueil1 {
    height: 800px;
  }
}
