/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    font-size: 16px;
  }

  body{
    font-family: 'Questrial', sans-serif;
    margin: 0;
  }



.main{
	margin: 15px;
	font-size: 14px;
	min-height: 800px;
}

.main-title{
	text-transform: uppercase;
	text-align: center;
	color: #d6b36a;
	font-size: 16px;
	margin-bottom: 20px;
}

.message{
	display: flex;
	grid-column-gap: 5%;
	border-top: 2px solid #f0f2f4;
	padding: 15px;
}

.block-image{
	position: relative;
	width: 20%;
	max-width: 100px;
	max-height: 100px;
}

.pdp{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	object-fit: cover;
}

.alert-info{
	width: auto;
	background-color: #d6b36a;
	border-radius: 150%;
	padding: 6px;
	color: #fff;
	font-size: 16px;
}

.message-content{
	width: 60%;
}

.connected-times{
	position: relative;
	width: 20%;
}

.connected{
	position: absolute;
	bottom: 10%;
	right: 25%;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: green;
}

.btn-voir{
	color: #d6b36a;
	text-decoration: none;
}

.btn-voir:hover{
	text-decoration: none;
	color: #000;
}

.not-connected{
	position: absolute;
	bottom: 5px;
	right: 0;
	font-size: 10px;
	color: red;
}

.recruteur-name{
	text-transform: capitalize;
	margin-bottom: 5px;
	font-weight: bold;
}

.message-containera{
	position: fixed;
	right: 0;
	padding: 15px;
	width: 100%;
	z-index: 999999;
}



@media only screen and (min-width: 600px){
	.all-content{
		display: flex;
		grid-column-gap: 5%;
		margin-top: 20px;
		font-size: 18px;
	}

	.main{
		width: 80%;
	}

	.main-title{
		margin-bottom: 50px;
	}

.message-containera{
	position: fixed;
	bottom: 0;
	right: 10px;
	padding: 15px;
	width: 350px;
}

	.left-content{
		border-right: 1px solid #d6b36a;
	}

	.recruteur-name{
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 16px;
	}

	.color{
		color: #000;
	}

	.pdp{
		width: 80px;
		height: 80px;
	}


}
