// Navbar css
@import 'config';
.navbar-content {
  text-transform: uppercase;
  font: $ffbtn;
  font-size: 16px;
  .navbar-item {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    width: 100%;
  }
  .navbar-ul {
    list-style: none;
  }
  .navbar-ul a.act {
    color: $main_theme_color;
  }
  .dropup1 {
    a:hover,
    a:active {
      text-decoration: none;
    }
    .dropup-btn1 {
      padding: 12px 10px;
      cursor: pointer;
    }
    .dropup-item1 {
      padding: 10px;
      &:hover,
      &:active {
        background-color: white;
      }
    }
    .dropup-content1 {
      display: none;
      a {
        text-decoration: none;
        color: black;
      }
    }
    #photo-profil {
      width: 50px;
    }
  }
}
.navbar-logo {
  img {
    width: 50px;
    height: 55px;
  }
}
nav {
  padding-top: 20px;
}
.logo-g {
  margin: 0 auto;
  padding: 30px;
  img {
    width: 100%;
  }
}
