/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    font-size: 16px;
  }

  body{
    font-family: 'Questrial', sans-serif;
    margin: 0;
  }

.all-content{
  margin: 20px;
  font-size: 14px;
}

  .titles{
		color: #d6b36a;
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
    padding-bottom: 50px;
	}


  .notif-info{
    display: flex;
    grid-column-gap: 5%;
  }

  .notif-image{
    width: 20%;
  }

  .pdp{
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
		border-radius: 50%;
		object-fit: cover;
  }

  .notif-info-content{
    width: 60%;
    padding: 20px;
  }


  .mb-0{
		display: none;
    width: 20%;
    padding: 15px;
  }


.btn-voir{
  color: #d6b36a;
  text-decoration: none;
}

.btn-voir:hover{
  text-decoration: none;
  color: #d6b36a;
}

.notif-see{
  color: #000;
}




@media only screen and (min-width: 900px){
  .all-content{
    display: flex;
    grid-column-gap: 5%;
    margin-top: 20px;
    font-size: 18px;
  }

  .left-link{
    border-right: 1px solid #d6b36a;
    padding: 0;
  }

  .pdp{
    width: 100px;
    height: 100px;
  }

  .notif-info{
    padding: 10px 0;
    border-top: 2px solid #f0f2f4;
    grid-column-gap: 0;
    width: 100%;
  }

  .mb-0{
		display: block;
    position: relative;
  }

  .currentDateEntretien{
    position: absolute;
    bottom: 10px;
    opacity: .7;
    font-size: 10px;
  }

  .right-link{
    width: 100%;
  }

}
