.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.notification-box {
  width: 90%;
  margin: 0 auto;
}

.notification-box .title {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.notification-box .notif-link {
  color: black;
}

.notification-box .notif-link.seen {
  color: #d6b36a;
}

.notification-box .notif-link:hover, .notification-box .notif-link:active {
  text-decoration: none;
}

.notification-box .notif-link:hover .notif, .notification-box .notif-link:active .notif {
  text-decoration: underline;
}

.notification-box .notification-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notification-box .notification-content .nc-item {
  width: 80%;
  font: 16px Questrial, sans-serif;
}

.notification-box .notification-content .nc-item .name {
  font: 500 18px Raleway, sans-serif;
}

.notification-box .notification-content .nc-item p {
  margin-bottom: 6px;
}

.notification-box .notification-content .nc-item .currentDateEntretien {
  opacity: 0.5;
  color: black;
  font-size: 11px;
  margin-top: 10px;
  text-align: right;
}

.notification-box .notification-content .c {
  margin-right: 5px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
