@import 'config';
@import 'pagemenu';

.promise {
  width: 90%;
  margin: 0 auto;
  .title {
    text-align: center;
    font: $ffbtn;
    color: $main_theme_color;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .promise-content {
    .pc-head {
      .pch-left {
        .pchl-image {
          width: 250px;
          height: 200px;
          .c {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
