/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
  /* border-left: 1px solid #d6b36a; */
}

#ui-datepicker-div{
  background-color: #e3d7bf;
  width: 100%;
  max-width: 225px;
  color: white;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.ui-datepicker-calendarker {
  font: 500 18px Raleway, sans-serif;
  background-color: #e3d7bf;
  color: #fff;
  width: 228px;
}

.ui-datepicker thead {
  text-align: center;
}

.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-calendar td {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  height: 60px;
}

.ui-datepicker-calendar .ui-state-disabled {
  cursor: default;
  background: none;
  opacity: 0.4;
}

.ui-datepicker-calendar .ui-state-disabled:hover {
  background: none;
}

.ui-datepicker-header {
  padding-bottom: 10px;
  color: white;
}

.ui-datepicker .ui-datepicker-prev {
  text-indent: -900000px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  background: url(/image/left.png) no-repeat center/15px 20px;
  border: 2px solid white;
  border-radius: 8px;
  position: absolute;
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-prev:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-datepicker .ui-datepicker-next {
  text-indent: -900000px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid white;
  background: url(/image/right.png) no-repeat center/15px 20px;
}

.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-next:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-widget-content .ui-state-default {
  border: 0px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.ui-widget-content .ui-state-active {
  border: 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.content {
  display: flex;
  margin-top: 15px;
}





.main-title {
  text-align: center;
  color: #d6b36a;
  margin-bottom: 50px;
}

.job-info {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 2px solid #f0f2f4;
  margin-bottom: 20px;
}

.job-i {
  font-size: 16px;
  text-align: center;
}

.job-info-content {
  width: 100%;
}

.down {
  text-transform: capitalize;
}

.cadre-info-content input {
  position: relative;
  width: 225px;
  height: 35px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  background-color: #f0f2f4;
  text-align: center;
  margin-top: 15px;
}

.cadre-info-content input:focus {
  outline: 1px solid #d6b36a;
}

.job-info-content{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.disable {
  display: block;
  margin: 0 auto;
  width: 225px;
  height: 35px;
  border-radius: 0;
  border: none;
  background-color: #f0f2f4;
  text-align: center;
  margin-top: 15px;
  padding: 2px;
  opacity: 0.5;
}

.calendar {
  position: relative;
  background: no-repeat right 10px center url(/image/calendar.png);
  background-size: 25px;
}

.dat-p {
  background: no-repeat right 10px center url(/image/calendar.png);
  background-size: 25px;
  opacity: 1 !important;
}

.date-prise {
  width: 100%;
  height: 35px;
  border-radius: 0;
  border: none;
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  background-color: #f0f2f4;
  opacity: 0.5;
}

.promese-info {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid #f0f2f4;
  margin-bottom: 20px;
  padding: 15px;
}



.pro-info {
  padding-bottom: 30px;
  border-bottom: 2px solid #f0f2f4;
  margin-bottom: 20px;
}

.date-prise-label {
  display: block;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.date-valid0{
  text-align: center;
  width: 100%;
}

.promese-info-check {
  width: 100%;
  margin-top: 20px;
}

.transparent {
  text-align: center;
  width: 300px;
  color: transparent;
}

.mounth {
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.fichier{

}

.renum {
  display: block;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.bool {
  margin-top: 20px;
  margin-bottom: 20px;
}

.avantages {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.avantage-input {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #f0f2f4;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: left;
}

.promese-all {
  margin-top: 20px;
  height: auto;
}

.date-valid {
  width: 100%;
  height: 35px;
  border-radius: 0;
  border: none;
  background-color: #f0f2f4;
  text-align: center;
  padding: 5px;
  opacity: 0.5;
}

.import {
  color: transparent;
  width: 100%;
  max-width:225px;
  height: 120px;
  cursor: pointer;
}

.btn-valide {
  display: block;
  margin: 0 auto;
  border: none;
  width: 200px;
  height: 50px;
  background-color: #d6b36a;
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
}

.btn-valide:hover {
  background-color: #fff;
  border: 1px solid #d6b36a;
  color: #d6b36a;
}

.input-import {
  display: none;
}

.file {
  background-color: #fff;
  width: 100%;
  height: 50px;
  color: #d6b36a;
  text-align: center;
  padding: 10px;
  border: 1px solid #d6b36a;
  cursor: pointer;
}

.file:hover {
  background-color: #d6b36a;
  color: white;
}

input[type='radio'] {
  position: relative;
  top: 7px;
  appearance: none;
  width: 25px;
  height: 25px;
  background-clip: content-box;
  border: 2px solid #bbb;
  background-color: #f0f2f4;
  border-radius: 0;
}

.remove {
  border: none;
}

input[type='radio']:checked {
  background: no-repeat center url(/image/check.png);
  background-size: 15px;
  background-position: absolute;
}

.renum-perso {
  display: none;
}

.dis-me {
  border: none;
}

.go-right {
  margin-left: 10px;
}

.mes-error {
  font-size: 14px;
  color: red;
  float: left;
  margin-top: 15px;
}

.number-only {
  -webkit-appearance: textfield;
  -moz-appearance:    textfield;
  appearance:textfield
}

#btn-valid-error {
  width: 500px;
  height: 50px;
  position: fixed;
  top: 16px;
  right: 0;
  padding-top: 10px;
  padding-left: 45px;
  color: #fff;
  text-transform: capitalize;
  background: no-repeat left 10px center url(/image/flash-unvalid.png);
  background-color: red;
  background-size: 30px;
  border-right: 5px solid #f0f2f4;
  margin-right: 20px;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin-top: 14px;
}

.telecharger {
  display: block;
  width: 225px;
  height: 50px;
  border: 1px solid #d6b36a;
  text-align: center;
  padding: 15px;
  color: #d6b36a;
}

.renum-var {
  width: 100%;
  height: 35px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  background-color: #f0f2f4;
  text-align: center;
  margin-top: 15px;
}

.avantage-label{
  display: block;
  width: 100%;
  text-align;
}

.telecharger:hover {
  text-decoration: none;
  background: #d6b36a;
  color: #fff;
}

.edit_promise_to_hire {
  margin-bottom: 100px;
}

.bor-me {
  position: relative;
  outline: 1px solid #d6b36a;
  opacity: 0.8;
}

.user-info {
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 14px;
  color: #d6b36a;
  line-height: 1;
  opacity: 1;
  background-color: #fff;
}

.input-cnt {
  position: relative;
  outline: 1px solid #d6b36a;
}

.inpt {
  top: -15px;
}

@media only screen and (min-width: 600px){
  .main{
    display: block;
    margin: 0 auto;
    padding: 15px;
  }
  .job-info{
    display: flex;
    justify-content: space-between;
    grid-column-gap: 2%;
  }

  .import{
    width: 225px;
    height: 120px;
  }

  .file{
    width: 225px;
  }


  .cadre-info{
    width: 50%;
  }

  .renum{
    width: 50%;
  }

  .date-valid0{
    width: auto;
  }

  .date-valida{
    width: 100%;
  }

  .date-valid{
    width: 225px;
  }

  .job-info-content{
    width: 50%;
  }

  .promese-info{
    display: flex;
    justify-content: space-between;
  }
  .date-prise-label{
    width: 50%;
  }

  .date-prise{
    max-width: 225px;
  }

  .promese-info-check{
    display: flex;
    justify-content: end;
  }

  .transparent{
    width: 50%;
  }

  .mounth{
    max-width: 225px;
  }

  .cadre-info-content{
    float: right;
  }

}

@media only screen and (min-width: 1024px){
  .main{
    width: 60%;
  }

  .left_link{
    border-right: 1px solid #d6b36a;
  }

}

.ui-datepicker-calendar {
  padding: 20px;
}

.ui-datepicker-calendar td {
  height: 40px;
}

.ui-datepicker-calendar td:hover,
.ui-datepicker-calendar td:active {
  background: #f0f2f4;
}

.ui-datepicker-header {
  text-align: center;
  padding: 30px;
}

.ui-datepicker-next {
  top: 28px;
  right: 5%;
}

.ui-datepicker-prev {
  top: 28px;
  left: 5%;
}
