/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.client-column {
  display: flex;
  flex-wrap: nowrap;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
  border-left: 1px solid #d6b36a;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.ui-datepicker {
  font: 550 18px Raleway, sans-serif;
  background-color: #e3d7bf;
}

.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-calendar td {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  height: 60px;
}

.ui-datepicker-calendar .ui-state-disabled {
  cursor: default;
  background: none;
  opacity: 0.4;
}

.ui-datepicker-calendar .ui-state-disabled:hover {
  background: none;
}

.ui-datepicker-header {
  padding-bottom: 10px;
  color: white;
}

.ui-datepicker .ui-datepicker-prev {
  text-indent: -900000px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  background: url(/image/left.png) no-repeat center/15px 20px;
  border: 2px solid white;
  border-radius: 8px;
  position: absolute;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-datepicker .ui-datepicker-next {
  text-indent: -900000px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid white;
  background: url(/image/right.png) no-repeat center/15px 20px;
}

.ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-next:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-widget-content .ui-state-default {
  border: 0px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.btn-success{
  position: absolute;
  top: 55%;
  left: 35%;
  font-size: 16px;
  text-align: center;
  background: #d6b36a;
  padding: 15px;
  width: 300px;
  cursor: pointer;
}

.btn-success:hover{
  background: #d6b36a;
}

.ui-widget-content .ui-state-active {
  border: 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 18px;
}

* {
  z-index: 1;
}

body {
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.content {
  margin: 15px;
}

.date {
  color: #d6b36a;
  margin-left: 5px;
}

.seacrh-drop {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  appearance: none;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  background: no-repeat right 10px center url(/image/dropdown.png);
  background-size: 20px;
  background-color: #f0f2f4;
  color: #000;
}

.btn-recherche {
  display: block;
  margin: auto;
  width: 200px;
  height: 39px;
  border: 1px solid #d6b36a;
  background: none;
  color: #d6b36a;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.btn-recherche:hover {
  background: #d6b36a;
  color: #fff;
  text-decoration: none;
}

.job_info_title {
  color: #d6b36a;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.post_info {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.logo img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.job_info p {
  font-size: 18px;
  line-height: 2.5;
}

.indic {
  position: relative;
  margin-right: 10px;
  top: 5px;
}

.btn-voir {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #d6b36a;
  background: none;
  width: auto;
  height: auto;
  color: #d6b36a;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.btn-voir:hover {
  background: #d6b36a;
  color: #ffff;
  text-decoration: none;
}

/* .action {
  margin-top: 70px;
  margin-bottom: 50px;
  float: right;
}

.action img {
  position: relative;
  float: right;
  top: 7px;
} */

.post_info_content {
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.favorite-offre-title {
  font-size: 20px;
  color: #d6b36a;
  text-align: center;
  margin: 50px;
  text-transform: uppercase;
}

.btn-accept {
  background-color: #d6b36a;
  color: #fff;
}

.alternatives {
  position: absolute;
  top: 55px;
  right: 0;
  width: 200px;
  padding: 10px;
  display: block;
  color: #d6b36a;
  border: 1px solid #f0f2f4;
  border-radius: 10px;
  font-size: 12px;
  height: auto;
  text-align: center;
  background-color: #f0f2f4;
}



.alternatives::after{
  content: "";
  position: absolute;
  top: -10px;;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 15px;
  border-left-width: 15px;
  border-bottom: 15px solid #f0f2f4;
}


.engage {
  text-decoration: none;
  color: #d6b36a;
  margin-bottom: 50px;
}

.engage:hover {
  text-decoration: none;
  color: #d6b36a;
}

.js-proposer-date {
  cursor: pointer;
}

.hidden {
  display: none;
}

.readmore {
  margin: 0 5px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.date-picker-f {
  margin: 0 auto;
  margin-right: 0;
  position: relative;
  margin-top: -65px;
  margin-bottom: 65px;
  padding-right: 6.5%;
  width: 70%;
  z-index: 200;
}

.date-picker-f .date {
  opacity: 0;
}

.date-picker-f .date input {
  top: -4px;
  left: 0;
  border-radius: 0;
  font-size: 0.002px;
  position: absolute;
}

.date-picker-f .js-timeContainer {
  padding: 30px;
  padding-bottom: 15px;
  background: #e3d7bf;
  color: white;
  font: 550 18px Raleway, sans-serif;
}

.date-picker-f .js-timeContainer h4 {
  text-align: center;
}

.date-picker-f .js-timeContainer .fselect {
  width: 90%;
  margin: 10px auto;
}

.date-picker-f .js-timeContainer .fselect #reditDate {
  cursor: pointer;
}

.date-picker-f .js-timeContainer .fselect .firstSelection {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.date-picker-f .js-timeContainer .fselect .js-hoursTime {
  padding: 5px;
  background: transparent;
  border: 2px solid #fff;
  width: 86px;
  text-align: center;
  cursor: pointer;
}

.date-picker-f .js-timeContainer .fselect .js-hoursTime:hover, .date-picker-f .js-timeContainer .fselect .js-hoursTime:active {
  background: white;
  color: #e3d7bf;
}

.date-picker-f #reditDate {
  cursor: pointer;
}

.date-picker-f .planQ-btn {
  margin-top: 50px;
  text-align: right;
}

.date-picker-f .planQ-btn input {
  font: 550 18px Raleway, sans-serif;
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  color: white;
  padding: 10px 30px;
}

.date-picker-f .planQ-btn input:hover, .date-picker-f .planQ-btn input:active {
  background: white;
  color: #e3d7bf;
}

#ui-datepicker-div {
  width: 600px;
  color: white;
}

.ui-datepicker-calendar {
  padding: 30px;
}

.ui-datepicker-calendar td {
  padding-top: 19px;
  height: 60px;
}

.ui-datepicker-calendar td:hover {
  margin-top: -5px;
  background: url(/image/cercle.png) no-repeat center/55px 55px;
}

.ui-datepicker-header {
  padding: 50px;
}

.ui-datepicker-next {
  top: 40px;
  right: 10%;
}

.ui-datepicker-prev {
  top: 40px;
  right: 20%;
}



/* .action{
  float: none;
} */

.btn-accept{
    margin: 0 auto;
    margin-bottom: 15px;
}

.btn-alternative{
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.alternative{
  position: relative;
}

.alternatives {
  position: absolute;
  top: 55px;
  right: 0;
  width: 200px;
  padding: 10px;
  display: block;
  color: #d6b36a;
  border: 1px solid #f0f2f4;
  border-radius: 10px;
  font-size: 12px;
  height: auto;
  text-align: center;
  background-color: #f0f2f4;
}

.all-content{
  margin-bottom: 150px;
}


@media only screen and (min-width: 700px) {
  .content {
    display: flex;
  }

  .btn-accept{
      margin: 0 auto;
  }

  .main{
    min-height: 800px;
  }

  .no-flex {
    clear: both;
  }
  .seacrh-drop {
    display: inline;
    width: 180px;
  }
  .post_info_content {
    display: flex;
    height: auto;
  }
  .logo {
    width: 20%;
    height: auto;
  }
  .job_info {
    width: 60%;
    padding-left: 40px;
  }

  .action{
    display: flex;
    grid-column-gap: 5%;
    justify-content: center;
    align-items: center;
    width: 35%;
  }

  .accepter{
    width: 50%;
  }

  .alternative{
    width: 50%;
  }
  /* .action {
    position: relative;
    padding-right: 15px;
    width: auto;
    float: left;
    top: 50%;
    display: flex;
  } */
  /* .action img {
    position: absolute;
    top: -70px;
    right: 0;
  } */
  .logo {
    padding: 10px;
  }
  .logo img {
    position: relative;
    width: 100%;
    height: 200px;
    top: 15px;
    object-fit: cover;
  }
  .btn-recherche {
    margin-top: 20px;
  }


  .left_link{
    z-index: 99999999999;
  }

}

@media only screen and (min-width: 1024px) {
  .post_info {
    clear: both;
  }
  .btn-recherche {
    margin-top: 2px;
    float: right;
  }
  .logo {
    width: 25%;
  }
  .job_info {
    width: 40%;
  }
  .main {
    padding-right: 60px;
    width: 100%;
    position: relative;
    border-left: 1px solid #d6b36a;
    padding-left: 15px;
  }
}
