/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'config';
@import 'pagemenu';
@import 'datepicker';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 18px;
}
* {
  z-index: 1;
}

body {
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.content {
  margin: 15px;
}

.date {
  color: #d6b36a;
  margin-left: 5px;
}

.seacrh-drop {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  background: no-repeat right 10px center url(/image/dropdown.png);
  background-size: 20px;
  background-color: #f0f2f4;
  color: #000;
}

.btn-recherche {
  display: block;
  margin: auto;
  width: 200px;
  height: 39px;
  border: 1px solid #d6b36a;
  background: none;
  color: #d6b36a;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.btn-recherche:hover {
  background: #d6b36a;
  color: #fff;
  text-decoration: none;
}

.job_info_title {
  color: #d6b36a;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.post_info {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.logo img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.job_info p {
  font-size: 18px;
  line-height: 2.5;
}

.indic {
  position: relative;
  margin-right: 10px;
  top: 5px;
}

.btn-voir {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #d6b36a;
  background: none;
  width: 150px;
  height: 40px;
  color: #d6b36a;
  padding: 8px;
  font-size: 16px;
}

.btn-voir:hover {
  background: #d6b36a;
  color: #ffff;
  text-decoration: none;
}

.action {
  margin-top: 70px;
  margin-bottom: 50px;
  float: right;
}

.action img {
  position: relative;
  float: right;
  top: 7px;
}

.post_info_content {
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.favorite-offre-title {
  font-size: 30px;
  color: #d6b36a;
  text-align: center;
  margin: 50px;
  text-transform: uppercase;
}

.btn-accept {
  background-color: #d6b36a;
  color: #fff;
  margin-right: 15px;
}

.alternatives {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  padding: 10px;
  display: block;
  color: #d6b36a;
  border: 1px solid #f0f2f4;
  border-radius: 10px;
  font-size: 12px;
  height: auto;
  text-align: center;
  background-color: #f0f2f4;
}

.engage {
  text-decoration: none;
  color: #d6b36a;
  margin-bottom: 50px;
}

.engage:hover {
  text-decoration: none;
  color: #d6b36a;
}

.js-proposer-date {
  cursor: pointer;
}

.hidden {
  display: none;
}
.readmore {
  margin: 0 5px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
// date picker
.date-picker-f {
  margin: 0 auto;
  margin-right: 0;
  position: relative;
  margin-top: -65px;
  margin-bottom: 65px;
  padding-right: 6.5%;
  width: 70%;
  z-index: 200;
  ////
  .date {
    opacity: 0;
    input {
      top: -4px;
      left: 0;
      border-radius: 0;
      font-size: 0.002px;
      position: absolute;
    }
  }
  // hour validation
  .js-timeContainer {
    padding: 30px;
    padding-bottom: 15px;
    background: $secondary_text_color_button;
    color: white;
    font: $ffbtn;
    h4 {
      text-align: center;
    }
    .fselect {
      width: 90%;
      margin: 10px auto;
      #reditDate {
        cursor: pointer;
      }
      .firstSelection {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
      }
      .js-hoursTime {
        padding: 5px;
        background: transparent;
        border: 2px solid #fff;
        width: 86px;
        text-align: center;
        cursor: pointer;
        &:hover,
        &:active {
          background: white;
          color: $secondary_text_color_button;
        }
      }
    }
  }
  #reditDate {
    cursor: pointer;
  }
  .planQ-btn {
    margin-top: 50px;
    text-align: right;
    input {
      font: $ffbtn;
      background: transparent;
      border: 2px solid white;
      border-radius: 0;
      color: white;
      padding: 10px 30px;
      &:hover,
      &:active {
        background: white;
        color: $secondary_text_color_button;
      }
    }
  }
}
// date picker
#ui-datepicker-div {
  width: 600px;
  color: white;
}
.ui-datepicker {
  &-calendar {
    padding: 30px;
    td {
      padding-top: 19px;
      height: 60px;

      &:hover {
        margin-top: -5px;
        background: url(/image/cercle.png) no-repeat center/55px 55px;
      }
    }
  }
  &-header {
    padding: 50px;
  }
  &-next {
    top: 40px;
    right: 10%;
  }
  &-prev {
    top: 40px;
    right: 20%;
  }
}
@media only screen and (min-width: 900px) {
  .content {
    display: flex;
  }

  .no-flex {
    clear: both;
  }

  .seacrh-drop {
    display: inline;
    width: 180px;
  }

  .post_info_content {
    display: flex;
    height: auto;
  }

  .logo {
    width: 20%;
    height: auto;
  }

  .job_info {
    width: 60%;
    padding-left: 40px;
  }

  .action {
    position: relative;
    padding-right: 15px;
    width: auto;
    float: left;
    top: 50%;
    display: flex;
  }

  .action img {
    position: absolute;
    top: -70px;
    right: 0;
  }

  .logo {
    padding: 10px;
  }

  .logo img {
    position: relative;
    width: 100%;
    height: 200px;
    top: 15px;
  }

  .btn-recherche {
    margin-top: 20px;
  }

  .btn-voir {
    float: right;
    cursor: pointer;
  }

  .main {
    border-left: 1px solid #d6b36a;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .post_info {
    clear: both;
  }
  .btn-recherche {
    margin-top: 2px;
    float: right;
  }

  .logo {
    width: 25%;
  }

  .job_info {
    width: 40%;
  }

  .main {
    padding-right: 60px;
    width: 100%;
  }
}
