.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.ui-datepicker {
  font: 500 18px Raleway, sans-serif;
  background-color: #e3d7bf;
}

.ui-datepicker thead {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-calendar td {
  cursor: pointer;
  border-radius: 50%;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  height: 60px;
}

.ui-datepicker-calendar .ui-state-disabled {
  cursor: default;
  background: none;
  opacity: 0.4;
}

.ui-datepicker-calendar .ui-state-disabled:hover {
  background: none;
}

.ui-datepicker-header {
  padding-bottom: 10px;
  color: white;
}

.ui-datepicker .ui-datepicker-prev {
  text-indent: -900000px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  background: url(/image/left.png) no-repeat center/15px 20px;
  border: 2px solid white;
  border-radius: 8px;
  position: absolute;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-datepicker .ui-datepicker-next {
  text-indent: -900000px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid white;
  background: url(/image/right.png) no-repeat center/15px 20px;
}

.ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-next:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-widget-content .ui-state-default {
  border: 0px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  text-decoration: none;
  color: white;
}

.ui-widget-content .ui-state-active {
  border: 0px;
}

.rsc-box {
  width: 95%;
  margin: 0 auto;
  font: 16px Questrial, sans-serif;
}

.rsc-box .rsc-header .rsc-header-image {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-header .rsc-header-image h4 {
  padding: 20px 0;
}

.rsc-box .rsc-header .rsc-header-image img,
.rsc-box .rsc-header .rsc-header-image .c {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.rsc-box .rsc-header .rsc-header-image a {
  color: black;
}

.rsc-box .rsc-header .rsc-header-image a:hover {
  color: #d6b36a;
}

.rsc-box .rsc-header .rsc-header-travel {
  display: flex;
  justify-content: center;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item .cl {
  width: 100%;
  display: flex;
  align-items: center;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #f0f2f4;
  border-radius: 50%;
  font: 600 16px roboto, sans-serif;
  color: white;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item .circle.color {
  background: #d6b36a;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item .line {
  content: ' ';
  height: 2px;
  background-color: #f0f2f4;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item .line.color {
  background: #d6b36a;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item .content {
  margin-top: 5px;
  align-self: center;
  font: 500 18px Raleway, sans-serif;
  font-size: 16px;
}

.rsc-box .rsc-header .rsc-header-travel .rsch-item .content-last {
  width: 27px;
  margin-left: -26px;
  align-self: flex-end;
}

.rsc-box .rsc-body {
  margin-top: 30px;
}

.rsc-box .rsc-body .rsc-body-empty {
  border: 2px solid #d6b36a;
  padding: 50px 20px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  margin: 50px auto;
}

.rsc-box .rsc-body .rsc-body-empty p {
  margin-bottom: 50px;
}

.rsc-box .rsc-body .rsc-body-empty .link {
  border: 2px solid #d6b36a;
  margin: 0 auto;
  padding: 12px 0;
  padding-top: 13px;
}

.rsc-box .rsc-body .rsc-body-empty .link a {
  color: #d6b36a;
  font: 500 18px Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.rsc-box .rsc-body .rsc-body-empty .link:hover, .rsc-box .rsc-body .rsc-body-empty .link:active {
  background: #d6b36a;
}

.rsc-box .rsc-body .rsc-body-empty .link:hover a, .rsc-box .rsc-body .rsc-body-empty .link:active a {
  color: white;
}

.rsc-box .rsc-body .rsc-date-futur {
  background: #d6b36a;
  background: linear-gradient(90deg, #d6b36a 35%, #d6b46ac9 100%);
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 20px 0;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-header {
  padding: 20px;
  padding-bottom: 10px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 {
  padding: 15px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .refus div {
  margin: 10px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link {
  cursor: pointer;
  font: 500 18px Raleway, sans-serif;
  border: 2px solid white;
  padding: 10px 0;
  margin: 10px auto;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link a {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link:hover, .rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link:active {
  background: white;
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link:hover a, .rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link:active a {
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link2 {
  font: 500 18px Raleway, sans-serif;
  border: 2px solid white;
  padding: 10px 0;
  margin: 10px auto;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link2 a {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link2:hover, .rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link2:active {
  background: white;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link2:hover a, .rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item1 .new-date .link2:active a {
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item2 {
  padding: 10px 30px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item2 h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item2 .date-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item2 .date-items .date {
  padding: 10px;
  margin: 10px 5px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item2 .date-items .date:first-child {
  padding-left: 20px;
  padding-right: 20px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item2 .date-items .date span {
  font-size: 50px;
}

.rsc-box .rsc-body .rsc-date-futur .rscdf-content .rscdf-item2 .date-items .date p {
  margin: 0;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty {
  font: 16px Questrial, sans-serif;
  margin: 50px auto;
  border: 2px solid #d6b36a;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty a {
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty a:hover, .rsc-box .rsc-body .rsc-date-past .rscdp-empty a:active {
  color: #d6b46ab6;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty2 {
  font: 16px Questrial, sans-serif;
  margin: 50px auto;
  border: 2px solid #d6b36a;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty2 .link-span {
  color: #d6b36a;
  margin: 10px 0;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty2 .link {
  cursor: pointer;
  margin: 20px auto;
  border: 2px solid #d6b36a;
  width: 300px;
  padding: 10px 0;
  font: 500 18px Raleway, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty2 .link a {
  color: #d6b36a;
  text-transform: uppercase;
  text-decoration: none;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty2 .link:hover, .rsc-box .rsc-body .rsc-date-past .rscdp-empty2 .link:active {
  background: #d6b36a;
  color: white;
}

.rsc-box .rsc-body .rsc-date-past .rscdp-empty2 .link:hover a, .rsc-box .rsc-body .rsc-date-past .rscdp-empty2 .link:active a {
  color: white;
}

.rsc-box .rsc-body .rsc-date-past .ssc-planification1-rscdp-empty2 .date-rscdp-empty2 {
  opacity: 0;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation {
  font: 16px Questrial, sans-serif;
  position: relative;
  margin: 50px auto;
  border: 2px solid #d6b36a;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation h3 {
  font: 16px Questrial, sans-serif;
  color: #d6b36a;
  text-align: left;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation p {
  margin: 30px 0;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation p a {
  color: black;
  font-weight: 520;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item {
  margin: 15px auto;
  border: 2px solid #d6b36a;
  padding: 13px 0;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item a {
  color: #d6b36a;
  text-transform: uppercase;
  text-decoration: none;
  font: 500 18px Raleway, sans-serif;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item span {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item:hover, .rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item:active {
  background: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item:hover a, .rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item:active a {
  color: white;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item:hover span, .rsc-box .rsc-body .rsc-date-past .dscdp-validation .dscdp-link .dscdp-link-item:active span {
  color: white;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-contact {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  justify-content: center;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-contact a {
  color: #d6b36a;
  font: 16px Questrial, sans-serif;
  font-weight: 600;
  margin: 10px;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-contact a img {
  width: 55px;
  height: 30px;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-refus {
  top: 30%;
  background: #d6b36a;
  position: absolute;
  z-index: 200;
  width: 80%;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-refus .dscdpr-flex a {
  display: block;
  width: 190px;
  margin: 15px auto;
  border: 2px solid white;
  padding: 10px 5px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font: 500 18px Raleway, sans-serif;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-refus .dscdpr-flex a:hover, .rsc-box .rsc-body .rsc-date-past .dscdp-refus .dscdpr-flex a:active {
  color: #d6b36a;
  background: white;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-refus .dscdpr-flex div {
  cursor: pointer;
  width: 190px;
  margin: 15px auto;
  border: 2px solid white;
  padding: 10px 25px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font: 500 18px Raleway, sans-serif;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-refus .dscdpr-flex div:hover, .rsc-box .rsc-body .rsc-date-past .dscdp-refus .dscdpr-flex div:active {
  color: #d6b36a;
  background: white;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted {
  padding-bottom: 70px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdpa-box {
  margin: 0 auto;
  border: 2px solid #d6b36a;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdpa-box h3 {
  font: 16px Questrial, sans-serif;
  color: #d6b36a;
  text-align: left;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdpa-box h5 {
  font: 16px Questrial, sans-serif;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdp-link {
  margin-top: 35px;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdp-link .dscdp-link-item {
  cursor: pointer;
  text-transform: uppercase;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
  margin: 20px auto;
  border: 2px solid #d6b36a;
  padding: 13px 0;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdp-link .dscdp-link-item a {
  color: #d6b36a;
  text-transform: uppercase;
  text-decoration: none;
  font: 500 18px Raleway, sans-serif;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdp-link .dscdp-link-item:hover, .rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdp-link .dscdp-link-item:active {
  color: white;
  background: #d6b36a;
}

.rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdp-link .dscdp-link-item:hover a, .rsc-box .rsc-body .rsc-date-past .dscdp-accepted .dscdp-link .dscdp-link-item:active a {
  color: white;
}

.rsc-box .rsc-body .rsc-body-promise {
  padding: 20px 0;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box {
  font: 16px Questrial, sans-serif;
  border: 2px solid #d6b36a;
  margin: 20px auto;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box h3 {
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box p {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  font: 16px Questrial, sans-serif;
  margin: 10px 0;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box .dscdp-link-item {
  width: 150px;
  margin: 30px auto;
  border: 2px solid #d6b36a;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  padding: 10px 0;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box .dscdp-link-item a {
  padding: 10px 50px;
  font: 500 18px Raleway, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box .dscdp-link-item:hover {
  background: #d6b36a;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box .dscdp-link-item:hover a {
  color: white;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box .dscdp-link .dscdp-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box .dscdp-link .dscdp-contact a {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d6b36a;
}

.rsc-box .rsc-body .rsc-body-promise .dscdpa-box .dscdp-link .dscdp-contact a img {
  width: 55px;
  height: 30px;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box {
  font: 16px Questrial, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .rscr-head {
  padding: 20px;
  width: 180px;
  border: 2px solid #d6b36a;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .rscr-head img {
  display: block;
  width: 35px;
  height: 35px;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .rscr-head p {
  margin: 0;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .label {
  margin: 30px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .text-area {
  width: 80%;
  margin: 0 auto;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .text-area textarea {
  border: none;
  border-radius: 0;
  background: #f0f2f4;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .text-area textarea:focus {
  outline: 2px solid #d6b36a;
  box-shadow: 1px 1px 5px 1px #d6b36a;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .submit {
  margin: 30px auto;
  width: 150px;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .submit input {
  border-radius: 0;
  border: 2px solid #d6b36a;
  color: #d6b36a;
  font: 500 18px Raleway, sans-serif;
  width: 100%;
  padding: 10px;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .submit input:hover, .rsc-box .rsc-body .rsc-body-refuse .rscr-form-box .submit input:active {
  background: #d6b36a;
  color: white;
}

.rsc-box .rsc-body .rsc-body-refuse .rscr-result {
  padding: 20px;
  font: 16px Questrial, sans-serif;
  border: 2px solid #d6b36a;
  width: 80%;
  margin: 50px auto;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-body .validation-cadre-trying {
  border: 2px solid #d6b36a;
  padding: 50px 10px;
  margin: 0 auto;
  font: 16px Questrial, sans-serif;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.rsc-box .rsc-body .validation-cadre-trying .vct-btn {
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 50px;
  background: transparent;
  padding: 10px;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
  border: 2px solid #d6b36a;
}

.rsc-box .rsc-body .validation-cadre-trying .vct-btn a {
  text-decoration: none;
  color: #d6b36a;
}

.rsc-box .rsc-body .validation-cadre-trying .vct-btn:hover, .rsc-box .rsc-body .validation-cadre-trying .vct-btn:active {
  background: #d6b36a;
  color: white;
}

.rsc-box .rsc-body .validation-cadre-trying .vct-btn:hover a, .rsc-box .rsc-body .validation-cadre-trying .vct-btn:active a {
  color: white;
}

.rsc-box .rsc-body .validation-cadre-trying .datte-past input {
  margin-top: 30px;
}

.rsc-box .rsc-body .validation-cadre-trying .datte-past input[type='date'] {
  background: #f0f2f4;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  margin: 10px;
}

.rsc-box .rsc-body .validation-cadre-trying .datte-past input[type='date']:focus {
  box-shadow: 1px 0px 3px 1px rgba(214, 214, 214, 0.3);
  outline: 2px solid #d6b36a;
}

.rsc-box .rsc-body .validation-cadre-trying .datte-past input[type='submit'] {
  border: 2px solid #d6b36a;
  border-radius: 0;
  padding: 10px 20px;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
}

.rsc-box .rsc-body .validation-cadre-trying .datte-past input[type='submit']:hover, .rsc-box .rsc-body .validation-cadre-trying .datte-past input[type='submit']:active {
  background: #d6b36a;
  color: white;
}

.rsc-box .rsc-body .after-promise {
  color: #d6b36a;
  width: 70%;
  margin: 0 auto;
}

.rsc-box .rsc-body .after-promise .ap-left a {
  color: #d6b36a;
}

.rsc-box .rsc-body .after-promise .ap-right {
  padding: 8px 0;
  border: 2px solid #d6b36a;
}

.rsc-box .rsc-body .after-promise .ap-right a {
  font: 500 18px Raleway, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #d6b36a;
  padding: 10px 30px;
}

.rsc-box .rsc-body .after-promise .ap-right:hover, .rsc-box .rsc-body .after-promise .ap-right:active {
  background: #d6b36a;
}

.rsc-box .rsc-body .after-promise .ap-right:hover a, .rsc-box .rsc-body .after-promise .ap-right:active a {
  color: white;
}

.rsc-box .rsc-body .after-promise .ap-box {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rsc-box .rsc-body .after-promise .ap-box img {
  margin-right: 10px;
  width: 55px;
  height: 50px;
}

.ssc-planification {
  margin: 0 auto;
  position: relative;
  margin-bottom: 270px;
  width: 80%;
  z-index: 200;
}

.ssc-planification .date {
  opacity: 0;
}

.ssc-planification .js-timeContainer {
  padding: 30px;
  padding-bottom: 15px;
  background: #e3d7bf;
  color: white;
  font: 500 18px Raleway, sans-serif;
}

.ssc-planification .js-timeContainer h4 {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.ssc-planification .js-timeContainer .fselect {
  width: 95%;
  margin: 0 auto;
}

.ssc-planification .js-timeContainer .fselect #reditDate {
  cursor: pointer;
}

.ssc-planification .js-timeContainer .fselect .firstSelection {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.ssc-planification .js-timeContainer .fselect .js-hoursTime {
  padding: 5px;
  background: transparent;
  border: 2px solid #fff;
  width: 86px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  cursor: pointer;
}

.ssc-planification .js-timeContainer .fselect .js-hoursTime:hover, .ssc-planification .js-timeContainer .fselect .js-hoursTime:active {
  background: white;
  color: #e3d7bf;
}

.ssc-planification .with-input {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.ssc-planification .with-input .with-input-item {
  border-radius: 0;
  outline: none;
  box-shadow: none;
  padding: 2px;
  margin-top: -9px;
  margin-left: 10px;
  padding-left: 5px;
  border: none;
  background: #f0f2f4;
}

.ssc-planification .with-input .with-input-item:focus {
  outline: 1px solid white;
  box-shadow: 1px 0px 3px 1px rgba(214, 214, 214, 0.3);
}

.ssc-planification .planQ-btn {
  text-align: right;
}

.ssc-planification .planQ-btn input {
  font: 500 18px Raleway, sans-serif;
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  color: white;
  padding: 10px 30px;
}

.ssc-planification .planQ-btn input:hover, .ssc-planification .planQ-btn input:active {
  background: white;
  color: #e3d7bf;
}

.ssc-planification .ssc-send {
  color: white;
  background: #e3d7bf;
  font: 16px Questrial, sans-serif;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  padding: 30px;
  margin-top: 11px;
}

.ssc-planification .ssc-send img {
  width: 40px;
  height: 48px;
  margin: 10px 0;
}

.ssc-planification .ssc-send .datetime {
  background: white;
  width: 90%;
  margin: 30px auto;
  color: #e3d7bf;
  font: 500 18px Raleway, sans-serif;
  padding: 20px;
}

.ssc-planification .ssc-send a {
  text-decoration: none;
  text-transform: uppercase;
  color: #d6b36a;
}

.ssc-planification .ssc-send .ssc-send-btn {
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 30px;
  font: 500 18px Raleway, sans-serif;
  width: 150px;
  margin-top: 30px;
  margin-left: auto;
}

.ssc-planification .ssc-send .ssc-send-btn:hover, .ssc-planification .ssc-send .ssc-send-btn:active {
  background: white;
  color: #e3d7bf;
}

.ssc-planification1 {
  position: relative;
  margin-top: -270px;
  margin-bottom: 270px;
  width: 60%;
  z-index: 200;
}

.ssc-planification1 .date {
  opacity: 1;
  text-align: left;
}

.ssc-planification1 .date input {
  top: -3px;
  border-radius: 0;
  font-size: 0.002px;
  position: absolute;
}

.ssc-planification1 .js-timeContainer {
  padding: 30px;
  padding-bottom: 15px;
  background: #e3d7bf;
  color: white;
  font: 500 18px Raleway, sans-serif;
}

.ssc-planification1 .js-timeContainer h4 {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.ssc-planification1 .js-timeContainer .fselect {
  width: 95%;
  margin: 0 auto;
}

.ssc-planification1 .js-timeContainer .fselect #reditDate {
  cursor: pointer;
}

.ssc-planification1 .js-timeContainer .fselect .firstSelection {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.ssc-planification1 .js-timeContainer .fselect .js-hoursTime {
  padding: 5px;
  background: transparent;
  border: 2px solid #fff;
  width: 86px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  cursor: pointer;
}

.ssc-planification1 .js-timeContainer .fselect .js-hoursTime:hover, .ssc-planification1 .js-timeContainer .fselect .js-hoursTime:active {
  background: white;
  color: #e3d7bf;
}

.ssc-planification1 .with-input {
  align-items: center;
  display: flex;
}

.ssc-planification1 .with-input .with-input-item {
  border-radius: 0;
  outline: none;
  box-shadow: none;
  padding: 2px;
  margin-left: 10px;
  padding-left: 5px;
  border: none;
  background: #f0f2f4;
}

.ssc-planification1 .with-input .with-input-item:focus {
  outline: 1px solid white;
  box-shadow: 1px 0px 3px 1px rgba(214, 214, 214, 0.3);
}

.ssc-planification1 .planQ-btn {
  text-align: right;
}

.ssc-planification1 .planQ-btn input {
  font: 500 18px Raleway, sans-serif;
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  color: white;
  padding: 10px 30px;
}

.ssc-planification1 .planQ-btn input:hover, .ssc-planification1 .planQ-btn input:active {
  background: white;
  color: #e3d7bf;
}

.ssc-planification1 .ssc-send {
  color: white;
  background: #e3d7bf;
  font: 16px Questrial, sans-serif;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  padding: 30px;
  margin-top: 11px;
}

.ssc-planification1 .ssc-send img {
  width: 40px;
  height: 48px;
  margin: 10px 0;
}

.ssc-planification1 .ssc-send .datetime {
  background: white;
  width: 90%;
  margin: 30px auto;
  color: #e3d7bf;
  font: 500 18px Raleway, sans-serif;
  padding: 20px;
}

.ssc-planification1 .ssc-send .ssc-send-btn {
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 30px;
  font: 500 18px Raleway, sans-serif;
  width: 150px;
  margin-top: 30px;
  margin-left: auto;
}

.ssc-planification1 .ssc-send .ssc-send-btn:hover, .ssc-planification1 .ssc-send .ssc-send-btn:active {
  background: white;
  color: #e3d7bf;
}

.ssc-invite {
  padding: 10px;
  color: white;
  background: #d6b36a;
}

@media screen and (min-width: 320px) {
  #ui-datepicker-div {
    width: 95%;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  #ui-datepicker-div {
    width: 82.5%;
    color: white;
  }
}

@media screen and (min-width: 998px) {
  #ui-datepicker-div {
    width: 600px;
  }
}

.ui-datepicker-calendar {
  padding: 30px;
}

.ui-datepicker-calendar td {
  height: 60px;
}

.ui-datepicker-calendar td:hover {
  background: url(/image/cercle.png) no-repeat center/55px 55px;
}

.ui-datepicker-header {
  padding: 50px;
}

.ui-datepicker-next {
  top: 40px;
  right: 10%;
}

.ui-datepicker-prev {
  top: 40px;
  right: 20%;
}

#conditioncheck {
  font: 16px Questrial, sans-serif;
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 9px 0;
  cursor: pointer;
  user-select: none;
}

#conditioncheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#conditioncheck .checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid white;
}

#conditioncheck:hover input ~ .checkmark {
  background-color: #e3d7bf;
}

#conditioncheck .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

#conditioncheck input:checked ~ .checkmark:after {
  display: block;
}

#conditioncheck .checkmark:after {
  left: 6px;
  top: -7px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
