@import 'config';
@import 'pagemenu';

.r-follow-box {
  width: 90%;
  margin: 0 auto;
  .title {
    font: $ffbtn;
    text-align: center;
    text-transform: uppercase;
    color: $main_theme_color;
  }
  .co-any-job {
    font: $ffsentence;
    padding: 10px;
    width: 70%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid $main_theme_color;
    margin-top: 150px;
    text-align: center;
    a {
      font: $ffbtn;
      color: $main_theme_color;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid $main_theme_color;
      &:hover,
      &:active {
        background: $main_theme_color;
        text-decoration: none;
        color: white;
      }
    }
  }
  .rf-box {
    padding: 20px;
    margin-top: 30px;

    .rf-items-title {
      display: flex;
      align-items: center;
      a {
        font: $ffbtn;
        font-size: 20px;
        color: $main_theme_color;
        &:hover {
          color: #d6b46ae3;
        }
      }
      img {
        width: 30px;
        height: 30px;
        margin-right: 25px;
      }
    }
    .rf-items-flex {
      display: flex;
      //   margin-left: 50px;

      .timeline {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .number {
          background-color: $secondary_element_color;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font: 600 14px roboto, sans-serif;
          border-radius: 50%;
          color: white;
          &.color {
            background-color: $main_theme_color;
          }
        }
        .line {
          //   width: 70px;
          content: ' ';
          align-self: center;
          height: 2px;
          background-color: $secondary_element_color;
          &.color {
            background-color: $main_theme_color;
          }
        }
        .content {
          font: $ffbtn;
          text-align: center;
          font-size: 12px;
          position: absolute;
          left: -20px;
        }
        .content2 {
          left: -10px;
        }
      }
    }
  }
}
