/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  font-family: 'Questrial', sans-serif;
  margin: 0;
  line-height: 1.5;
}

.content{
	margin: 15px;
}

.main-title{
	font-size: 25px;
	color: #D6B36A;
	text-align: center;
	margin-bottom: 50px;
}

.recrutement{
	width: 100%;
	height: 250px;
	border: 1px solid #D6B36A;
	padding: 15px;
}

.recrutement h4{
	padding-top: 20px;
	margin-bottom: 50px;
}

.btn-edit{
	display: block;
	margin: auto;
	width: 200px;
	height: 50px;
	background: #D6B36A;
	color: #fff;
	padding: 15px;
	font-size: 14px;
	text-align: center;
}

.btn-edit:hover{
	border: 1px solid #D6B36A;
	text-decoration: none;
	background: none;
	color: #D6B36A;
}

	

	.refused{
		position: relative;
		bottom:70px;
		width: auto;
	}



	.refused-image{
		display: block;
		margin: auto;
	}

	.offre-items{
		display: block;
		margin: auto;
		border: 2px solid #D6B36A;
		padding: 10px;
		margin-bottom: 50px;
		max-width: 300px;
		font-size: 14px;
		height: 400px;
	}
	.photo_ako{
		width: 200px;
		height: 200px;
		border-radius: 200px;
	}

	.container-flex{
		display: block;
		margin: auto;
		justify-content: center;
	}

	.job-name{
		font-size: 18px;
		font-weight: bold;
	}

	

	.etape{
		color: #000;
	}

	.etape:hover{
		color: #000;
		text-decoration: none;
	}



	.etape1{
		position: relative;
		bottom: 40px;
		display: block;
		border: 1px solid #D6B36A;
		width: 100%;
		height: 10px;
		background: no-repeat right 250px center url(/image/orange.png);
		background-size: 500px;
		border-radius:10px;
		clear: both;
	}

	.etape2{
		position: relative;
		bottom: 40px;
		display: block;
		border: 1px solid #D6B36A;
		width: 100%;
		height: 10px;
		background: no-repeat right 200px center url(/image/orange.png);
		border-radius:10px;
		clear: both;
	}

	.etape3{
		position: relative;
		bottom: 40px;
		display: block;
		border: 1px solid #D6B36A;
		width: 100%;
		height: 10px;
		background: no-repeat right 0px center url(/image/orange.png);
		border-radius:10px;
		clear: both;
	}

	.etape4{
		position: relative;
		bottom: 40px;
		display: block;
		border: 1px solid #D6B36A;
		width: 100%;
		height: 10px;
		background: no-repeat right 105px center url(/image/orange.png);
		border-radius:10px;
		clear: both;
	}


	.post-title{
		display: block;
		margin-top: 30px;
		width: 100%;
	}



	.job-info{
		display: block;
		margin-bottom: 80px;
	}

@media only screen and (min-width: 900px){
	.content{
		display: flex;
	}
	
	.offre-content{
		display: flex;
		flex-wrap: wrap;
	}
	.left_link{
		margin-top: 20px;
		padding-right: 2px;
		border-right: 1px solid #D6B36A;
	}

	.offre-items{
		width: 500px;
	}

	.main{
		width: 100%;

	}

	.recrutement-content{
		padding: 10% 0;
	}

	.recrutement{
		display: block;
		margin: auto;
		width: 450px;
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}

	.container-flex{
		display: flex;
		flex-wrap: wrap;
		grid-column-gap: 3%;
		width: 100%;
	}

	.main-title{
		font-size: 30px;
		margin-top: 50px;
		margin-bottom: 100px;
	}
}
