/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html{
  font-size: 18px;
}

body{
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.content{
  margin: 15px;
}


.date{
  color: #D6B36A;
  margin-left: 5px;
}

.left_link{
  height: 100%;
}

.seacrh-drop{
  display: block;
  margin: auto;
  width:100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  background: no-repeat right 10px center url(/image/dropdown.png);
  background-size: 20px;
  background-color: #F0F2F4;
  color: #000;
}

.btn-recherche{
  display: block;
  margin: auto;
  width: 100%;
  height: 39px;
  border: 1px solid #D6B36A;
  background: none;
  color: #D6B36A;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 29px;
}

.btn-recherche:hover{
  background: #D6B36A;
  color: #fff;
  text-decoration: none;
}

.add-img-favorite{
  background-color: #b7bdc3ed;
}

.job_info_title{
  color: #D6B36A;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.post_info{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.logo img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.job_info p{
  font-size: 18px;
  line-height: 2.5;
}

.indic{
  position: relative;
  margin-right: 10px;
  top: 5px;
}

.btn-voir{
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #D6B36A;
  background: none;
  width: 105px;
  height: 40px;
  color: #D6B36A;
  padding: 8px;
  font-size: 16px;
}

.btn-voir:hover{
  background: #D6B36A;
  color: #ffff;
  text-decoration:none;
}

.action{
  margin-top: 70px;
  margin-bottom: 50px;
}

.post_info_content{
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.main{
  padding: 20px;
}

.next-page{
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.next-page a{
  color: #D6B36A;
}

.crochet{
  font-size: 23px;
}

.all-content{
  display: flex;
  margin-top: 10px;
}

.hidden { display: none; }
.readmore { margin: 0 5px;cursor: pointer; color: #000; text-decoration: none;cursor: default; pointer-events: none;text-decoration: none; col}
  @media only screen and (min-width: 900px){


.next-page{
  text-align: right;
}

  .no-flex{
    clear: both;
  }

  .seacrh-drop{
    display: inline;
    width: 100%;
    padding-right: 30px;
  }

  .post_info_content{
    display: flex;
    height: auto;
  }

  .logo{
    width: 20%;
    height: auto;
  }

  .job_info{
    width: 60%;
    padding-left: 40px;
  }

  .action{
    position: relative;
    padding-right: 15px;
    width: 20%;
    float: left;
    top: 30%;
  }



  .logo{
    padding: 10px;
  }

  .logo img{
    position: relative;
    width: 100%;
    height: 200px;
    top: 15px;
  }


  .btn-voir{
    float: right;
  }

  .add-favorite {
    background-color: #000;
  }

  .add-favorite img{
    background: #fff;
  }

  .main{
    border-left: 1px solid #D6B36A;
    padding-left: 15px;
    margin-top: 12px;
  }

.action img{
  position: absolute;
  float: right;
  top: -65px;
  right: 15px;
}


.seach-bar{
  display: flex;
  position: relative;
  margin-bottom: 30px;
  grid-column-gap: 2%;
}

.bar-long{
  width: 60%;
}

.bar-long select{
  width: 100%;
}

.bar-court{
  width: 25%;
}

.btn-find{
  width: 20%;
}



}

@media only screen and (min-width: 1024px){
  .post_info{
    clear: both;
  }

  .logo{
    width: 25%;
  }

  .job_info{
    width: 55%;
  }

  .action{
    width: 20%;
    position: relative;
  }

  .main{
    margin-top: 14px;
    padding-right: 60px;
    width: 100%;
  }

}
