@import 'config';
@import 'pagemenu';

.select-cadre-box {
  width: 95%;
  margin: 0 auto;

  #send-data-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .co-input {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: center;

      select {
        font: $ffsentence;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: center;
        border: none;
        width: 100%;
        padding: 10px 5px;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: $secondary_element_color url('/image/dropdown.png') no-repeat right 1rem center/17px 15px;
        padding-right: 33px;

        option {
          text-align: -webkit-center;
          text-align: -moz-center;
          text-align: center;
          -moz-text-align-last: center;
          -ms-text-align-last: center;
          text-align-last: center;
        }

        &:focus {
          border-radius: none;
          outline: 1px solid $main_theme_color;
          box-shadow: 1px 1px 5px 1px $main_theme_color;
        }
      }
    }

    .td-button {
      input {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $main_theme_color;
        padding: 10px 20px;
        background: white;
        // margin: 10px auto;
        text-transform: uppercase;
        font: $ffbtn;
        font-size: 15px;
        color: $main_theme_color;
        cursor: pointer;

        &:hover,
        &:active {
          background: $main_theme_color;
          color: white;
        }
      }
    }
  }

  .select-cadre-list {
    width: 95%;
    margin: 30px auto;

    .flex-candidates {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: $select_color;
      padding: 10px 30px;
      margin: 30px 0;

      .js-candidates-list {
        margin: 20px 0;
        width: 80px;
        height: 108px;
        border: 2px solid $main_theme_color;

        &[data-info='false'] {
          border: none;
        }

        img {
          width: 82px;
          height: 110px;
          object-fit: cover;
        }
      }

      .validation {
        margin: 20px 0;
        height: 46px;
        align-self: flex-end;

        .submit-validation {
          align-self: flex-end;

          #boutton-bottom {
            padding: 10px 20px;
            color: $main_theme_color;
            background: transparent;
            font: $ffbtn;
            border: 2px solid $main_theme_color;

            &:hover,
            &:active {
              background-color: $main_theme_color;
              color: white;
            }
          }
        }
      }
    }

    .select-cadre-list-items {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;

      .cadre-box {
        margin: 30px 10px;
        // height: 460px;
        position: relative;
        overflow: hidden;

        .cadre-box-image {
          position: relative;

          .cbi-photo {
            width: 100%;

            img,
            .c {
              width: 100%;
              background-repeat: no-repeat;
            }
          }

          .icone {
            position: absolute;
            cursor: pointer;
            text-align: left;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-top: 67px solid $main_theme_color;
            border-left: 70px solid transparent;

            img {
              position: absolute;
              top: -58px;
              right: 7px;
              width: 30px;
            }
          }
        }

        .cadre-box-info {
          width: 100%;
          background: white;
          text-align: -webkit-center;
          text-align: -moz-center;
          text-align: center;
          padding: 5px 0;
          font: $ffsentence;

          p {
            span {
              color: $main_theme_color;
            }
          }

          .name {
            text-transform: uppercase;
            font: $ffbtn;
          }
        }
      }
    }
  }
}