@import 'config';
@import 'pagemenu';

.select-cadre-box {
  width: 95%;
  margin: 0 auto;
  tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    td {
      border: none;
    }
    .td-button {
      border: 2px solid $main_theme_color;
      padding: 10px 20px;
      text-transform: uppercase;
      font: $ffbtn;
      color: $main_theme_color;
      cursor: pointer;
    }
  }
  .select-cadre-list {
    width: 95%;
    margin: 30px auto;
    .flex-candidates {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: $select_color;
      padding: 10px 30px;
      margin: 30px 0;
      .js-candidates-list {
        margin: 20px 0;
        width: 80px;
        height: 108px;
        border: 2px solid $main_theme_color;
        &[data-info='false'] {
          border: none;
        }
        img {
          width: 82px;
          height: 110px;
        }
      }
      .validation {
        margin: 20px 0;
        height: 46px;
        align-self: flex-end;
        .submit-validation {
          align-self: flex-end;
          #boutton-bottom {
            padding: 10px 20px;
            color: #d6b36a;
            background: transparent;
            font: $ffbtn;
            border: 2px solid #d6b36a;
            &:hover,
            &:active {
              background-color: $main_theme_color;
              color: white;
            }
          }
        }
      }
    }
    .select-cadre-list-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .cadre-box {
        margin: 30px 0;
        height: 430px;
        position: relative;
        .cadre-box-image {
          position: relative;
          .cbi-photo {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .icone {
            position: absolute;
            cursor: pointer;
            top: 12px;
            right: 12px;
            width: 30px;
            img {
              width: 100%;
            }
          }
        }
        .cadre-box-info {
          width: 100%;
          background: white;
          text-align: center;
          padding: 5px 0;
          font: $ffsentence;
          p {
            span {
              color: $main_theme_color;
            }
          }
          .name {
            text-transform: uppercase;
            font: $ffbtn;
          }
        }
      }
    }
  }
}
