.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
  border-left: 1px solid #d6b36a;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.select-cadre-box {
  width: 95%;
  margin: 0 auto;
}

.select-cadre-box #send-data-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select-cadre-box #send-data-form .co-input {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.select-cadre-box #send-data-form .co-input select {
  font: 16px Questrial, sans-serif;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  border: none;
  width: 100%;
  padding: 10px 5px;
  border-radius: 0;
  appearance: none;
  background: #f0f2f4 url("/image/dropdown.png") no-repeat right 1rem center/17px 15px;
  padding-right: 33px;
}

.select-cadre-box #send-data-form .co-input select option {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  -ms-text-align-last: center;
  text-align-last: center;
}

.select-cadre-box #send-data-form .co-input select:focus {
  border-radius: none;
  outline: 1px solid #d6b36a;
  box-shadow: 1px 1px 5px 1px #d6b36a;
}

.select-cadre-box #send-data-form .hide-right {
  position: relative;
}

.select-cadre-box #send-data-form .hide-right::before {
  content: ' ';
  position: absolute;
  right: 0;
  background: #f0f2f4;
  width: 14px;
  height: 100%;
}

.select-cadre-box #send-data-form .td-button input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d6b36a;
  padding: 10px 20px;
  background: white;
  text-transform: uppercase;
  font: 500 18px Raleway, sans-serif;
  font-size: 15px;
  color: #d6b36a;
  cursor: pointer;
}

.select-cadre-box #send-data-form .td-button input:hover, .select-cadre-box #send-data-form .td-button input:active {
  background: #d6b36a;
  color: white;
}

.select-cadre-box .select-cadre-list {
  width: 95%;
  margin: 30px auto;
}

.select-cadre-box .select-cadre-list .flex-candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f3f7fb;
  padding: 10px 30px;
  margin: 30px 0;
}

.select-cadre-box .select-cadre-list .flex-candidates .js-candidates-list {
  margin: 20px 0;
  width: 80px;
  height: 108px;
  border: 2px solid #d6b36a;
}

.select-cadre-box .select-cadre-list .flex-candidates .js-candidates-list[data-info='false'] {
  border: none;
}

.select-cadre-box .select-cadre-list .flex-candidates .js-candidates-list img {
  width: 82px;
  height: 110px;
}

.select-cadre-box .select-cadre-list .flex-candidates .validation {
  margin: 20px 0;
  height: 46px;
  align-self: flex-end;
}

.select-cadre-box .select-cadre-list .flex-candidates .validation .submit-validation {
  align-self: flex-end;
}

.select-cadre-box .select-cadre-list .flex-candidates .validation .submit-validation #boutton-bottom {
  padding: 10px 20px;
  color: #d6b36a;
  background: transparent;
  font: 500 18px Raleway, sans-serif;
  border: 2px solid #d6b36a;
}

.select-cadre-box .select-cadre-list .flex-candidates .validation .submit-validation #boutton-bottom:hover, .select-cadre-box .select-cadre-list .flex-candidates .validation .submit-validation #boutton-bottom:active {
  background-color: #d6b36a;
  color: white;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box {
  margin: 30px 0;
  height: 460px;
  position: relative;
  overflow: hidden;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-image {
  position: relative;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-image .cbi-photo {
  width: 100%;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-image .cbi-photo img,
.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-image .cbi-photo .c {
  width: 100%;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-image .icone {
  position: absolute;
  cursor: pointer;
  text-align: left;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 67px solid #d6b36a;
  border-left: 70px solid transparent;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-image .icone img {
  position: absolute;
  top: -58px;
  right: 7px;
  width: 30px;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-info {
  width: 100%;
  background: white;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  padding: 5px 0;
  font: 16px Questrial, sans-serif;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-info p span {
  color: #d6b36a;
}

.select-cadre-box .select-cadre-list .select-cadre-list-items .cadre-box .cadre-box-info .name {
  text-transform: uppercase;
  font: 500 18px Raleway, sans-serif;
}
