@import 'config';
@import 'pagemenu';

.selection-box {
  width: 90%;
  margin: 0 auto;
  font: $ffsentence;
  .title {
    font: $ffbtn;
    text-align: center;
    text-transform: uppercase;
    color: $main_theme_color;
  }
  .empty {
    margin: 30px;
  }
  .select-cadre-list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cadre-box {
      margin: 30px 0;
      height: 430px;
      position: relative;
      overflow: hidden;
      .cadre-box-image {
        position: relative;
        .cbi-photo {
          width: 100%;
          img,
          .c {
            width: 100%;
          }
        }
        .icone {
          position: absolute;
          cursor: pointer;
          text-align: left;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 67px solid $main_theme_color;
          border-left: 70px solid transparent;
          img {
            position: absolute;
            top: -58px;
            right: 7px;
            width: 30px;
          }
        }
      }
      .cadre-box-info {
        width: 100%;
        background: white;
        text-align: center;
        padding: 5px 0;
        font: $ffsentence;
        p {
          span {
            color: $main_theme_color;
          }
        }
        .name {
          text-transform: uppercase;
          font: $ffbtn;
        }
      }
    }
  }
}
