.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.ui-datepicker {
  font: 500 18px Raleway, sans-serif;
  background-color: #e3d7bf;
}

.ui-datepicker thead {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-calendar td {
  cursor: pointer;
  border-radius: 50%;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  height: 60px;
}

.ui-datepicker-calendar .ui-state-disabled {
  cursor: default;
  background: none;
  opacity: 0.4;
}

.ui-datepicker-calendar .ui-state-disabled:hover {
  background: none;
}

.ui-datepicker-header {
  padding-bottom: 10px;
  color: white;
}

.ui-datepicker .ui-datepicker-prev {
  text-indent: -900000px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  background: url(/image/left.png) no-repeat center/15px 20px;
  border: 2px solid white;
  border-radius: 8px;
  position: absolute;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-datepicker .ui-datepicker-next {
  text-indent: -900000px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid white;
  background: url(/image/right.png) no-repeat center/15px 20px;
}

.ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-next:active {
  box-shadow: 1px 1px 5px 1px #f0f2f4;
}

.ui-widget-content .ui-state-default {
  border: 0px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  text-decoration: none;
  color: white;
}

.ui-widget-content .ui-state-active {
  border: 0px;
}

.ssc-box {
  width: 95%;
  margin: 0 auto;
}

.ssc-box .ssc-btn {
  width: 250px;
  margin: 0 auto;
  border-radius: 0;
  padding: 10px 0;
  background: transparent;
  border: 2px solid #d6b36a;
}

.ssc-box .ssc-btn a {
  padding: 10px 43px;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
  text-transform: uppercase;
  text-decoration: none;
}

.ssc-box .ssc-btn#ssc-btn2 a {
  padding: 10px 30px;
}

.ssc-box .ssc-btn:hover, .ssc-box .ssc-btn:active {
  background: #d6b36a;
}

.ssc-box .ssc-btn:hover a, .ssc-box .ssc-btn:active a {
  color: white;
}

.ssc-box .ssc-all-infos {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.ssc-box .ssc-all-infos .ssc-infos {
  font: 16px Questrial, sans-serif;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.ssc-box .ssc-all-infos .ssc-infos .image img,
.ssc-box .ssc-all-infos .ssc-infos .image .c {
  height: 300px;
}

.ssc-box .ssc-all-infos .ssc-infos .infos {
  margin: 15px 0;
}

.ssc-box .ssc-all-infos .ssc-infos .infos .name {
  text-transform: capitalize;
}

.ssc-box .ssc-all-infos .ssc-infos .infos p {
  margin: 0;
}

.ssc-box .ssc-all-infos .ssc-infos .infos span {
  color: #d6b36a;
}

.ssc-box .ssc-all-infos .ssc-infos .infos .local {
  margin: 25px 0;
}

.ssc-box .ssc-all-infos .ssc-question {
  padding: 20px;
  text-align: justify;
  background: #f0f2f4;
}

.ssc-box .ssc-all-infos .ssc-question .title {
  margin-bottom: 10px;
  color: #d6b36a;
  font-size: 20px;
}

.ssc-box .ssc-all-infos .ssc-question .questionnaire-title {
  font: 500 18px Raleway, sans-serif;
  font-size: 20px;
}

.ssc-box .ssc-rest {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ssc-box .ssc-rest .ssc-rest-btn {
  position: relative;
  padding: 20px 0;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.ssc-box .ssc-rest .ssc-rest-btn .ssc-message a {
  padding: 10px 67px;
}

.ssc-box .ssc-rest .ssc-rest-btn .ssc-pe {
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 0;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
}

.ssc-box .ssc-rest .ssc-rest-btn .ssc-pe:hover, .ssc-box .ssc-rest .ssc-rest-btn .ssc-pe:active {
  color: white;
}

.ssc-box .ssc-rest .ssc-rest-btn .ssc-invite {
  color: white;
  background: #d6b36a;
}

.ssc-box .ssc-rest .ssc-oiam {
  background: #f0f2f4;
  padding: 20px;
  text-align: justify;
}

.ssc-box .ssc-rest .ssc-oiam h5 {
  font: 500 18px Raleway, sans-serif;
  font-size: 20px;
}

.ssc-box .ssc-planification {
  position: relative;
  margin-top: -90px;
  margin-bottom: 90px;
  z-index: 200;
}

.ssc-box .ssc-planification .date {
  opacity: 0;
}

.ssc-box .ssc-planification .date input {
  top: -3px;
  border-radius: 0;
  font-size: 0.002px;
  position: absolute;
}

.ssc-box .ssc-planification .js-timeContainer {
  padding: 30px;
  padding-bottom: 15px;
  background: #e3d7bf;
  color: white;
  font: 500 18px Raleway, sans-serif;
}

.ssc-box .ssc-planification .js-timeContainer h4 {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.ssc-box .ssc-planification .js-timeContainer .fselect {
  width: 95%;
  margin: 0 auto;
}

.ssc-box .ssc-planification .js-timeContainer .fselect #reditDate {
  cursor: pointer;
}

.ssc-box .ssc-planification .js-timeContainer .fselect .firstSelection {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.ssc-box .ssc-planification .js-timeContainer .fselect .js-hoursTime {
  padding: 5px;
  background: transparent;
  border: 2px solid #fff;
  width: 86px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  cursor: pointer;
}

.ssc-box .ssc-planification .js-timeContainer .fselect .js-hoursTime:hover, .ssc-box .ssc-planification .js-timeContainer .fselect .js-hoursTime:active {
  background: white;
  color: #e3d7bf;
}

.ssc-box .ssc-planification .with-input {
  align-items: center;
  display: flex;
}

.ssc-box .ssc-planification .with-input .with-input-item {
  border-radius: 0;
  outline: none;
  box-shadow: none;
  padding: 2px;
  margin-left: 10px;
  margin-top: -9px;
  padding-left: 5px;
  border: none;
  background: #f0f2f4;
}

.ssc-box .ssc-planification .with-input .with-input-item:focus {
  outline: 1px solid white;
  box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
}

.ssc-box .ssc-planification .planQ-btn {
  text-align: right;
}

.ssc-box .ssc-planification .planQ-btn input {
  font: 500 18px Raleway, sans-serif;
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  color: white;
  padding: 10px 30px;
}

.ssc-box .ssc-planification .planQ-btn input:hover, .ssc-box .ssc-planification .planQ-btn input:active {
  background: white;
  color: #e3d7bf;
}

.ssc-box .ssc-planification .ssc-send {
  color: white;
  background: #e3d7bf;
  font: 16px Questrial, sans-serif;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  padding: 30px;
  margin-top: 11px;
}

.ssc-box .ssc-planification .ssc-send img {
  width: 40px;
  height: 48px;
  margin: 10px 0;
}

.ssc-box .ssc-planification .ssc-send .datetime {
  background: white;
  width: 90%;
  margin: 30px auto;
  color: #e3d7bf;
  font: 500 18px Raleway, sans-serif;
  padding: 20px;
}

.ssc-box .ssc-planification .ssc-send a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.ssc-box .ssc-planification .ssc-send .ssc-send-btn {
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 30px;
  font: 500 18px Raleway, sans-serif;
  width: 150px;
  margin-top: 30px;
  margin-left: auto;
}

.ssc-box .ssc-planification .ssc-send .ssc-send-btn:hover, .ssc-box .ssc-planification .ssc-send .ssc-send-btn:active {
  background: white;
  color: #e3d7bf;
}

@media screen and (min-width: 320px) {
  #ui-datepicker-div {
    width: 95%;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  #ui-datepicker-div {
    width: 82%;
    color: white;
  }
}

@media screen and (min-width: 998px) {
  #ui-datepicker-div {
    width: 600px;
  }
}

.ui-datepicker-calendar {
  padding: 30px;
}

.ui-datepicker-calendar td {
  height: 60px;
}

.ui-datepicker-calendar td:hover {
  background: url(/image/cercle.png) no-repeat center/55px 55px;
}

.ui-datepicker-header {
  padding: 50px;
}

.ui-datepicker-next {
  top: 40px;
  right: 10%;
}

.ui-datepicker-prev {
  top: 40px;
  right: 20%;
}

#conditioncheck {
  font: 16px Questrial, sans-serif;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

#conditioncheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#conditioncheck .checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid white;
}

#conditioncheck:hover input ~ .checkmark {
  background-color: #e3d7bf;
}

#conditioncheck .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

#conditioncheck input:checked ~ .checkmark:after {
  display: block;
}

#conditioncheck .checkmark:after {
  left: 6px;
  top: -7px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
