/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Questrial", sans-serif;
  margin: 0;
  line-height: 1.5;
}

.btn-info {
  background: #d6b36a;
  padding: 35px;
  text-align: center;
  font-size: 20px;
  height: 100px;
}

.btn-info:hover {
  background: #d6b36a;
}

.content {
  margin: 15px;
}

.pdp_mandona {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.mak-bold {
  font-weight: bold;
  font-size: 20px;
}

.container-flex {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}

.list-etapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 120px;
  padding: 5px;
  margin-left: 10px;
  margin-top: -5px;
  height: 80px;
  z-index: 1;
}

.badge-success {
  font-size: 55px;
}

.job-info {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.job-info h3 {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 50px;
}

.job-info-link:hover {
  color: #000;
}

.badge-success {
  width: 36px;
  height: 36px;
  color: #fff;
  background: #d6b36a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  padding-top: 5px;
  order: -1;
}

.badge-wait {
  width: 36px;
  height: 36px;
  color: #fff;
  background: #f0f2f4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  padding-top: 5px;
  order: -1;
  z-index: 1;
}

.text {
  text-align: center;
  font-size: 16px;
  z-index: 1;
}

.entretien1 {
  position: relative;
}

.entretien1::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 120px;
  height: 3px;
  background-color: #f0f2f4;
  z-index: -1;
}

.promesse1 {
  position: relative;
}

.promesse1::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 120px;
  height: 3px;
  background-color: #d6b36a;
  z-index: -1;
}

.etapes1 {
  position: relative;
}

.etapes1::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: -10px;
  display: block;
  margin: auto;
  width: 250px;
  height: 3px;
  background-color: #f0f2f4;
  z-index: -1;
}

.etapes2 {
  position: relative;
}

.etapes2::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: -20px;
  display: block;
  margin: auto;
  width: 255px;
  height: 3px;
  background: no-repeat right 100px center url(/image/orange.png);
  background-color: #f0f2f4;
  z-index: -2;
}

.etapes3 {
  position: relative;
}

.etapes3::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: -10px;
  display: block;
  margin: auto;
  width: 260px;
  height: 3px;
  background: no-repeat right 0 center url(/image/orange.png);
  background-color: #f0f2f4;
  z-index: -2;
}

.last-etapes1 {
  position: relative;
}

.last-etapes1::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: 0px;
  display: block;
  margin: auto;
  width: 400px;
  height: 3px;
  background-color: #f0f2f4;
  z-index: -2;
}

.last-etapes2 {
  position: relative;
}

.last-etapes2::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: 0px;
  display: block;
  margin: auto;
  width: 390px;
  height: 3px;
  background: no-repeat right 250px center url(/image/orange.png);
  background-color: #f0f2f4;
  z-index: -2;
}

.last-etapes3 {
  position: relative;
}

.last-etapes3::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: 0px;
  display: block;
  margin: auto;
  width: 365px;
  height: 3px;
  background: no-repeat right 100px center url(/image/orange.png);
  background-color: #f0f2f4;
  z-index: -2;
}

.last-etape {
  position: relative;
}

.last-etape::after {
  content: "";
  position: absolute;
  top: 18%;
  right: 0;
  left: 0px;
  display: block;
  margin: auto;
  width: 390px;
  height: 3px;
  background: no-repeat right 0px center url(/image/orange.png);
  background-color: #f0f2f4;
  z-index: -2;
}

.proposition-entretien {
  position: relative;
  background: #d6b36a;
  width: 100%;
  height: auto;
  padding: 50px;
}

.new-proposition {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.give-answer {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  padding: 12px;
  margin: 10px auto;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.give-answer:hover {
  color: #d6b36a;
  background: #fff;
  text-decoration: none;
}

.entretien-hours {
  color: #fff;
  font-size: 16px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  margin-top: 20px;
}

.hours-entretien-info {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 8%;
  justify-content: center;
}

.entretien-days-left {
  width: 62px;
  text-align: center;
}

.entretien-info {
  text-align: center;
  margin-bottom: 15px;
}

.days-number {
  font-size: 40px;
}

.days-letter {
  font-size: 14px;
}

.entretien-accepted {
  font-size: 16px;
  color: #d6b36a;
  margin-top: 30px;
  text-align: center;
  height: 30px;
  background: #fff;
  padding: 3px;
}

.rencontred {
  border: 2px solid #d6b36a;
  display: block;
  margin: auto;
  text-align: center;
  padding: 20px;
  width: 450px;
  height: auto;
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

.contact-recruteur {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.contact-recruteur-img {
  text-align: center;
  width: 120px;
}

.contact-recruteur-img img {
  display: block;
  margin: auto;
}

.contact-recruteur-img a {
  font-size: 16px;
  color: #d6b36a;
}

.candidat-refuse-entretien {
  display: block;
  margin: auto;
  border: 1px solid #d6b36a;
  width: 500px;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.entretien-passer {
  margin-bottom: 5px;
}

.new-proposition-date {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.motif-refused {
  text-transform: capitalize;
}

.felicitations {
  display: block;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  height: auto;
  border: 1px solid #d6b36a;
  padding: 20px;
}

.btn-open {
  background: #d6b36a;
  color: #fff;
  padding: 11px;
  border-radius: 0;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn-open:hover {
  background: none;
  border: 1px solid #d6b36a;
  color: #d6b36a;
}

.btn-invalid {
  background-color: #d6b36a;
  width: auto;
  height: auto;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0;
  margin-top: 20px;
  cursor: not-allowed;
  opacity: 0.7;
}

.btn-valid {
  background-color: #d6b36a;
  width: auto;
  height: auto;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0;
  margin-bottom: 40px;
  cursor: pointer;
}

.btn-valid:hover {
  color: #d6b36a;
  border: 1px solid #d6b36a;
  background-color: #fff;
  text-decoration: none;
}

.prime h2 {
  margin-bottom: 40px;
}

.btn-invalid:hover {
  color: #fff;
}

@media only screen and (min-width: 900px) {
  .content {
    display: flex;
  }

  .main {
    border-left: 1px solid #d6b36a;
    padding-left: 10px;
  }

  #container-element {
    position: relative;
    left: 0;
    width: 100%;
  }

  .left_link {
    margin-top: 20px;
    padding-right: 2px;
    border-right: 1px solid #d6b36a;
  }

  .main {
    display: block;
    margin: 15px auto;
    width: 100%;
  }

  .prime {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 270px;
    text-align: center;
    border: 1px solid #d6b36a;
    padding: 30px;
    margin-bottom: 50px;
  }

  .btn-recevoir {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: #d6b36a;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
  }

  .btn-recevoir:hover {
    color: #d6b36a;
    border: 1px solid #d6b36a;
    background-color: #fff;
    text-decoration: none;
  }

  .promese-emb {
    display: block;
    margin: 0 auto;
    width: 600px;
  }

  .promeser-emb-content {
    display: flex;
    grid-column-gap: 15%;
    width: 100%;
    justify-content: center;
  }

  .promese-label {
    width: 225px;
  }

  .promese-file {
    width: 225px;
  }

  .prom-hire {
    display: flex;
    justify-content: center;
    grid-column-gap: 23%;
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .prom-hire-down a {
    width: 250px;
    height: 50px;
    font-size: 16px;
    padding: 20px;
    color: #d6b36a;
    border: 1px solid #d6b36a;
    border-radius: 0;
  }

  .prom-hire-down a:hover {
    background-color: #d6b36a;
    color: #fff;
    border: 1px solid #d6b36a;
    text-decoration: none;
  }

  .btn-prom {
    color: #000;
    position: relative;
    top: -16px;
    font-size: 16px;
  }

  .btn-prom:hover {
    color: #000;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1024px) {
  .entretien-hours {
    width: 50%;
  }

  .hours-entretien-info {
    grid-column-gap: 2%;
  }

  .entretien-accepted {
    float: right;
    width: 45%;
    position: relative;
    font-size: 12px;
    padding: 5px;
    top: 40px;
  }

  .entretien-info {
    font-size: 25px;
    font-weight: bold;
  }

  .donne-rep {
    display: block;
    margin: auto;
    width: 50%;
    position: relative;
    float: right;
    height: 100px;
  }

  .give-answer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  .new-proposition-date {
    color: #fff;
    font-size: 18px;
    float: right;
    width: 50%;
    height: 100px;
    position: relative;
    top: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .hours-entretien-info {
    grid-column-gap: 8%;
  }

  .entretien-info {
    font-size: 25px;
    font-weight: bold;
  }

  .entretien-hours {
    width: 45%;
  }

  .entretien-accepted {
    width: 50%;
  }

  .move-me {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
