.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
  border-left: 1px solid #d6b36a;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.show-message-box {
  font: 16px Questrial, sans-serif;
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 700px;
}

.show-message-box .title {
  text-align: center;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.show-message-box .message-m {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
}

.show-message-box .message-m .name {
  background: #d6b36a;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.show-message-box .message-m .clear {
  clear: both;
}

.show-message-box .message-m .input {
  background: #000;
  position: relative;
}

.show-message-box .message-m .input input {
  height: 50px;
  padding: 10px;
  border-radius: 0;
  border: 1.5px solid #d6b36a;
}

.show-message-box .message-m .input input:focus {
  outline: none;
  box-shadow: 1px 1px 3px 1px #d6b36a;
}

.show-message-box .message-m .input button {
  border: none;
  background: transparent;
  position: absolute;
  right: 2px;
  top: 6px;
}

.show-message-box .message-m .input button:focus {
  outline: none;
}

.show-message-box .message-m .content {
  padding: 10px;
  overflow-y: auto;
  transform: rotate(180deg);
  direction: rtl;
  min-height: 100px;
  max-height: 300px;
}

.show-message-box .message-m .content .my-message {
  max-width: 85%;
  margin: 10px 0;
  padding: 5px 10px;
  color: white;
  background: #d6b36a;
  box-shadow: 1px 1px 5px 1px #d6b36a;
  float: right;
  text-align: justify;
  border-radius: 8px;
}

.show-message-box .message-m .content .her-message {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  text-align: justify;
  box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
  background: #f0f2f4;
  float: left;
  margin: 29px 0;
  margin-left: 40px;
  position: relative;
}

.show-message-box .message-m .content .her-message #image {
  box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
  position: absolute;
  align-self: flex-end;
  left: -35px;
  bottom: -40px;
  content: '';
  margin-right: 5px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.show-message-box .message-m .content .her-message #image .connected {
  position: absolute;
  content: '';
  background: #12c712;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  bottom: 0px;
  right: 2px;
}
