@import 'config';
@import 'pagemenu';

.show-message-box {
  font: $ffsentence;
  position: relative;
  width: 90%;
  margin: 0 auto;
  background: white;

  &#real-show-message {
    height: 700px;

    .content {
      height: 550px;
    }
  }

  &#partial-show-message {
    height: 100%;

    .content {
      height: 320px;
    }
  }

  .title {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    font: $ffbtn;
    color: $main_theme_color;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  /////////////////@at-root
  .name-box {
    position: relative;
    background: $main_theme_color;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 20px;
    display: flex;
    font-size: 30px;
    line-height: 1;
    color: white;

    #close-mp {
      cursor: pointer;
      transform: rotate(45deg);
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 45px;
    }

    #image {
      position: relative;
      content: '';
      margin-right: 15px;
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }

    .connected {
      box-shadow: 0px 0px 2px 1px rgb(165, 240, 165);
      position: absolute;
      content: '';
      background: rgb(18, 199, 18);
      border-radius: 50%;
      width: 13px;
      height: 13px;
      bottom: 0;
      right: 8px;
    }

    .notconnected {
      opacity: 0.6;
      font-size: 14px;
    }
  }

  .content {
    background: white;
    border-left: 2px solid $secondary_element_color;
    border-right: 2px solid $secondary_element_color;
    margin-bottom: 5px;
    overflow-y: auto;
    padding: 20px;

    // height: 550px;
    .my-message {
      max-width: 85%;
      margin: 5px 0;
      display: block;
      padding: 5px 10px;
      color: white;
      background: $main_theme_color;
      box-shadow: 1px 1px 5px 1px $main_theme_color;
      float: right;
      text-align: justify;
      border-radius: 8px;
    }

    .her-message {
      padding: 10px;
      border-radius: 8px;
      max-width: 80%;
      text-align: justify;
      box-shadow: $box-shadow;
      background: $secondary_element_color;
      float: left;
      margin: 30px 0;
      margin-left: 40px;
      position: relative;

      #image {
        box-shadow: $box-shadow;
        position: absolute;
        align-self: flex-end;
        left: -35px;
        bottom: -40px;
        content: '';
        margin-right: 5px;
        border-radius: 50%;
        width: 54px;
        height: 54px;
      }
    }

    .clear {
      clear: both;
    }
  }

  .input {
    position: relative;

    textarea,
    input {
      width: 100%;
      min-height: 50px;
      max-height: 130px;
      height: 50px;
      padding: 10px;
      border-radius: 0;
      border: 1.5px solid $main_theme_color;

      &:focus {
        outline: none;
        box-shadow: 1px 1px 3px 1px $main_theme_color;
      }
    }
  }

  button {
    border: none;
    background: transparent;
    position: absolute;
    right: 2px;
    bottom: 6px;

    &:focus {
      outline: none;
    }
  }
}