@import 'config';
@import 'pagemenu';

.show-job-box {
  margin: 0 auto;
  padding: 20px 0;
  .travel-creation {
    margin: 0 auto;
    margin-bottom: 50px;
    .circle {
      background-color: $secondary_element_color;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: 600 16px roboto, sans-serif;
      border-radius: 50%;
      color: white;
    }
    .line {
      content: ' ';
      align-self: center;
      height: 2px;
      background-color: $secondary_element_color;
    }
    .travelc-image {
      display: flex;
    }
    ol {
      margin-top: 10px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      font: $ffbtn;
      font-size: 16px;
    }
    .color-bg {
      background-color: $main_theme_color;
    }
  }
  .show-publication {
    font: $ffsentence;
    .sjb-content {
      .show-einfos {
        margin-bottom: 10px;
        display: flex;
        .logo {
          width: 150px;
          img,.c {
            height: 150px;
            width: 100%;
          }
        }
        .local {
          text-align: center;
          img {
            margin-right: 10px;
            margin-left: -25px;
            width: 18px;
            height: 22px;
          }
          p {
            margin-top: 15px;
          }
        }
      }
      .so-content {
        text-align: center;
        margin: 25px 0;
        &.first-content {
          font: $ffbtn;
          font-size: 20px;
        }
        div {
          background: $secondary_element_color;
          padding: 10px;
        }
        .description {
          text-align: left;
          padding-left: 20px;
        }
        p {
          margin: 5px 0;
        }
      }
    }
    .so-btn {
      margin: 70px auto 20px auto;
      display: flex;
      justify-content: space-evenly;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $main_theme_color;
        border: 2px solid $main_theme_color;
        padding: 10px 20px;
        &:hover {
          background: $main_theme_color;
          color: white;
        }
      }
      .so-btn-btn {
        padding: 10px 40px;
      }
    }
  }
  .show-pb2 {
    font: $ffsentence;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border: 2px solid $main_theme_color;
    padding: 30px;
    img {
      width: 35px;
    }
    .check {
      margin: 35px 0;
    }
    .p-icon {
      margin: 35px 0;
    }
    .show-pb2-btn {
      margin-top: 50px;
      a {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: $main_theme_color;
        border: 2px solid $main_theme_color;
        padding: 10px 20px;
        &:hover {
          background: $main_theme_color;
          color: white;
        }
      }
    }
  }
}
