@import 'config';
@import 'pagemenu';
@import 'datepicker';

.ssc-box {
  width: 95%;
  margin: 0 auto;

  .ssc-btn {
    width: 250px;
    margin: 0 auto;
    border-radius: 0;
    padding: 10px 0;
    background: transparent;
    border: 2px solid $main_theme_color;
    a {
      padding: 10px 43px;
      font: $ffbtn;
      color: $main_theme_color;
      text-transform: uppercase;
      text-decoration: none;
    }
    &#ssc-btn2 {
      a {
        padding: 10px 30px;
      }
    }
    &:hover,
    &:active {
      a {
        color: white;
      }
      background: $main_theme_color;
    }
  }
  .ssc-all-infos {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .ssc-infos {
      font: $ffsentence;
      text-align: center;
      .image {
        img {
          height: 300px;
        }
      }
      .infos {
        margin: 15px 0;
        .name {
          text-transform: capitalize;
        }
        p {
          margin: 0;
        }
        span {
          color: $main_theme_color;
        }
        .local {
          margin: 25px 0;
        }
      }
    }
    .ssc-question {
      padding: 20px;
      //   width: 60%;
      text-align: justify;
      background: $secondary_element_color;
      .title {
        margin-bottom: 10px;
        color: $main_theme_color;
        font-size: 20px;
      }
      .questionnaire-title {
        font: $ffbtn;
        font-size: 20px;
      }
    }
  }
  .ssc-rest {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ssc-rest-btn {
      position: relative;
      padding: 20px 0;
      text-align: center;
      .ssc-message {
        a {
          padding: 10px 67px;
        }
      }
      .ssc-pe {
        cursor: pointer;
        margin-top: 20px;
        padding: 12px 0;
        font: $ffbtn;
        color: $main_theme_color;
        &:hover,
        &:active {
          color: white;
        }
      }

      .ssc-invite {
        color: white;
        background: $main_theme_color;
      }
    }
    .ssc-oiam {
      background: $secondary_element_color;
      padding: 20px;

      text-align: justify;
      h5 {
        font: $ffbtn;
        font-size: 20px;
      }
    }
  }
  // planification entretien
  .ssc-planification {
    margin: 0 auto;
    position: relative;
    margin-top: -90px;
    margin-bottom: 90px;
    width: 80%;
    padding: 0 10%;
    z-index: 200;
    // date validation
    .date {
      opacity: 0;
      input {
        top: -3px;
        border-radius: 0;
        font-size: 0.002px;
        position: absolute;
      }
    }
    // hour validation
    .js-timeContainer {
      padding: 30px;
      padding-bottom: 15px;
      background: $secondary_text_color_button;
      color: white;
      font: $ffbtn;
      h4 {
        text-align: center;
      }
      .fselect {
        width: 95%;
        margin: 0 auto;
        #reditDate {
          cursor: pointer;
        }
        .firstSelection {
          display: flex;
          justify-content: space-between;
          margin: 20px 0;
        }
        .js-hoursTime {
          padding: 5px;
          background: transparent;
          border: 2px solid #fff;
          width: 86px;
          text-align: center;
          cursor: pointer;
          &:hover,
          &:active {
            background: white;
            color: $secondary_text_color_button;
          }
        }
      }
    }
    .with-input {
      align-items: center;
      display: flex;
      .with-input-item {
        border-radius: 0;
        outline: none;
        box-shadow: none;
        padding: 2px;
        margin-left: 10px;
        margin-top: -9px;
        padding-left: 5px;
        border: none;
        background: $secondary_element_color;
        &:focus {
          outline: 1px solid white;
          box-shadow: $box-shadow;
        }
      }
    }
    .planQ-btn {
      text-align: right;
      input {
        font: $ffbtn;
        background: transparent;
        border: 2px solid white;
        border-radius: 0;
        color: white;
        padding: 10px 30px;
        &:hover,
        &:active {
          background: white;
          color: $secondary_text_color_button;
        }
      }
    }
    .ssc-send {
      color: white;
      background: $secondary_text_color_button;
      font: $ffsentence;
      text-align: center;
      padding: 30px;
      margin-top: 11px;
      img {
        width: 40px;
        height: 48px;
        margin: 10px 0;
      }
      .datetime {
        background: white;
        width: 90%;
        margin: 30px auto;
        color: $secondary_text_color_button;
        font: $ffbtn;
        padding: 20px;
      }
      .ssc-send-btn {
        cursor: pointer;
        border: 2px solid white;
        padding: 10px 30px;
        font: $ffbtn;
        width: 150px;
        margin-top: 30px;
        margin-left: auto;
        &:hover,
        &:active {
          background: white;
          color: $secondary_text_color_button;
        }
      }
    }
  }
}
// date picker
#ui-datepicker-div {
  width: 600px;
  color: white;
}
.ui-datepicker {
  &-calendar {
    padding: 30px;
    td {
      height: 60px;

      &:hover {
        background: url(/image/cercle.png) no-repeat center/55px 55px;
      }
    }
  }
  &-header {
    padding: 50px;
  }
  &-next {
    top: 40px;
    right: 10%;
  }
  &-prev {
    top: 40px;
    right: 20%;
  }
}
// check box
#conditioncheck {
  font: $ffsentence;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid white;
  }
  &:hover input ~ .checkmark {
    background-color: $secondary_text_color_button;
  }
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 6px;
    top: -7px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
