.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
  border-left: 1px solid #d6b36a;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.show-message-box {
  font: 16px Questrial, sans-serif;
  position: relative;
  width: 90%;
  margin: 0 auto;
  background: white;
}

.show-message-box#real-show-message {
  height: 700px;
}

.show-message-box#real-show-message .content {
  height: 550px;
}

.show-message-box#partial-show-message {
  height: 100%;
}

.show-message-box#partial-show-message .content {
  height: 320px;
}

.show-message-box .title {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  font: 500 18px Raleway, sans-serif;
  color: #d6b36a;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.show-message-box .name-box {
  position: relative;
  background: #d6b36a;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px 20px;
  display: flex;
  font-size: 30px;
  line-height: 1;
  color: white;
}

.show-message-box .name-box #close-mp {
  cursor: pointer;
  transform: rotate(45deg);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 45px;
}

.show-message-box .name-box #image {
  position: relative;
  content: '';
  margin-right: 15px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.show-message-box .name-box .connected {
  box-shadow: 0px 0px 2px 1px #a5f0a5;
  position: absolute;
  content: '';
  background: #12c712;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  bottom: 0;
  right: 8px;
}

.show-message-box .name-box .notconnected {
  opacity: 0.6;
  font-size: 14px;
}

.show-message-box .content {
  background: white;
  border-left: 2px solid #f0f2f4;
  border-right: 2px solid #f0f2f4;
  margin-bottom: 5px;
  overflow-y: auto;
  padding: 20px;
}

.show-message-box .content .my-message {
  max-width: 85%;
  margin: 5px 0;
  display: block;
  padding: 5px 10px;
  color: white;
  background: #d6b36a;
  box-shadow: 1px 1px 5px 1px #d6b36a;
  float: right;
  text-align: justify;
  border-radius: 8px;
}

.show-message-box .content .her-message {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  text-align: justify;
  box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
  background: #f0f2f4;
  float: left;
  margin: 30px 0;
  margin-left: 40px;
  position: relative;
}

.show-message-box .content .her-message #image {
  box-shadow: 1px 1px 3px 1px rgba(218, 215, 211, 0.63);
  position: absolute;
  align-self: flex-end;
  left: -35px;
  bottom: -40px;
  content: '';
  margin-right: 5px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.show-message-box .content .clear {
  clear: both;
}

.show-message-box .input {
  position: relative;
}

.show-message-box .input textarea,
.show-message-box .input input {
  min-height: 50px;
  max-height: 130px;
  height: 50px;
  padding: 10px;
  border-radius: 0;
  border: 1.5px solid #d6b36a;
}

.show-message-box .input textarea:focus,
.show-message-box .input input:focus {
  outline: none;
  box-shadow: 1px 1px 3px 1px #d6b36a;
}

.show-message-box button {
  border: none;
  background: transparent;
  position: absolute;
  right: 2px;
  bottom: 6px;
}

.show-message-box button:focus {
  outline: none;
}
