.client-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.cp-box {
  width: 100%;
  min-height: 80vh;
  padding-top: 15px;
  border-left: 1px solid #d6b36a;
}

.box-inside {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.rlc-box {
  width: 95%;
  margin: 0 auto;
}

.rlc-box .rlc-empty {
  text-align: center;
  padding: 30px 20px;
  border: 2px solid #d6b36a;
}

.rlc-box .rlc-empty h5 {
  font: 16px Questrial, sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

.rlc-box .rlc-empty .show-pb2-btn a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  font: 550 18px Raleway, sans-serif;
  border-radius: 0;
  padding: 10px 30px;
  border: 2px solid #d6b36a;
  color: #d6b36a;
}

.rlc-box .rlc-empty .show-pb2-btn a:hover, .rlc-box .rlc-empty .show-pb2-btn a:active {
  background: #d6b36a;
  color: white;
}

.rlc-box .rlc-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.rlc-box .rlc-content a {
  text-decoration: none;
}

.rlc-box .rlc-content .rlc-items {
  margin-bottom: 50px;
  border: 2px solid #d6b36a;
  background: white;
  text-align: center;
  width: 300px;
  padding: 10px;
  color: black;
  font: 16px Questrial, sans-serif;
  font-size: 14px;
}

.rlc-box .rlc-content .rlc-items h5 {
  font: 550 18px Raleway, sans-serif;
  margin: 10px 0;
}

.rlc-box .rlc-content .rlc-items img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.rlc-box .rlc-content .rlc-items .refus img {
  width: 35px;
  height: 35px;
}

.rlc-box .rlc-content .rlc-items .loading {
  content: ' ';
  width: 90%;
  height: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f0f2f4;
}

.rlc-box .rlc-content .rlc-items .loading .pre-load {
  content: ' ';
  height: 15px;
  border-radius: 10px;
  background: #d6b36a;
}

.rlc-box .rlc-content .rlc-items:hover, .rlc-box .rlc-content .rlc-items:active {
  background: rgba(255, 255, 255, 0.897);
  box-shadow: 1px 1px 5px 1px #d6b36a;
}

.rlc-box .rlc-content .rlc-items:hover h5, .rlc-box .rlc-content .rlc-items:active h5 {
  color: #d6b36a;
}
