@import 'config';
@import 'pagemenu';

.rlc-box {
  width: 95%;
  margin: 0 auto;
  .rlc-empty {
    text-align: center;
    padding: 30px 20px;
    // width: 50%;
    // margin-top: 90px;
    border: 2px solid $main_theme_color;
    h5 {
      font: $ffsentence;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 20px;
    }
    .show-pb2-btn {
      a {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 20px;
        font: $ffbtn;
        border-radius: 0;
        padding: 10px 30px;
        border: 2px solid $main_theme_color;
        color: $main_theme_color;
        &:hover,
        &:active {
          background: $main_theme_color;
          color: white;
        }
      }
    }
  }
  .rlc-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    a {
      text-decoration: none;
    }
    .rlc-items {
      margin-bottom: 50px;
      border: 2px solid $main_theme_color;
      background: white;
      text-align: center;
      width: 300px;
      padding: 10px;
      color: black;
      font: $ffsentence;
      font-size: 14px;
      h5 {
        font: $ffbtn;
        margin: 10px 0;
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      .refus {
        img {
          width: 35px;
          height: 35px;
        }
      }
      .loading {
        content: ' ';
        width: 90%;
        height: 10px;
        margin: 31px auto;
        border-radius: 10px;
        background: -webkit-linear-gradient(90deg, $main_theme_color 4%, $secondary_element_color 3%);
        background: -o-linear-gradient(90deg, $main_theme_color 4%, $secondary_element_color 3%);
        background: -moz-linear-gradient(90deg, $main_theme_color 4%, $secondary_element_color 3%);
        background: linear-gradient(90deg, $main_theme_color 4%, $secondary_element_color 3%);
        .pre-load {
          content: ' ';
          height: 10px;
          border-radius: 10px;
          background: $main_theme_color;
        }
      }
      &:hover,
      &:active {
        background: rgba(255, 255, 255, 0.897);
        box-shadow: 0.5px 0.5px 3px 0.5px $main_theme_color;
        h5 {
          color: $main_theme_color;
        }
      }
    }
  }
}
