*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
	font-family: 'Questrial', sans-serif;
	margin: 0;

}


.cadre {
	padding: 20px;
	text-align: justify;
	background-color: #E3D7BF;
}

.potential-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#potential-title-show h1 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #D6B36A;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.potential-title h1 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #D6B36A;
	text-align: center;
}

.potential-title img {
	position: relative;
	top: -23px;
	right: -10px;
}


.content {
	position: relative;
	display: flex;
	margin: 0 auto;
	/* width: 100%; */
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.content::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	display: block;
	width: 100%;
	height: 3px;
	background-color: #D6B36A;
	z-index: 1;
}



.numero {
	display: inline-block;
	text-align: center;
	width: 36px;
	height: 36px;
	background-color: #f0f2f4;
	color: #fff;
	border-radius: 30px;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	z-index: 2;
}

.un {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #D6B36A;
}

.deux {
	background-color: #D6B36A;
}

.trois {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #D6B36A;
}

.notice {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 38px;
}

ul {
	list-style: none;
	text-align: center;
	color: #D6B36A;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #D6B36A;
	margin-top: 58px;
	margin-bottom: 0;
}



.potential {
	position: absolute;
	top: 42px;
	left: -20px;
}


.skills {
	position: absolute;
	top: 42px;
	left: 45%;
}

.fit {
	position: absolute;
	top: 42px;
	right: 10px;
}

.numero span {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #000;
	word-break: normal;
}


.pass-test {
	display: block;
	margin: auto;
	max-width: 350px;
	text-align: center;
	margin-top: 82px;
	margin-bottom: 100px;
	border: 1px solid #fff;
	padding: 15px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}


.pass-test:hover {
	background: #fff;
	text-decoration: none;
	color: #e3d7bf;
}


.selected-date {
	background-color: #e3d7bf;
	display: none;
	width: 100%;
}

.js-hours {
	color: #fff;
	font-size: 18px;
	background-color: #e3d7bf;
	border: 1px solid #fff;
	text-align: center;
	padding-top: 15px;
	width: 138px;
	height: 55px;
	margin-left: 38px;
	margin-bottom: 50px;
	cursor: pointer;
}

.main-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

h2 {
	color: #fff;
}

#validate-date-time {
	display: none;
	border: 1px solid #fff;
	background-color: #e3d7bf;
}

.show-default-value-date {
	display: block;
	margin: auto;
	border: 1px solid #fff;
	background-color: #e3d7bf;
	text-align: center;
	max-width: 578px;
	margin-bottom: 50px;
	margin-top: 130px;
}



.date-title {
	margin-bottom: 13px;
	text-transform: capitalize;
	font-size: 18px;
	margin-left: 60px;
}

.validate {
	overflow: hidden;
}

.btn-valider {
	float: right;
	border: 1px solid #fff;
	background: none;
	width: 150px;
	height: 50px;
	color: #ffff;
	font-size: 18px;
	margin-bottom: 50px;
	margin-right: 25px;
}

.btn-valider:hover {
	color: #E3D7BF;
	background: #ffff;
}

.entretien-confirme {
	margin-bottom: 50px;
}

#dateSkype {
	margin-top: 50px;
}

.skype-time {
	color: white;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}

.past-test-menu {
	width: 200px;
	cursor: pointer;
}

@media only screen and (min-width: 320px) {
	.content {
		width: 300px;
	}

	.js-hours {
		margin-right: 38px;
	}
}

@media only screen and (min-width: 500px) {
	.content {
		width: 400px;
	}

	.js-hours {
		margin-right: 0;
	}
}
}


@media only screen and (min-width: 900px) {
	.cadre {
		display: block;
		margin: auto;
		width: 870px;
	}



	.potential-title img {
		right: -30px;
	}

	.potential-title {
		position: relative;
		left: 30px;
	}

	.date-container {
		display: block;
		margin: 0 auto;
		width: 100%
	}

}

@media only screen and (min-width: 1024px) {
	.cadre {
		margin-top: -70px;
		padding-top: 50px;
		padding-left: 57px;
		padding-right: 57px;
	}
}