article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Questrial', sans-serif;
}

.inscription {
  font-size: 30px;
  line-height: 24px;
  color: #d6b36a;
  text-align: center;
  margin: 100px 0 58px 0;
}

.content{
  margin: 15px;
}

.champs {
  position: relative;
  display: block;
  text-align: center;
  padding: 8px;
  margin: auto;
  margin-bottom: 60px;
  width: 100%;
  max-width: 420px;
  height: 40px;
  background: #f0f2f4;
  border: 1px solid #f0f2f4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.dropdown{
  background: no-repeat right 10px center url(/image/dropdown.png);
  background-size: 25px;
  background-color: #f0f2f4;
  text-align: center;
}

.champs:focus{
  outline: 2px solid #d6b36a;
  box-shadow: 1px 1px 5px 1px #d6b36a;
  text-align: center;
}

.ville {
  display: inline-block;
  margin-right: 8px;
  margin-left: auto;
  width: 195px;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
}
#city{
  pointer-events: none;
}

.btnInscrire {
  display: block;
  margin: auto;
  width: 152px;
  height: 50px;
  border: 1px solid #d6b36a;
  background: #ffff;
  font-size: 16px;
  color: #d6b36a;
  padding: 13px;
  margin-bottom: 150px;
  outline: none;
}
.btnInscrire:hover{
  background: #d6b36a;
  color: #fff;
}


.ville-adresse {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 440px;
  height: 57px;
  margin-bottom: 50px;
}

.code_postal{
  width: 50%;
  max-width: 170px;
}

.city{
  width: 50%;
  max-width: 230px;
}


select{
  text-transform: uppercase;
}

.tel-container{
  background: no-repeat left center url(/image/+33.png);
  background-size: 70px;
  background-color: #f0f2f4;
}

.tel-container:onfocus{
  background: no-repeat left center url(/image/+33.png);
  background-size: 70px;
  background-color: #f0f2f4;
}
.input-error-div{
  margin-top: -20px;
  margin-bottom: 30px;
  text-align: center;
}
.input-error{
  color: #ff0000;
  font: 550 13px Raleway, sans-serif;
}
