<link rel="stylesheet" href="/css/admin_tache.css" />
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_dashboard/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<div class="box box1">
				<h4>MES RELANCES CLIENT</h4>
			</div>
		</div>
	</div>
</div>