<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<style>
  .auc {
    margin-top: 20px;
  }

  .title {
    padding-bottom: 20px;
  }

  .eml {
    margin-top: 30px;
  }

  .email {
    border: 2px solid #d6b36a;
    text-transform: uppercase;
    padding: 10px;
  }

</style>
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_dashboard/left_menu_link" %>
  </div>
  <div class="cp-box">
    <div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important;">ABONNÉ AU NEWSLETTER</h3>
  		<% if @subscribers.empty? %>
      <div class="auc">
        Aucun abonné
      </div>
  		<% else %>
			<table class="table">
				<div class="email">
          <h4>Email</h4>
        </div>
			<% @subscribers.each do |subscriber| %>
        <div class="eml">
          <tr>
  					<td><%= subscriber.email %></td>
  				</tr>
        </div>
			<% end %>
			</table>
		<% end %>
	</div>
  </div>
</div>
