<link rel="stylesheet" href="/css/client_profil.css" />
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_dashboard/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<h2>TACHES</h2>
		</div>
	</div>
</div>