<link rel="stylesheet" href="/css/admin_tache.css" />
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_dashboard/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<div class="box box1">
				<a class="box-link" href="<%= admin_dashboard_tache_factures_path %>"><h6>MES FACTURES</h6></a>	
			</div>
			<div class="box box2">
				<a class="box-link" href="<%= admin_dashboard_tache_relances_path %>"><h6>MES RELANCES CLIENT</h6></a>		
			</div>
			<div class="box box3">
				<a class="box-link" href="<%= admin_dashboard_tache_taches_path %>"><h6>MES TÂCHES A FAIRE</h6></a>	
			</div>
		</div>
	</div>
</div>