<link rel="stylesheet" href="/css/admin_admin.css" />
<style>
	.u-box {
		background: #d6b36a;
		color: #fff;
		width: 900px;
		height: 300px;
		margin: 0 auto;
		margin-top: 50px;
	}

	.u-box h3 {
		text-align: center;
		font-size: 14px;
		padding-top: 20px;
	}

	.count {
		width: 500px;
		margin-left: 200px;
		margin-top: 40px;
		text-align: center;
		border-left: 12px solid #fff;
		border-right: 12px solid #fff;
	}

	.counter {
		text-align: center;
		font-size: 150px;
	}

</style>
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_administration/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<h3 class="title" style="color: #d6b36a !important">LES MAILS</h3>

			<!-- -------------------- -->
			<%# MAILS %>
			<div class="u-box u-cad">
			<h3>LES MAILS</h3>
			<div class="count count-cad">
				<h1 class="counter"><%= @mail.count %></h1>
			</div>
			</div>
			<!-- ---------------- -->
			
			
		</div>
	</div>
</div>