<link rel="stylesheet" href="/css/admin_admin.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_administration/left_menu_link" %>
	</div>

	<div class="cp-box">
		<div>
			<h3 class="title" style="color: #d6b36a !important">LES TESTS</h3>

			<!-- -------------------- -->
			<div class="box">
				<div class="box-mess">
					<h6><i class="fas fa-file-alt pin"></i>Vous avez un test le <span class="box-nm">Jeudi 14 aout 2020</span></h6>
				</div>
				<a href="#" class="event-btn">Voir Le Mail</a>
			</div>
			<!-- ---------------- -->
			
		</div>
	</div>
</div>