<h2>Bonjour <%= @resource.cadre_info.first_name %> <%= @resource.cadre_info.last_name %></h2>
<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous informer que votre adresse e-mail est en train d'être modifiée en <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous informer que votre adresse e-mail a été remplacée par <%= @resource.email %>.</p>
<% end %>
