<link rel="stylesheet" href="/css/condition_general.css" />

<div class="content">
  <h2 class="oiam-title">OIAM</h2>
  <h6 class="maj">Mise à jour le 18 septembre 2020</h6>
  <h3 class="step">Introduction</h3>
  <p>
    Les services accessibles depuis le site Internet <a href="https://www.oneinamillion.fr" target="_blank" title="One in a Million">One in a Million</a> et la Plateforme mobile « ONE IN A MILLION », ci-après la « Plateforme » sont proposés par la société EIGHTY EIGHT (ci- après « La Société »), SASU EIGHY EIGHT au capital de 1000 euros, inscrite
    au Registre du commerce et des sociétés de Paris sous le numéro 833831423, dont le siège social est 128 rue de la Boétie, 75008 Paris. Son adresse de courrier électronique est contact@88- recrutement.com.
  </p>
  <p>La présente charte vise à informer les Utilisateurs de la Plateforme des engagements de la Société eu égard au respect de leur vie privée et à la protection des Données Personnelles.</p>
  <p>Conformément à la Loi Informatique et libertés du 6 janvier 1978, sont considérées comme des Données Personnelles, « toutes informations relatives à une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres ».</p>
  <p>
    Conformément au Décret n° 2019-341 du 19 avril 2019 relatif à la mise en œuvre de traitements comportant l’usage du numéro d’inscription au répertoire national d’identification des personnes physiques ou nécessitant la consultation de ce répertoire, la Société est habilitée à récolter ce type d’information et le numéro de Sécurité sociale du
    Candidat pour ainsi vérifier l’identité de ce dernier faisant l’objet de la déclaration préalable à l’embauche.
  </p>
  <p>En s’inscrivant sur la Plateforme, l’Utilisateur s’engage à fournir à la Société des informations véritables le concernant.</p>
  <p>L'Utilisateur s'engage à fournir des informations sincères, exactes, à jour et complètes sur son identité, ses coordonnées, son cursus et ses diplômes, son numéro de RCS ou toute information relative à sa société, comme demandé dans le formulaire d'inscription aux Services et s'interdit d'utiliser les noms et coordonnées d'un tiers.</p>
  <p>La Société se réserve le droit de demander toutes informations complémentaires ou tout justificatif à l’Utilisateur.</p>
  <p>
    Dans l'hypothèse où l'Utilisateur fournirait des informations fausses, inexactes, périmées,incomplètes, trompeuses ou de nature à induire en erreur, la Société pourra, immédiatement et sans préavis ni indemnité, suspendre ou résilier le compte personnel de l'Utilisateur et lui refuser l'accès, de façon temporaire ou définitive aux services de
    la Plateforme.
  </p>
  <p>La présente politique de confidentialité est susceptible d’être modifiée ou complétée à tout moment, notamment en vue de se conformer à toute évolution législative. La date de sa mise à jour sera clairement mentionnée le cas échéant</p>
  <p>
    Pour toute question relative à la présente politique de confidentialité ou si l’utilisateur souhaite exercer son droit, tel que décrit à l’article II des présentes, il lui appartient de contacter la Société à l’adresse de messagerie <a href="mailto:contact@88-recrutement.com"> contact@88-recrutement.com </a> ou par courrier : Société Eighty
    Eight - 128 rue de la Boétie, 75008 Paris.
  </p>
  <h3 class="step">I. DONNEÉS COLLECTÉES</h3>
  <p>La Société attache une grande importance au respect de la vie privée et prend toutes les mesures nécessaires pour assurer la confidentialité et la sécurité des Données Personnelles des Utilisateurs.</p>
  <p>Dans le cadre de la fourniture, la Société collecte des données personnelles des Utilisateurs et notamment les données suivantes :</p>
  <ul class="donne-perso">
    <li>Adresse email</li>
    <li>Prénom</li>
    <li>Nom</li>
    <li>Kbis</li>
    <li>Adresse postale</li>
    <li>Numéro de téléphone</li>
    <li>Mot de Passe</li>
    <li>Cursus et parcours des Candidats</li>
    <li>CV</li>
    <li>Lettres de recommandations</li>
  </ul>
  <p>La Société collecte et traite les données personnelles des Utilisateurs pour les finalités suivantes :</p>
  <ul class="donne-perso">
    <li>Fourniture sur la Plateforme ;</li>
    <li>Sélection des Candidats ;</li>
    <li>Mise en relation des Candidats et des Recruteurs ;</li>
    <li>Réponse aux éventuelles questions/réclamations des Utilisateurs ;</li>
    <li>Gestion des demandes de droits d’accès, de rectification et d’opposition ;</li>
    <li>Élaboration de statistiques ;</li>
  </ul>
  <p>L’Utilisateur est ainsi informé que les données à caractère personnel le concernant pourront êtretraitées par la Société à des fins statistiques après avoir été préalablement rendues anonymes.</p>
  <p>Les données relatives à la gestion des données personnelles des Utilisateurs sont conservées pour la durée strictement nécessaire telle que définie par la Loi Informatique et Libertés telle que modifiée.</p>
  <p>En principe, la Société sauvegarde les informations personnelles uniquement tant qu’elles sont indispensables à la réalisation des obligations contractuelles ou légales pour lesquelles elle les a collectées.</p>
  <p>Les données personnelles des Utilisateurs sont traitées par le service commercial de la Société.</p>
  <p>La Société peut également communiquer les données personnelles afin de coopérer avec les autorités administratives et judiciaires.</p>
  <p>La Société veille à sécuriser les données personnelles des Utilisateurs de manière adéquate et appropriée et a pris les précautions utiles afin de préserver la sécurité et la confidentialité des données et notamment empêcher qu’elles ne soient déformées, endommagées ou communiquées à des personnes non autorisées.</p>
  <p>Obligations des Utilisateurs :</p>
  <ul class="donne-perso">
    <li>Les Utilisateurs reconnaissent que les données personnelles divulguées par eux sont valides, à jour et adéquates ;</li>
    <li>Les Utilisateurs s’engagent à ne pas porter atteinte à la vie privée, à l’image et à la protection des données personnelles de toute personne tierce et ainsi à ne pas communiquer à la Société les données de personnes tierces sans leur consentement.</li>
  </ul>
  <h3 class="step">II. Droits de l’Utilisateur</h3>
  <p>
    Conformément aux dispositions de la loi n° 78-17 du 6 Janvier 1978 relative à l'informatique, aux fichiers et aux libertés, l’Utilisateur bénéficie d’un droit d’accès aux données traitées par la Société le concernant et de rectification de celles-ci. La demande doit être faite par courrier électronique adressé à
    <a href="mailto:contact@88-recrutement.com"> contact@88-recrutement.com </a>.
  </p>
  <p>L’Utilisateur est en droit de se renseigner à tout moment sur le traitement de ses données personnelles auprès de la Société. Dans ce contexte, la Société lui expliquera le traitement des données et lui communiquera une vue d’ensemble des données enregistrées le concernant.</p>
  <p>Si les données enregistrées auprès de la Société sont incorrectes ou si elles ne sont plus actuelles, l’Utilisateur peut demander à ce que ces dernières soient rectifiées.</p>
  <p>
    L’Utilisateur est également en droit d’exiger la suppression de ses données, dans une telle hypothèse son compte sera bien entendu supprimé. Si en raison d’autres règlements juridiques, la suppression devait être exceptionnellement impossible, les données seront bloquées de telle sorte qu’elles ne seront disponibles qu'uniquement à des fins
    juridiques.
  </p>
  <p>L’Utilisateur peut également demander de limiter le traitement de ses données personnelles si, par exemple, il conteste l’exactitude des données.</p>
  <p>Il a également le droit à la portabilité des données, cela signifie que la Société peut lui faire parvenir une copie numérique des informations personnelles qu’il a mises à la disposition de la Société.</p>
  <p>
    En outre, l’Utilisateur a le droit de révoquer à tout moment le consentement qu’il avait donné. Dans une telle hypothèse, la Société ne continuera pas le traitement des données basé sur cette autorisation à l’avenir. La révocation du consentement de l’Utilisateur n’affecte pas la légalité du traitement des données réalisé sur la base de son
    consentement avant la révocation.
  </p>
  <h3 class="step">III. Cookies et outils statistiques</h3>
  <p>Dans le cadre de l’utilisation de la Plateforme par les Utilisateurs, la Société est susceptible d’utiliser des cookies.</p>
  <p>
    Conformément à la délibération de la CNIL n° 2013-378 du 5 décembre 2013, la Société informe, par ailleurs, les Utilisateurs que des cookies enregistrent certaines informations qui sont stockées dans la mémoire de leur matériel/équipement informatique. Ces informations servent à améliorer l’utilisation et le fonctionnement de la Plateforme. Un
    message d’alerte demande à chaque personne se rendant sur la Plateforme, au préalable, si elle souhaite accepter les cookies. Ces cookies ne contiennent pas d’informations confidentielles concernant les Utilisateurs.
  </p>
  <p>L’Utilisateur se rendant sur la page d’accueil de la Plateforme sera informé :</p>
  <ul class="donne-perso">
    <li>des finalités précises des cookies utilisés ;</li>
    <li>de la possibilité de s’opposer à ces cookies et de changer les paramètres en cliquant sur un lien présent dans le bandeau ;</li>
    <li>et du fait que la poursuite de sa navigation vaut accord au dépôt de cookies sur sonterminal.</li>
  </ul>
  <p>Pour garantir le consentement libre, éclairé et non équivoque de l’Utilisateur, le bandeau ne disparaitra pas tant qu’il n’aura pas poursuivi sa navigation.</p>
</div>
