<link rel="stylesheet" href="/css/admin_prms.css" />
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_administrations/left_menu" %>
  </div>

  <div class="cp-box">
    <h1>A TRAITER</h1>

  </div>
</div>
