<div class="calendar">
	<iframe src="https://calendar.google.com/calendar/embed?src=c_7lgk2p928ejof1vf22itnggcsg%40group.calendar.google.com&ctz=Africa%2FNairobi" style="border: 2px solid #d6b36a; padding: 20px" width="800" height="600" frameborder="0" scrolling="no">
	</iframe>
</div>
