<div style="width: 90%; border: 1px solid #d6b36a; margin: 0 auto; text-align:center;padding: 20px 50px;">
	<center><img style="width: 250px;margin: 20px;" src="http://c8b0600.online-server.cloud/image/OIAM_Logo.png"></center>
	<p>
       Vous avez reçu une nouvelle facture pour le poste de <b><%= @offre.intitule_pote %></b> de la part de <b>One In A Million</b>.
	</p>
	<p>
		Pour le consulter, veuillez <a href="http://localhost:3000/recruteur/mes-factures/<%= @facture.id %>/view">cliquer ici.</a>
	</p>
</div>
