<!-- footer  -->
    <div class="facture-footer">
      <hr />
      <div>Eighty Eight SAS - 128 rue La Boétie - 75008 Paris - France</div>
      <div>Siret : 83383142300011 - Naf : 7022Z - TVA : FR81 833831423 - RCS Créteil</div>
      <div>au capital de 1.000 €</div>
      <div>Tel : +33 1 70 25 98 56 - Email : contact@88-recrutement.com</div>
      <div>Site internet : www.88-recrutement.com</div>
    </div>
    <!-- footer  -->