<link rel="stylesheet" href="/css/confirmed_profile.css">
<div class="main">
  <div class="left_link">

  </div>
  <div class="content">
    <p>Votre profile est complet</p>
    <img src="/image/check.png" alt="" class="check-image">
    <%= link_to "VOIR NOTRE SÉLECTION PERSONNALISÉE", class:"btn-edit" %>
    <%= link_to "VOIR LES OPPORTUNITÉS DISPONIBLES", searchJob_path ,class:"btn-edit"%>
  </div>
</div>
