<link rel="stylesheet" type="text/css" href="/css/congratulation_cadre.css">
<div class="all-content">
	<div class="all-main">
		<div id="modal-unique">
			<h1 class="felicitation-title">Félicitations !</h1>
			<div class="felicitation-content">
				<p>Vous trouverez la promesse d’embauche signée dans votre profil. <br>
				Nous sommes certains que cette nouvelle expérience sera couronnée de succès. <br>
				Parce que nous sommes honorés d’avoir pu vous accompagner dans ce nouveau départ, One in a million tient à vous féliciter en vous offrant une prime de <span class="bold">1000€</span> .<br>
				Encore toutes nos félicitations, et à très bientôt sur One in a Million.</p>
			</div>
			<div class="btn-container">
				<a href="<%= my_profil_path %>" class="btn btn-recevoir" id="received">Mon profil</a>
			</div>
		</div>
	</div>
</div>
<script data-turbolinks-track="reload" src="/js/congratulation_cadre.js"></script>
