<link rel="stylesheet" type="text/css" href="/css/congratulation_cadre.css">

<div class="all-content">
	
	<div class="all-main">
		<div id="modal-unique">
			<h1 class="felicitation-title">Félicitations !</h1>
			<div class="felicitation-content">
				Félicitations ! Nous sommes certains ...<br><br> Parce que nous sommes honorés ... <br><br> A bientôt sur One in a Million.
			</div>
			<div class="btn-container">
				<a href="<%= my_profil_path %>" class="btn btn-recevoir" id="received">Mon profil</a>
			</div>
		</div>
	</div>
	
</div>

<script data-turbolinks-track="reload" src="/js/congratulation_cadre.js"></script>
