<% content_for :head_style do %>
	<link rel="stylesheet" type="text/css" href="/css/candidates.css">
<% end %>
<div class="content">
	<div class="main">
		<p><span>One in a Million</span> est  la première plateforme de recrutement sélective, à destination des meilleurs cadres du marché. A l’issue de notre test unique regroupant les meilleures techniques de recrutement du monde, nous retenons 30% des candidats, pour ne garder que les meilleurs.</p>
		<p>Nous recherchons l’excellence,  à  tout  prix, où  qu’elle  se  trouve. Nous la voyons en vous, et nous avons à coeur  de  vous révéler, et que vous puissiez enfin  être  reconnu à votre juste valeur. Pour ce que vous êtes, pour ce que vous savez faire et pour ce que vous deviendrez dans le bon environnement.</p>
		<p>En devenant membre OIAM, vous recevrez un certificat, mais aussi et surtout des opportunités uniques  avec  une  réponse sous 15 jours,  et  une  reconnaissance  internationale  basée  sur  des critères pertinents, objectifs et scientifiques.</p>
		<p>Nous n’attendions que vous ...</p>
	</div>
	<article class="article">
		<div class="article-content">
			<h2 class="article-title"><span class="article-title-number">1. </span>CRÉEZ VOTRE PROFIL <br>& PASSEZ NOTRE TEST </h2>
			<p>Si votre profil est retenu, vous bénéficiez gratuitement d’un accès  à notre  place de  marché  élitiste  One in a Million.</p>
		</div>
		<div class="article-content">
			<h2 class="article-title"><span class="article-title-number deux-ligne goLeft">2. </span>ETUDIEZ LES MEILLEURES PROPOSITIONS</h2>
			<p>Les entreprises vous feront parvenir une proposition de rencontre avec une offre de poste détaillée : missions, salaire ...</p>
			<p>Vous pouvez aussi consulter et vous positionner directement sur celles qui vous intéressent.</p>
		</div>
		<div class="article-content">
			<h2 class="article-title"><span class="article-title-number ">3. </span>PLANIFIEZ VOS RDV AVEC LES<br> MEILLEURES ENTREPRISES</h2>
			<p>Choisissez les propositions qui vous intéressent et utilisez notre agenda en ligne pour rencontrer les décideurs. Vous avez une réponse sous 15 jours.</p>
		</div>
		<div class="article-content">
			<h2 class="article-title"><span class="article-title-number goLeft">4. </span>SOYEZ RECRUTÉ ET RECEVREZ NOTRE PRIME À L’EMBAUCHE DE 1000€ !</h2>
			<p>Parce que nous sommes heureux de vous voir intégrer l’entreprise qui vous convient, recevez nos félicitations et une prime à l’embauche de 1000€.</p>
		</div>
		<div class="trait"></div>
	</article>
	<%= link_to "S'INSCRIRE", tmp_sign_up_path, class: 'btn-inscrire' %>
</div>
