<link rel="stylesheet" type="text/css" href="/css/main_test.css">

<div class="all-content">
	<div class="left-link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
<div class="all-main">
	<div class="main">
		<h2 class="resultat-title">RÉSULTATS DE MES TESTS</h2>
		<div class="resultat">
			<p>Potential <span><%= @cadre.score_potential %></span></p>
		<!-- <p>Skills/Direction Marketing <span>60%</span></p> -->
			<p>Fit <span><%= @cadre.score_fit %>%</span></p>
		</div>
		<div class="certificat">
			<p class="paragraphe" style="top: 10px;">
				<img src="/image/importer_CV.png" class="image">
				<i id="compte" style="position: relative;top: -8px;">Compte rendu</i> 
			</p>
			<span class="button">
				<%= link_to "TELECHARGER", @cadre.compte_rendu, class:"btn-download" %>
			</span>
		</div>

	</div>
</div>
</div>
