<link rel="stylesheet" type="text/css" href="/css/main_test.css">

<div class="all-content">
	<div class="left-link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
<div class="all-main">
	<div class="main">
		<h2 class="resultat-title">RÉSULTATS DE MES TESTS</h2>
		<div class="resultats">
			<div class="potential">
				<div class="pontential-content">
					<p>Potential</p>
				</div>
				<div class="pontential-score">
					<p><%= @cadre.score_potential %></p>
				</div>
			</div>
			<div class="fit">
				<div class="fit-content">
					<p>Fit</p>
				</div>
				<div class="fit-scrore">
					<p><%= @cadre.score_fit * 10 %></p>
				</div>
			</div>
		</div>
		<div class="certificat">
			<div class="paragraphe" style="top: 1px;">
				<img src="/image/importer_CV.png" class="image">
				<i id="compte" style="position: relative;top: -8px;">Compte rendu</i>
			</div>
			<div class="button">
				<%= link_to "TELECHARGER", @cadre.compte_rendu, class:"btn-download" %>
			</div>
		</div>
	</div>
</div>
</div>
