<link rel="stylesheet" type="text/css" href="/css/main_test.css">
<div class="all-content">
	<div class="left-link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
<div class="all-main">
	<div class="main">
		<h2 class="resultat-title">RÉSULTATS DE MES TESTS</h2>
		<div class="resultat">
			<p>Potential <span>1005</span></p>
			<p>Skills/Direction Marketing <span>60%</span></p>
			<p>Fit <span>70%</span></p>
		</div>
		<div class="certificat">
			<p class="paragraphe"><img src="/image/importer_CV.png" class="image">Nom du fichier</p>
			<span class="button">
				<a href="" class="imprimer">Imprimer</a>
				<button class="btn-download">Télécharger</button>
			</span>
		</div>

	</div>
</div>
</div>
