<div>
	<p><strong>One In  A Million</strong> est  la première plateforme de recrutement sélective, à destination des meilleurs cadres du marché. A l’issue de notre test unique regroupant les meilleures techniques de recrutement du monde, nous retenons 10% des candidats, pour ne garder que les meilleurs.</p>
	<p>Nous recherchons l’excellence,  à  tout  prix, où  qu’elle  se  trouve. Nous la voyons en vous, et nous avons à coeur  de  vous révéler, et que vous puissiez enfin  être  reconnu à votre juste valeur. Pour ce que  vous êtes, pour ce que vous savez  faire et pour ce que vous deviendrez dans le bon environnement.</p>
	<p>En  devenant  membre OIAM,  vous recevrez un certificat, mais aussi et surtout des opportunités uniques  avec  une  réponse sous 15jours,  et  une  reconnaissance  internationale  basée  sur  des critères pertinents, objectifs et scientifiques.</p>
	<p>Nous n’attendions que vous ...</p>
</div>


<div>
	<h2><b>1</b>CRÉEZ VOTRE PROFIL <br>& PASSEZ NOTRE TEST</h2>
	<p>Si votre profil est retenu, vous bénéficiez gratuitement d’un accès  à notre  place de  marché  élitiste  One In A Million.</p>
</div>

<div>
	<h2><b>2</b>ETUDIEZ LES MEILLEURES PROPOSITIONS</h2>
	<p>Les entreprises vous feront parvenir une proposition de rencontre avec une offre de poste détaillée : missions, salaire ...</p>
	<p>Vous pouvez aussi consulter et vous positionner directement sur celles qui vous intéressent.</p>
</div>


<div>
	<h2><b>3</b>PLANIFIEZ VOS RDV AVEC  LES <br>MEILLEURES   ENTREPRISES</h2>
	<p>Choisissez les propositions qui vous intéressent et utilisez notre agenda en ligne pour rencontrer les décideurs. Vous avez une réponse sous 15 jours.</p>
</div>


<div>
	<h2><b>4</b>SOYEZ RECRUTÉ ET RECEVREZ NOTRE PRIME <br>À  L’EMBAUCHE DE 1000€  !</h2>
	<p>Parce que nous sommes heureux de vous voir intégrer l’entreprise qui vous convient, recevez nos félicitations et une prime à l’embauche de 1000€.</p>
</div>

<a href="#">S'INSCRIRE</a>
