<style type="text/css">
	h2{
		color: #d6b36a;
		font-size: 30px;
		text-align: center;
		margin-top: 50px;
	}
</style>

<div class="row">
	<div class="col-sm-3">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		<h2>LISTE DE TOUTES MES NOTIFICATIONS</h2>
	</div>

</div>