<link rel="stylesheet" type="text/css" href="/css/resultat_test.css">
<div class="bg-uniq">
	<div class="cadre">
		<div class="content">
				<div class="numero un">1<span class="potential">Potential</span></div>
				<div class="numero deux">2<span class="skills">Skills</span></div>
				<div class="numero trois">3<span class="fit">Fit</span></div>
		</div>
		<h2 class="cadre-nom">Chère Mathilde,</h2>

		<p>Félicitations ! Vous avez obtenu un score de <span>1005</span> et êtes donc sélectionnée pour l’étape suivante.</p>

		<p>Vous avez désormais 24 heures pour passer la 2ème partie du test :</p>

		<h1>SKILLS</h1>

		<%= link_to "ACCÉDER AU TEST", testskills_path, class:'pass-test' %>
	</div>
</div>
