<link rel="stylesheet" type="text/css" href="/css/resultat_test.css">
<div class="bg-uniq">
	<div class="cadre">
		<div class="content">
			<div class="numero goRight trait gold potential">1</div>
			<div class="numero goRight trait1 skills">2</div>
			<div class="numero fit">3</div>
		</div>
		<h2 class="cadre-nom">Chère Mathilde,</h2>
	
		<p>Félicitations ! Vous avez obtenu un score de  <span>1005</span> et êtes donc sélectionnée pour l’étape suivante.</p>
	
		<p>Vous avez désormais 24 heures pour passer la 2ème partie du test :</p>
	
		<h1>SKILLS</h1>
	
		<%= link_to "ACCÉDER AU TEST", testskills_path, class:'pass-test' %>
	</div>
</div>



