<link rel="stylesheet" type="text/css" href="/css/test_fit.css">
<div class="bg-uniq">
	<div class="cadres">
	<div class="content">
			<div class="numero goRight trait gold potential">1</div>
			<div class="numero goRight trait1 gold skills">2</div>
			<div class="numero fit gold">3</div>
	</div>

	<h1>3ème partie : FIT <img src="/image/fit.png" height="60" width="60"></h1>

	<p>Bravo, vous avez excellé aux phases précédentes, et êtes maintenant à quelques pas de l’entrée chez One In A Million.</p>

	<p>Afin  d’assurer  un  excellent  suivi  de  votre  candidature  tout  au  long   de votre  carrière,  nous  tenons  à  vous  proposer  un   entretien  humain,  appelé  “FIT ” avec l’un de nos experts en recrutement.</p>

	<p>Cet  échange  nous  permettra  d’en  savoir  plus  sur vous et de découvrir votre  “ FIT ”  avec  les  nombreuses  opportunités  que nous proposons sur One In A Million.</p>

	<%= link_to "PLANIFIER UN ENTRETIEN SKYPE", testfit_path,class:'pass-test'%>
</div>
	
</div>
