<link rel="stylesheet" type="text/css" href="/css/potential_test.css">
<div class="cadre">
	<div class="content">
			<div class="numero goRight trait gold potential">1</div>
			<div class="numero goRight trait1 skills">2</div>
			<div class="numero fit">3</div>
	</div>
	<h1 class="potential-title">1ère partie : POTENTIAL <img src="/image/noun_Gauge_468487 1.png" class="image_tag"></h1>

	<p class="notice">Bienvenue sur le test One In A Million</p>

	<p class="notice">Prenez quelques minutes pour lire attentivement ce qui suit.</p>


	<p>Ce test est réservé aux candidats se destinant à l’exercice de profession de niveau Top Management. Notre test évalue les trois aptitudes suivantes :</p>
	<ul>
		<li>Soft Skills & Personnalité</li>
		<li>Aptitudes cognitives & Intelligence</li>
		<li>Aptitudes au leadership</li>
	</ul>

	<p>Notre test de recrutement prédictif a été pensé et réalisé de façon à être totalement objectif,  en libérant  chaque  candidat  des  contraintes d’origine,  d’âge, de formation initiale, sexe ou de diplôme.</p>

	<p>A  travers  plusieurs  types  d’exercices,  mais  aussi  des modes de réflexion croisés, ou différentes aptitudes évaluées, le test  One In A Million permet de sélectionner les meilleurs candidats du marché.</p>

	<h2>CONSIGNES</h2>

	<p>Notre  test  est  entièrement  sécurisé,  et  chronométré. Il dure environ 50 minutes. Veillez à disposer au moins de ce laps de temps, et à ne pas être interrompu.
	En effet, si le test est inachevé, cela comptera comme un essai réalisé et vous devrez attendre 6 mois avant de le représenter.</p>

	<p>En  acceptant  de  participer  à  ce   test,   acceptez   également  de  vous   soumettre à des contrôles de sécurité par webcam, réalisés de façon aléatoire.
	Les fichiers seront conservés durant une durée de 48h et sont uniquement réalisés durant la durée du test.</p>

	<p>Vous ne pourrez pas revenir en arrière après une réponse. En outre, une réponse incorrecte pourra donner lieu à un score négatif.</p>

	<p>Certaines questions vous paraitront hors de sens, mais il y a toujours une logique. Répondez aux questions de façon naturelle, le plus spontanément possible, en vous projetant dans un cadre professionnel.</p>

	<h2>DEROULEMENT DU TEST</h2>

	<p>“ POTENTIAL ” est la première phase de votre sélection chez One In A Million. Cette phase représente le plus gros coefficient de votre entrée chez One In A Million, et votre score sera affiché sur votre profil si vous intégrez notre plateforme.</p>

	<p>Le test One In A Million peut être présenté un maximum de 2 fois au cours d’une vie.</p>

	<p>En souhaitant de tout coeur de pouvoir vous rencontrer de l’autre coté de la force, <br>Le staff One In A Million</p>

	<%= link_to "PASSER LE TEST", testskills_path,class:'pass-test'%>
</div>
