<ul>
	<li>1 Potential</li>
	<li>2 Skills</li>
	<li>3 Fit</li>
</ul>

<h1>3ème partie : FIT</h1>

<p>Bravo, vous avez excellé aux phases précédentes, et êtes maintenant à quelques pas de l’entrée chez One In A Million.</p>

<p>Afin  d’assurer  un  excellent  suivi  de  votre  candidature  tout  au  long   de votre  carrière,  nous  tenons  à  vous  proposer  un   entretien  humain,  appelé  “FIT ” avec l’un de nos experts en recrutement.</p>

<p>Cet  échange  nous  permettra  d’en  savoir  plus  sur vous et de découvrir votre  “ FIT ”  avec  les  nombreuses  opportunités  que nous proposons sur One In A Million.</p>

<button>PLANIFIER UN ENTRETIEN SKYPE</button> <br>
<%= link_to "Go to resulta test 1", resultatsTest_path %>