<% content_for :head_style do %>
	<link rel="stylesheet" type="text/css" href="/css/test_skills.css">
<% end %>

<div class="bg-uniq">
	<div class="cadre">
		<div class="content">
				<div class="numero un">1<span class="potential">Potential</span></div>
				<div class="numero deux">2<span class="skills">Skills</span></div>
				<div class="numero trois">3<span class="fit">Fit</span></div>
		</div>

	<div class="potential-title">
		<h1>2ème partie : SKILLS</h1>
		<img src="/image/skills.png" height="60" width="60">
	</div>
		<p class="notice">Prenez quelques minutes pour lire attentivement ce qui suit.</p>

		<p>Ce  test  est  réservé  aux candidats se destinant à  l’exercice de profession de niveau Top Management.</p>

		<p>Notre test évalue vos compétences techniques pour les métiers suivants :</p>
	
	<div id="directeur-marketing">
		<%= form_for CadreInfo.new , url: postMetierSkills_path, remote:true do |f| %>
		  <div class="field">
		  	<f class="hidden"></f>
		    <%= f.collection_select :metier_id, Metier.all, :id, :name %>
		  </div>
		<% end %>
	</div>

	<script type="text/javascript">
		$("#cadre_info_metier_id").prepend("<option value=\"\" disabled selected>Choisissez votre métiers</option>")

		$("#cadre_info_metier_id").change(function () {
			$("#new_cadre_info").submit()
			$("#link-to-next").show()
			$("#link-to-top").hide()
		})
	</script>

	<h2>CONSIGNES</h2>

	<p>Notre test est entièrement sécurisé, et chronométré. Il dure environ 15 minutes. Veuillez à disposer au moins de ce laps de temps, et à ne pas être interrompu.<br>
	En effet, si le test est inachevé, cela comptera comme un essai réalisé, et vous devrez attendre 6 mois avant de le représenter.</p>

	<p>En acceptant de participer à ce test, vous acceptez également de vous soumettre à  des contrôles de sécurité par webcam, réalisés de façon aléatoire. Les fichiers seront conservés durant une durée de 48h et sont uniquement réalisés durant la durée du test.</p>

	<p>Vous ne pourrez pas revenir en arrière après une réponse. En outre, une réponse incorrecte pourra donner lieu à un score négatif.</p>

	<h2>DÉROULEMENT DU TEST</h2>

	<p>“ SKILLS ” est  la  seconde  phase  de  votre  sélection  chez  One in a  Million. <br>
	 Cette phase représente un coefficient déterminant de votre entrée chez One in a  Million, et votre score sera affiché sur votre profil si vous intégrez notre plateforme.
	</p>

	<p>Le test One in a  Million peut être présenté un maximum de 2 fois au cours d’une vie.</p>

	<p>En souhaitant de tout coeur de pouvoir vous rencontrer de l’autre côté de la force,</p>
	<p>Le staff One in a  Million</p>


	<%= link_to "PASSER LE TEST", testfit_path, class:'pass-test', id:'link-to-next', style:'display:none;'%>

	<span href="#cadre_info_metier_id" id="link-to-top" class="pass-test">PASSER LE TEST</span>

	<script type="text/javascript">
		$("#link-to-top").click(function(){
			$('html, body').animate(
		      {
		        scrollTop: $('#elementtoScroll').offset().top,
		      },
		      500
		    );
		})
	</script>


	<br>

</div>

</div>
