<link rel="stylesheet" type="text/css" href="/css/test_skills.css">
<div class="bg-uniq">
	<div class="cadre">
	<div class="content">
			<div class="numero goRight trait gold potential">1</div>
			<div class="numero goRight trait1  gold skills">2</div>
			<div class="numero fit">3</div>
	</div>

	<h1 class="skills-title">2ème partie : SKILLS <img src="/image/skills.png" height="60" width="60"></h1>

	<p class="notice">Prenez quelques minutes pour lire attentivement ce qui suit.</p>

	<p>Ce  test  est  réservé  aux candidats se destinant à  l’exercice de profession de niveau Top Management.</p>
	<p>Notre test évalue vos compétences techniques pour les métiers suivants :</p>
<div id="directeur-marketing">
	<button type="button" name="button" class="directeur-marketing">DIRECTEUR MARKETING <img src="/image/dropdown.png"></button>
</div>
	<h2>CONSIGNES</h2>

	<p>Notre test est entièrement sécurisé, et chronométré. Il dure environ 15 minutes. Veillez à disposer au moins de ce laps de temps, et à ne pas être interrompu. <br>
	En effet,  si le test est inachevé, cela  comptera  comme un essai réalisé, et vous devrez attendre 6 mois avant de le représenter.</p>

	<p>En acceptant de participer à ce test, vous acceptez également de vous soumettre à  des contrôles de sécurité par webcam, réalisés de façon aléatoire. Les fichiers seront conservés durant une durée de 48h et sont uniquement réalisés durant la durée du test.</p>

	<p>Vous ne pourrez pas revenir en arrière après une réponse. En outre, une réponse incorrecte pourra donner lieu à un score négatif.</p>

	<h2>DEROULEMENT DU TEST</h2>

	<p>“ SKILLS ” est  la  seconde  phase  de  votre  sélection  chez  One In A Million. <br>
	 Cette phase représente un coefficient déterminant de votre entrée chez One In A Million, et votre score sera affiché sur votre profil si vous intégrez notre plateforme.
	</p>

	<p>Le test One In A Million peut être présenté un maximum de 2 fois au cous d’une vie.</p>

	<p>En souhaitant de tout coeur de pouvoir vous rencontrer de l’autre coté de la force,</p>
	<p>Le staff One In A Million</p>

	<%= link_to "PASSER LE TEST", testfit_path, class:'pass-test'%>

	<br>

</div>
	
</div>
