<!-- appel css user-menu.css  -->
<link rel="stylesheet" href="/css/admin_main_menu.css" />
<!-- html body  -->
<div class="left-menu-r">
  <div class="btn-menu-r">
    <span class="btn-menu-burger open"> </span>
  </div>
  <div class="left-menu-photo">
    <% unless current_admin.image.nil? %> <%= image_tag(current_admin.image, alt: 'photo logo')%> <% else %>
    <img src="/image/profie.png" alt="logo entreprise" />
    <% end %>
  </div>
  <ul class="left-menu-content">
    <li><a href="<%= admin_dashboard_agenda_path%>">DASHBOARD</a></li>
    <li><a href="<%= admin_cadre_all_path %>">CANDIDATS</a></li>
    <li><a href="<%= admin_client_main_path%>">CLIENTS</a></li>
  </ul>
</div>
<!-- appel js menu_recruteur.js  -->
<script data-turbolinks-track="reload" src="/js/admin_main_menu.js"></script>
<script data-turbolinks-track="reload" src="/js/menu_recruteur.js"></script>
