<br>
<h1>RÉSERVER UN COACHING</h1>
<hr>

<div style="display: flex;">
<% @formations.each do |formation| %>
	<div style="border: 2px solid red; margin: 10px;">
		<h2><%= formation.name %></h2>
		<p><%= formation.description %></p>
		<div class="link">
			<%= link_to "PRENDRE RDV", formation_date_rdv_path(formation.id), class:'btn btn-primary'%>
		</div>
		<hr>
	</div>
<% end %>
</div>
