<div id="js-show_ca_next_stape" class="dscdpa-box">
  <h3>Suivi recrutement</h3>
  <h5>CANDIDAT EN ATTENTE</h5>
  <div class="dscdp-link">
    <% if @oFc.etapes < @offre.numberEntretien %>
    <div class="dscdp-link-item" id="dateEntretien">NOUVEL ENTRETIEN</div>
    <div class="dscdp-link-item">
      <%= link_to "PROMESSE D'EMBAUCHE", promise_to_hire_path(id_offre_job: @offre.id,id_cadre: @cadre.id), 'data-confirm':"Attention vous avez encore #{@offre.numberEntretien - @oFc.etapes} autre(s) entretien à faire avec ce candidat, voulez-vous continuer quand même ?" %>
    </div>
    <%else %>
    <div class="dscdp-link-item"><%= link_to "PROMESSE D'EMBAUCHE", promise_to_hire_path(id_offre_job: @offre.id,id_cadre: @cadre.id) %></div>
    <% end %>
    <div class="dscdp-contact">
      <a href="<%= show_my_messages_client_path(@cadre.id) %>">
        <img src="/image/chatS.png" alt="Icon chat" />
        <div>Chat en ligne</div>
      </a>
      <a href="mailto: <%= @cadre.cadre_info.mail %>">
        <img src="/image/mailS.png" alt="icon mail" />
        <div>Mail</div>
      </a>
      <a href="">
        <img src="/image/compteR.png" alt="icon compte rendu" />
        <div>Compte rendu</div>
      </a>
    </div>
  </div>
</div>
