<div class="row">
	<div class="col-sm-3">
		<%= render partial: "recruteurs/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		<h1>Mon profil</h1>
	</div>
</div>

<%= render partial: "/contact_us" %>