<div class="row">
	<div class="col-sm-3">
		<%= render partial: "recruteurs/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		<h1>NOTRE SELECTION</h1>

		<p>
			Cette sélection est celle  que nous vous recommandons d’après notre algorithme. Si vous voulez en voir plus <a href="#">cliquez ici</a>
		</p>
	</div>
</div>



