<!-- call css  -->
<link rel="stylesheet" href="/css/promise.css" />
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="promise">
      <h5 class="title">PROMESSE D'EMBAUCHE</h5>
      <div class="promise-content">
        <%= form_for @promise , url: url_path do |f| %>
        <div class="pc-head"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"><%= render partial: "recruteurs/left_link_bar" %></div>

  <div class="col-sm-9">
    <center>PROMESSE D'EMBAUCHE</center>
    <%= render partial: "recruteurs/form_promise_to_hire", locals: {url_path: save_promise_to_hire_path(@job.id, @cadre.cadre.id)} %>
  </div>
</div>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/contrat_dembauche.js"></script>
