<!-- call css  -->
<% content_for :head_style do %>
<link rel="stylesheet" href="/css/promise.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="promise">
      <h5 class="title">PROMESSE D'EMBAUCHE</h5>
      <div class="promise-content"><%= render partial: "recruteurs/form_promise_to_hire", locals: {url_path: save_promise_to_hire_path(@job.id, @cadre.cadre.id),valeur: true} %></div>
    </div>
  </div>
</div>
<!-- call js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/contrat_dembauche.js"></script>
