<div class="row">
  <div class="col-sm-3">
    <%= render partial: "recruteurs/left_link_bar" %>
  </div>

  <div class="col-sm-9">
    <center>PROMESSE D'EMBAUCHE</center>
    <%= render partial: "recruteurs/form_promise_to_hire", locals: {url_path: save_promise_to_hire_path(@job.id, @cadre.cadre.id)} %>
  </div>
</div>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/contrat_dembauche.js"></script>
