<div class="row">
	<div class="col-sm-3">
		<%= render partial: "recruteurs/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		
		Localisation
		Fonction
		Rémunération
		Disponibilité

		Recherche

		Valider ma selection

	</div>
</div>
