<% content_for :head_style do %>
<link rel="stylesheet" href="/css/pay_bill.css" />
<% end %>
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="pay-bill-box">
      <h5 class="title">Factures à payer</h5>
      <div class="pb-content">
        <div class="pb-flex">
          <div class="left">
            RIB
            <div class="c" id="addimage" style="background: center no-repeat; background-size: cover"></div>
          </div>
          <div class="pb-btn">
            <label>
              TÉLÉCHARGER
              <span style="display: none">
                <input type="file" id="image" />
              </span>
            </label>
          </div>
        </div>
        <div class="pb-flex">
          <div class="left">
            FACTURE MARKETING MANAGER
            <div class="c" id="addImage" style="background: center no-repeat; background-size: cover"></div>
          </div>
          <div class="pb-btn">
            <label>
              TÉLÉCHARGER
              <span style="display: none">
                <input type="file" id="imagetag1" />
              </span>
            </label>
          </div>
        </div>
        <label id="checkbox1">
          J'atteste régler cette facture par virement dans les 15jours.
          <input type="checkbox" id="check1" name="value" autofocus="true" required />
          <span class="checkmark"></span>
        </label>
        <div class="submit">
          <input type="submit" name="cont" value="VALIDER" id="valide" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- call js 
 -->
<!-- javascript facturation  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/facture.js"></script>
<!-- javascript facturation  -->
