<link rel="stylesheet" href="/css/admin_prms.css" />

<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_candidats/left_menu" %>
  </div>

  <div class="cp-box">
  	<form>
      <label>Ordre de virement</label>
     <input type="file" name="ov">
     <input type="submit" name="submit" value="Valider Payment"> 
    </form>
  </div>
</div>