$main_theme_color: #d6b36a;

$secondary_element_color: #f0f2f4;

$secondary_text_color_button: #e3d7bf;

$ffsentence: 16px Questrial, sans-serif;

$ffbtn: 500 20px Raleway, sans-serif;

$box-shadow: 1px 1px 10px 1px rgba(221, 216, 216, 0.63);
