@import 'config';

@media screen and (min-width: 320px) {
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 100%;
  }
  .box-2 {
    display: none;
  }
  // navbar's elements
  ///////////////////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }
  .navbar-content {
    display: none;
    li {
      margin: 30px 0;
    }
  }
  .navbar-item:hover,
  .navbar-item:active {
    background-color: white;
    color: $secondary_text_color_button;
  }
  //////

  .dropup-btn1 {
    width: 180px;
    text-align: center;
    background-color: white;
    color: $secondary_text_color_button;
    &:hover {
      background-color: rgba(255, 255, 255, 0.432);
    }
  }
  .dropup-content1 {
    border: 2px white solid;
    .dropup-item1:active {
      background-color: white;
      color: $secondary_text_color_button;
    }
  }
  .dropup1 {
    margin-bottom: 10px;
  }
  // Page d'accueil général
  ////////////////////////////////////////////////////

  .accueilg-btn1 {
    margin-bottom: 30px;
    .cadre-btn1 {
      margin: 0 1em;
      a {
        padding: 10px 55px;
      }
    }
    .recruteur-btn1 {
      margin: 0 1em;
      a {
        padding: 10px 30px;
      }
    }
  }
  .picto1 {
    display: none;
  }
  .accueilg-content1 {
    margin: 0 auto;
    .ac-item2 {
      margin: 60px 0;
    }
  }
  // footer
  ////////////////////////////////////////
  .footer-bottom {
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    // .footer-c {
    //   width: 100%;
    // }
    div {
      margin-bottom: 10px;
    }
  }
  // contact
  ////////////////////////////////////
}

@media screen and (min-width: 768px) {
  // accueil g
  //////////////////////////////////////
  .logo-g {
    display: none;
  }
  .picto1 {
    align-self: center;
    display: block;
    width: 90px;
    img {
      width: 100%;
    }
  }
  // navbar
  /////////////////////////////
  .navb {
    padding: 5px 50px;
    background-color: $secondary_text_color_button;
  }
  .navbar-content {
    display: none;
    li {
      margin: 30px 0;
    }
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    width: 180px;
  }
  // accueil général
  .first-btn1 {
    margin-top: 50px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    .ac-item2 {
      display: flex;
      justify-content: space-between;
      .accueilg-item1 {
        width: 70%;
      }
    }
    .ac-item21 {
      flex-direction: row-reverse;
    }
  }
  // footer

  // contact
  ////////////////////////////////////
  // .contact-us {
  //   .contact-change {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  //   .contact-item {
  //     width: 48%;
  //   }
  // }
}

@media screen and (min-width: 992px) {
  // landing page
  .box-1 {
    width: 50%;
  }
  .box-2 {
    display: block;
    width: 50%;
    img {
      width: 100%;
      height: 100vh;
    }
  }
  // navbar
  ////////////////////////
  .logo-g {
    display: block;
    width: 45%;
  }
  .navb {
    padding: 5px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-self: center;
    align-items: center;
  }
  .navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: inherit;
    .navbar-item:hover {
      background-color: transparent;
      color: $main_theme_color;
    }
  }
  .navbar-logo {
    width: 5%;
    img {
      margin-left: 60%;
    }
  }
  ///
  .dropup1 {
    margin: 0;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: $secondary_text_color_button;
    color: white;
    width: 175px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.61);
      box-shadow: $box-shadow;
      color: $secondary_text_color_button;
    }
  }

  .dropup-content1 {
    position: absolute;
    background-color: $secondary_element_color;
    padding: 10px;
    width: 235px;
    right: 3%;
    top: 68px;
    text-align: center;
    z-index: 20;
  }
  .btn-btn {
    display: none;
  }
  // navbar background
  ////////////////////////////////////////////////
  .navdiv {
    padding-bottom: 70px;
  }
  .bg-inside {
    background: url('BANNIERE.png');
    background-position: center;
    background-size: cover;
  }
  // navbar accueilg and accueil g
  ////////////////////////////////////////////////
  .bg-accueil {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 600px;
    background: url('BANNIERE.png');
    background-position: center;
    background-size: cover;
  }
  .accueilg-btn1 {
    margin-bottom: 70px;
    .cadre-btn1,
    .recruteur-btn1 {
      margin: 0 2em;
    }
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 288px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    margin-top: 310px;
    .ac-item2 {
      margin: 90px 0;
    }
  }
  // footer
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    .footer-c {
      width: 65%;
    }
  }
  .social {
    a {
      margin-left: 5px;
    }
  }

  // contact
  ////////////////////////////////////
  .contact-us {
    .contact-change {
      display: flex;
      justify-content: space-between;
    }
    .contact-item {
      width: 48%;
    }
  }
  // accueil recruteur
  //////////////////@exten
  .accueil-recruteur {
    content: '';
    width: 10px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  // navbar
  /////////////////////
  .navbar-content {
    justify-content: space-between;
    width: 70%;
    align-items: center;
  }
  .navbar-ul {
    width: 70%;
    margin-bottom: inherit;
  }

  .dropup-content1 {
    right: 5.4%;
  }
  .logo-g {
    width: 40%;
  }
  // navbar background all
  ///////////////////////////////////////////////
  .navdiv {
    padding-bottom: 100px;
  }
  .bg-inside {
    background: url('BANNIERE.png');
    background-position: center;
    background-size: cover;
  }
  // nabar bg accueil
  ///////////////////////////////////////////////
  .bg-accueil1 {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 600px;
    background: url('BANNIERE.png');
    background-position: center;
    background-size: cover;
  }
  // page d'accueil général
  .accueilg-btn1 {
    .cadre-btn1 {
      margin: 0 2em;
      a {
        padding: 10px 65px;
      }
    }
    .recruteur-btn1 {
      margin: 0 2em;
      a {
        padding: 10px 50px;
      }
    }
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 288px;
  }
}
