@media screen and (max-device-width: 480px) {
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 100%;
  }
  .box-2 {
    display: none;
  }
  .navbar-content {
    display: none;
    font-size: 33px;
  }
  .navb {
    padding: 5px 50px;
    background-color: #e3d7bf;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    width: 180px;
    color: #e3d7bf;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.432);
  }
  .dropup-content1 {
    border: 2px white solid;
  }
  .dropup-content1 .dropup-item1:active {
    background-color: white;
    color: #e3d7bf;
  }
  .dropup1 {
    padding-bottom: 10px;
  }
  .accueilg-btn1 .cadre-btn1 {
    margin: 0 0.5em;
  }
  .accueilg-btn1 .cadre-btn1 a {
    padding: 10px 30px;
  }
  .accueilg-btn1 .recruteur-btn1 {
    margin: 0 0.5em;
  }
  .accueilg-btn1 .recruteur-btn1 a {
    padding: 10px 15px;
  }
  .picto1 {
    display: none;
  }
  .accueilg-content1 {
    margin: 0 auto;
  }
  .accueilg-content1 .ac-item2 {
    margin: 50px 0;
  }
  .footer-bottom {
    align-content: space-between;
    flex-direction: column;
  }
}

@media screen and (min-device-width: 480px) {
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 100%;
  }
  .box-2 {
    display: none;
  }
  .navb {
    padding: 5px 50px;
    background-color: #e3d7bf;
  }
  .navbar-content {
    display: none;
  }
  .navbar-item li:hover {
    background-color: white;
    color: #e3d7bf;
  }
  .dropup-btn1 {
    width: 180px;
    text-align: center;
    background-color: white;
    color: #e3d7bf;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.432);
  }
  .dropup-content1 {
    border: 2px white solid;
  }
  .dropup-content1 .dropup-item1:active {
    background-color: white;
    color: #e3d7bf;
  }
  .dropup1 {
    margin-bottom: 10px;
  }
  .accueilg-btn1 .cadre-btn1 {
    margin: 0 2em;
  }
  .accueilg-btn1 .cadre-btn1 a {
    padding: 10px 55px;
  }
  .accueilg-btn1 .recruteur-btn1 {
    margin: 0 2em;
  }
  .accueilg-btn1 .recruteur-btn1 a {
    padding: 10px 30px;
  }
  .picto1 {
    display: none;
  }
  .accueilg-content1 {
    margin: 0 auto;
  }
  .accueilg-content1 .ac-item2 {
    margin: 60px 0;
  }
  .footer-bottom {
    justify-content: space-between;
  }
  .footer-bottom .footer-c {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .logo-g {
    display: none;
  }
  .picto1 {
    align-self: center;
    display: block;
    width: 90px;
  }
  .picto1 img {
    width: 100%;
  }
  .navb {
    padding: 5px 50px;
    background-color: #e3d7bf;
  }
  .navbar-content {
    display: none;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    width: 180px;
  }
  .first-btn1 {
    margin-top: 50px;
  }
  .accueilg-content1 {
    margin: 0 auto;
  }
  .accueilg-content1 .ac-item2 {
    display: flex;
    justify-content: space-between;
  }
  .accueilg-content1 .ac-item2 .accueilg-item1 {
    width: 70%;
  }
  .accueilg-content1 .ac-item21 {
    flex-direction: row-reverse;
  }
  .footer-c {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .box-1 {
    width: 50%;
  }
  .box-2 {
    display: block;
    width: 50%;
  }
  .box-2 img {
    width: 100%;
    height: 100vh;
  }
  .logo-g {
    display: block;
    width: 45%;
  }
  .navb {
    padding: 5px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-self: center;
  }
  .navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: inherit;
  }
  .navbar-ul .navbar-item li:hover {
    background-color: transparent;
    color: #d6b36a;
  }
  .dropup1 {
    margin: 0;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: #e3d7bf;
    color: white;
    width: 175px;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 1px 1px 10px 1px rgba(221, 216, 216, 0.63);
    color: #e3d7bf;
  }
  .dropup-content1 {
    position: absolute;
    background-color: #f0f2f4;
    padding: 10px;
    width: 235px;
    right: 3%;
    top: 68px;
    text-align: center;
    z-index: 20;
  }
  .btn-btn {
    display: none;
  }
  .navdiv {
    padding-bottom: 70px;
  }
  .bg-inside {
    background: url("BANNIERE.png");
    background-position: center;
    background-size: cover;
  }
  .bg-accueil {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 600px;
    background: url("BANNIERE.png");
    background-position: center;
    background-size: cover;
  }
  .accueilg-btn1 .cadre-btn1,
  .accueilg-btn1 .recruteur-btn1 {
    margin: 0 2em;
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 288px;
  }
  .accueilg-content1 {
    margin: 0 auto;
    margin-top: 310px;
  }
  .accueilg-content1 .ac-item2 {
    margin: 90px 0;
  }
  .social a {
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-content {
    justify-content: space-between;
    width: 66%;
    align-items: flex-end;
  }
  .navbar-ul {
    width: 70%;
    align-self: center;
    margin-bottom: inherit;
  }
  .dropup-content1 {
    right: 5.4%;
  }
  .logo-g {
    width: 40%;
  }
  .navdiv {
    padding-bottom: 100px;
  }
  .bg-inside {
    background: url("BANNIERE.png");
    background-position: center;
    background-size: cover;
  }
  .bg-accueil1 {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 600px;
    background: url("BANNIERE.png");
    background-position: center;
    background-size: cover;
  }
  .accueilg-btn1 .cadre-btn1 {
    margin: 0 2em;
  }
  .accueilg-btn1 .cadre-btn1 a {
    padding: 10px 65px;
  }
  .accueilg-btn1 .recruteur-btn1 {
    margin: 0 2em;
  }
  .accueilg-btn1 .recruteur-btn1 a {
    padding: 10px 50px;
  }
  .first-btn1 {
    position: absolute;
    width: 100%;
    top: 288px;
  }
}

.navbar-content {
  text-transform: uppercase;
  font: 500 20px Raleway, sans-serif;
}

.navbar-content .navbar-item {
  list-style: none;
  text-decoration: none;
  color: black;
}

.navbar-content .navbar-item li {
  padding: 10px;
  width: 100%;
}

.navbar-content .dropup1 .dropup-btn1 {
  padding: 10px 8px;
  cursor: pointer;
}

.navbar-content .dropup1 .dropup-item1 {
  padding: 10px;
}

.navbar-content .dropup1 .dropup-item1:hover, .navbar-content .dropup1 .dropup-item1:active {
  background-color: white;
}

.navbar-content .dropup1 .dropup-content1 {
  display: none;
}

.navbar-content .dropup1 .dropup-content1 a {
  text-decoration: none;
  color: black;
}

.navbar-content .dropup1 #photo-profil {
  width: 50px;
}

.navbar-logo {
  width: 72px;
  height: 76px;
}

.navbar-logo img {
  width: 100%;
}

nav {
  padding-top: 20px;
}

.logo-g {
  margin: 0 auto;
  padding: 30px;
}

.logo-g img {
  width: 100%;
}

.btn-btn {
  top: 26px;
  right: 20px;
  z-index: 2;
  position: absolute;
  height: 30px;
  width: 30px;
  align-self: center;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-btn-burger {
  position: absolute;
  width: 100%;
  top: 10px;
  height: 5px;
  background: grey;
}

.btn-btn-burger::before {
  content: ' ';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 5px;
  background: grey;
}

.btn-btn-burger::after {
  content: ' ';
  position: absolute;
  top: 10px;
  width: 70%;
  height: 5px;
  background: grey;
}

.btn-btn .open {
  transform: rotate(720deg);
  transition: all 500ms ease-in-out;
  background: transparent;
}

.btn-btn-burger.open::before {
  width: 125%;
  transition: all 500ms ease-in-out;
  transform: rotate(45deg) translate(4px, 10px);
}

.btn-btn-burger.open::after {
  width: 125%;
  transition: all 500ms ease-in-out;
  transform: rotate(-45deg) translate(4px, -10px);
}

.accueilg-btn1 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.accueilg-btn1 a {
  color: white;
  font-family: 500 20px Raleway, sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-color: #e3d7bf;
}

.accueilg-btn1 a:hover {
  text-decoration: none;
  color: #e3d7bf;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(221, 216, 216, 0.63);
}

.accueilg-content1 {
  width: 85%;
  box-sizing: border-box;
  margin-bottom: 64px;
}

.accueilg-content1 h2 {
  font: 500 20px Raleway, sans-serif;
  color: #d6b36a;
  margin: 15px 0;
}

.accueilg-content1 p {
  font: 18px Questrial, sans-serif;
  text-align: justify;
}

.accueilg-content1 .cc-accueuil1 {
  text-align: center;
  margin: 40px 0;
}

.footer-oiam {
  width: 85%;
  margin: 30px auto;
}

.footer-oiam a {
  text-decoration: none;
}

.footer-oiam a:hover {
  text-decoration: none;
}

.footer-oiam hr {
  background: black;
  height: 2px;
  opacity: 0.8;
}

.footer-oiam .footer-btn {
  display: flex;
  justify-content: flex-end;
  font-family: 500 20px Raleway, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer-oiam .footer-btn a {
  padding: 15px;
  background-color: #e3d7bf;
  color: white;
}

.footer-oiam .footer-bottom {
  display: flex;
  align-items: center;
}

.footer-oiam .footer-bottom .footer-c,
.footer-oiam .footer-bottom .copyright {
  font-family: 500 20px Raleway, sans-serif;
  font-size: 12px;
}

.footer-oiam .footer-bottom .footer-c a,
.footer-oiam .footer-bottom .copyright a {
  margin-right: 10px;
  color: black;
}

.footer-oiam .footer-bottom .social {
  text-align: center;
}

.footer-oiam .footer-bottom .social img {
  width: 20px;
}

.box-1-logo {
  width: 70%;
}

.box-1-logo img {
  width: 100%;
}

.box-1-content {
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  font: 18px Questrial, sans-serif;
}

.box-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box-1-btn {
  justify-self: start;
  align-self: flex-end;
  margin-right: 10%;
  font: 500 20px Raleway, sans-serif;
  background-color: #e3d7bf;
  padding: 1em 2em;
  text-decoration: none;
  color: white;
}

.box-1-btn:hover {
  box-shadow: 1px 1px 10px 1px #e6e1e1;
  background-color: rgba(255, 255, 255, 0.8);
  color: #e3d7bf;
  text-decoration: none;
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
}
