@media screen and (max-width: 540px) {
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 100%;
  }
  .box-2 {
    display: none;
  }
  .navbar-content {
    display: none;
  }
  .navb {
    padding: 5px 50px;
    background-color: #e3d7bf;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    color: #e3d7bf;
    width: 150px;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.432);
  }
  .dropup-content1 {
    border: 2px white solid;
    display: none;
  }
  .dropup-content1 .dropup-item1:hover {
    background-color: white;
    color: #e3d7bf;
  }
  .dropup1 {
    padding-bottom: 10px;
  }
  .accueilg-btn1 .cadre-btn a {
    padding: 10px 55px;
  }
  .accueilg-btn1 .recruteur-btn a {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 540px) {
  .logo-g {
    display: none;
  }
  .box-1 {
    width: 50%;
  }
  .box-2 {
    display: block;
    width: 50%;
  }
  .box-2 img {
    width: 100%;
    height: 100vh;
  }
  .navb {
    padding: 5px 50px;
    background-color: #e3d7bf;
  }
  .navbar-content {
    display: none;
  }
  .navbar-item li:hover {
    background-color: white;
    color: #e3d7bf;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: white;
    color: #e3d7bf;
    width: 150px;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.432);
  }
  .dropup-content1 {
    border: 2px white solid;
    display: none;
  }
  .dropup-content1 .dropup-item1:hover {
    background-color: white;
    color: #e3d7bf;
  }
}

@media screen and (min-width: 768px) {
  .logo-g {
    display: none;
  }
  .dropup-content1 {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .logo-g {
    display: block;
    width: 45%;
  }
  .navb {
    padding: 5px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-self: center;
  }
  .navbar-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: inherit;
  }
  .navbar-ul .navbar-item li:hover {
    background-color: transparent;
    color: #d6b36a;
  }
  .dropup-btn1 {
    text-align: center;
    background-color: #e3d7bf;
    color: white;
    width: 170px;
  }
  .dropup-btn1:hover {
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 1px 1px 10px 1px rgba(221, 216, 216, 0.63);
    color: #e3d7bf;
  }
  .dropup-content1 {
    position: absolute;
    background-color: #f0f2f4;
    padding: 10px;
    width: 195px;
    right: 4%;
    top: 68px;
    text-align: center;
    z-index: 20;
  }
  .btn-btn {
    display: none;
  }
  .navdiv {
    padding-bottom: 70px;
  }
  .bg-inside {
    background: url("BANNIERE.png");
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-content {
    justify-content: space-between;
    width: 66%;
    align-items: flex-end;
  }
  .navbar-ul {
    width: 70%;
    margin-bottom: inherit;
  }
  .dropup-content1 {
    right: 4%;
  }
  .logo-g {
    width: 40%;
  }
  .navdiv {
    padding-bottom: 100px;
  }
  .bg-inside {
    background: url("BANNIERE.png");
    background-position: center;
    background-size: cover;
  }
  .bg-accueil {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url("BANNIERE.png");
    background-position: center;
    background-size: cover;
  }
  .accueilg-btn1 .cadre-btn a {
    padding: 20px 65px;
  }
  .accueilg-btn1 .recruteur-btn a {
    padding: 20px 50px;
  }
}

.navbar-content {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.navbar-content .navbar-item {
  list-style: none;
  text-decoration: none;
  color: black;
}

.navbar-content .navbar-item li {
  padding: 10px;
  width: 100%;
}

.navbar-content .dropup1 .dropup-btn1 {
  padding: 10px 8px;
  cursor: pointer;
}

.navbar-content .dropup1 .dropup-item1 {
  padding: 10px;
}

.navbar-content .dropup1 .dropup-content1 a {
  text-decoration: none;
  color: black;
}

.navbar-content .dropup1 #photo-profil {
  width: 50px;
}

.navbar-logo {
  width: 72px;
  height: 76px;
}

.navbar-logo img {
  width: 100%;
}

nav {
  padding-top: 20px;
}

.logo-g {
  margin: 0 auto;
  padding: 30px;
}

.logo-g img {
  width: 100%;
}

.btn-btn {
  top: 26px;
  right: 20px;
  z-index: 2;
  position: absolute;
  height: 30px;
  width: 30px;
  align-self: center;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-btn-burger {
  position: absolute;
  width: 100%;
  top: 10px;
  height: 5px;
  background: grey;
}

.btn-btn-burger::before {
  content: ' ';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 5px;
  background: grey;
}

.btn-btn-burger::after {
  content: ' ';
  position: absolute;
  top: 10px;
  width: 70%;
  height: 5px;
  background: grey;
}

.btn-btn .open {
  transform: rotate(720deg);
  transition: all 500ms ease-in-out;
  background: transparent;
}

.btn-btn-burger.open::before {
  width: 125%;
  transition: all 500ms ease-in-out;
  transform: rotate(45deg) translate(4px, 10px);
}

.btn-btn-burger.open::after {
  width: 125%;
  transition: all 500ms ease-in-out;
  transform: rotate(-45deg) translate(4px, -10px);
}

.accueilg-btn1 {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.accueilg-btn1 .cadre-btn {
  padding: 10px;
}

.accueilg-btn1 .recruteur-btn {
  padding: 10px;
}

.accueilg-btn1 a {
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-color: #e3d7bf;
}

.accueilg-btn1 a:hover {
  text-decoration: none;
  color: #e3d7bf;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(221, 216, 216, 0.63);
}

.accueilg-content {
  width: 80%;
  margin: 0 auto;
}

.box-1-logo {
  width: 70%;
}

.box-1-logo img {
  width: 100%;
}

.box-1-content {
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  font-family: Questrial, sans-serif;
  font-size: 16px;
}

.box-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box-1-btn {
  justify-self: start;
  align-self: flex-end;
  margin-right: 10%;
  font-size: 16px;
  font-weight: 600;
  font-family: Raleway, sans-serif;
  background-color: #e3d7bf;
  padding: 1em 2em;
  text-decoration: none;
  color: white;
}

.box-1-btn:hover {
  box-shadow: 1px 1px 10px 1px #e6e1e1;
  background-color: rgba(255, 255, 255, 0.8);
  color: #e3d7bf;
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
}
