*, *::before, *::after{
	box-sizing: border-box;
}

html{
	font-size: 16px;
}

body{
	font-family: 'Questrial', sans-serif;
	line-height: 1.2;
	margin: 0;
}

.pass-test{
  width: 350px;
  height: 70px;
  font-size: 16px;
  padding-top: 25px;
}

h1 img{
  margin-left: 15px;
}

.trait1::after{
	background: #D6B36A;
}

.cadres{
	display: block;
	margin: auto;
	width: auto;
	height: auto;
	padding: 26px 50px 90px 50px;
	background-color: #E3D7BF;
	margin-bottom: 87px;
	text-align: justify;
}

.cadres h1{
	text-align: center;
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #B68E27;
	margin: 25px 0;
}

@media only screen and (min-width: 620px) {
	html{
		font-size: 16px;
	}

	body{
		font-family: 'Questrial', sans-serif;
		line-height: 1.2;
		margin: 0;
	}

	.step{
	  display: inline-block;
	  width: 50px;
		margin-right: 20px;
	}

	.cadres{
		display: block;
		margin: auto;
		width: auto;
		height: auto;
		padding: 26px 60px 90px 60px;
		background-color: #E3D7BF;
		margin-bottom: 80px;
		text-align: justify;
	}
}

@media only screen and (min-width: 1024px) {
	html{
		font-size: 16px;
	}

	body{
		font-family: 'Questrial', sans-serif;
		line-height: 1.2;
		margin: 0;
	}

	.step{
		display: inline-block;
		width: 50px;
		margin-right: 20px;
	}

	.cadres{
		display: block;
		margin: auto;
		width: 870px;
		height: 800px;
		padding: 26px 77px 90px 77px;
		background-color: #E3D7BF;
		margin-bottom: 80px;
		text-align: justify;
	}
}
