<!-- appel css footer  -->
<link rel="stylesheet" href="/css/admin_footer.css" />
<!-- body html footer  -->
<div class="bg-footer">
  <div class="footer-oiam">
    <hr />
    <div class="footer-bottom">
      <div class="footer-c">
        <%=link_to "Conditions générales", root_path%> <%=link_to "Règles de communauté", root_path%> <%=link_to "Politique de confidentialité", root_path%> <%=link_to "Charte d'utilisation des cookies", root_path%>
      </div>
      <div class="copyright">
        &copy; 2020
      </div>
      <div class="social">
        <a href="#" target="_blank" title="Linkedin"><img src="/image/icon-linkedin.jpg" alt="linkedin logo" /> </a>
        <a href="#" target="_blank" title="Instagram"><img src="/image/icon-instagram1.png" alt="instagram logo" /></a>
        <a href="#" target="_blank" title="Facebook"><img src="/image/icon-facebook.png" alt="facebook logo" /></a>
        <a href="#" target="_blank" title="Trustfulio"><img src="/image/icon-trustfolio.png" alt="trustfolio logo" /></a>
      </div>
    </div>
  </div>
</div>
