<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/image/OIAM_DIAMOND.png" />
    <%= wicked_pdf_stylesheet_link_tag "promise_pdf_wicked" -%>
    <title>Promise</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
